<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
        <div class="breadcumb-shape">
        </div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
           
        </div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
           
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">About <span style="color: rgb(255, 166, 0);"> Us</span></h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li style="color: rgb(255, 166, 0);">About Us</li>
                </ul>
            </div>
        </div>
    </div>


     <!--==============================
Our Center Area  
==============================-->
<section class="space overflow-hidden ">
  
    <div class="container">
        <div class="title-area text-center">
            <h4 class="sec-title">Our All Centers</h4>
        </div>
        <div class="process-card-area">
            <div class="row gy-50 justify-content-center slider-shadow th-carousel category-slider" data-slide-show="4" data-ml-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-arrows="true" data-xl-arrows="true">
                <div class="col-md-6 col-lg-4 process-card-wrap ">
                    
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/delhi-1.png" alt="img">
                        </div>
                    
                        <h4 class="box-title">Delhi</h4>
                        <p class="process-card_text">E-365, 2nd Floor, Nirman Vihar Metro Station, Gate No-4, Pillar No-64, Vikas Marg,New Delhi, Pin No.-110092</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">8800533302/8800533352</a></h3>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/gurgoan-1.png" alt="img">
                        </div>
                     
                        <h4 class="box-title">Gurugram</h4>
                        <p class="process-card_text">NM 22, Block 22, 1st Floor, Old DLF Colony, Sector 14, Gurgaon-122001, Haryana <br> </p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">7838900910/9599910072</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/bbsr-1.png" alt="img">
                        </div>
                       
                        <h4 class="box-title">Bhubaneswar</h4>
                        <p class="process-card_text">Plot No- 2273/4103, 2nd Floor, Biju Pattanaik College Road, Jayadev Vihar Square, Bhubaneswar, Odisha-751013</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">7682823980/7682823981</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/indore-1.png" alt="img">
                        </div>
                       
                        <h4 class="box-title">Indore Campus-1</h4>
                        <p class="process-card_text"> 2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main Ab Road, Indore, Madhya Pradesh-452014</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">9993110172/9599910172</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/indore-1.png" alt="img">
                        </div>
                       
                        <h4 class="box-title">Indore Campus-2</h4>
                        <p class="process-card_text"> 2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main Ab Road, Indore, Madhya Pradesh-452014</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">9993110172/9599910172</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

     <!--==============================
About Area  
==============================-->
<div class="overflow-hidden space bg-smoke" id="about-sec">
    <div class="shape-mockup jump d-md-block d-none" data-right="0" data-bottom="10%"><img src="assets/img/normal/about_2_shape1.png" alt="shapes"></div>
    <div class="shape-mockup jump d-md-block d-none" data-right="76px" data-bottom="10%"><img src="assets/img/normal/about_1_shape1.png" alt="shapes"></div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-6 mb-50 mb-xl-0">
                <div class="img-box2">
                    <div class="img1">
                        <img src="assets/img/normal/about_1.png" alt="About">
                    </div>
                    <div class="img2 tilt-active">
                        <img src="assets/img/normal/about_2.png" alt="About">
                    </div>
                    <div class="about-experience-wrap">
                        <div class="about-experience-icon">
                            <img src="assets/img/icon/logo-icon.svg" alt="img">
                        </div>
                        <div class="about-experience-tag">
                            <span class="about-title-anime">12+ YEARS EXPERIENCE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about2-title-wrap">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Get to Know About Us</span> -->
                        <h4 class="sec-title">Why We <span style="color: rgb(255, 166, 0);">Standout?</span></h4>
                    </div>
                    <p class="mt-n2 mb-35">Vajirao IAS Academy is a prestigious Institute in India known for preparing candidates for the Civil Services Examination at multiple levels. </p>
                    <div class="checklist style3 mb-45">
                        <ul>
                            <li> A team of finest faculties</li>
                            <li> Study materials</li>
                            <li> Fully equipped classrooms</li>
                            <li> Personal attention by the teachers</li>
                            <li> Website dedicated for daily resources</li>
                            <li> Test series by experienced educators</li>

                        </ul>
                    </div>
                    <a href="about.html" class="th-btn">KNOW MORE<i class="far fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--==============================
Goals Area  
==============================-->
<div class="overflow-hidden position-relative space "  id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/target.jpg" alt="img">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        
                        <h4 class="sec-title" >Achieve your Goals with <span style="color: #FFCF01;"> Vajirao IAS Academy</span></h4>
                        <span class="sub-title"> We Are India’s Premier Coaching Institute For Civil Services</span>
                    </div>
                    <p class="mt-n2 mb-20">Good Civil Servants ensure efficient and smooth governance. They are the backbone of the country and they have the power to make a difference in people’s life.</p>
                    <p class="mb-30">Vajirao IAS Academy is a prestigious Institute in India known for preparing candidates for the Civil Services Examination at multiple levels – Preliminary Test, Mains Examination and Personality Test. The Institute is professionally managed by a Board of Directors. The faculties of the Institute are highly qualified and experienced. Most of the faculty members are taken from a pool of various Central Universities and other reputed Institutes with decades of experience.</p>
                    <a href="/contact" class="th-btn">Apply Now<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Our Approach
==============================-->
<div class="overflow-hidden position-relative space bg-smoke" id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-xl-6">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title">Our <span style="color: rgb(255, 166, 0);">Approach</span></h4>
                    </div>
                    <p class="mt-n2 mb-20">Vajirao IAS Academy isn’t just one of the best Civil Services coaching institutes in town. We DO our best to equip you to deliver when it matters most. Vision, Aptitude, Judgement, Integrity, Rationality, Assertiveness and Organization are some key attributes expected of Civil Services aspirants. VAJIRAO stands for all of that.</p>
                    <p class="mb-30">At the core of our strategy is a highly effective teaching method that seeks to give you conceptual clarity in all relevant subjects and topics so that you can tackle questions with confidence. Above all, we demystify the Civil Services for you in a rigorous, yet friendly environment where learning is made enjoyable. For this, we rope in the best and experienced minds in the field.</p>
                    <a href="/contact" class="th-btn">Apply now<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-xl-6 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active" >
                    <img src="assets/img/normal/aproach.jpg" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Finest Set Of Faculties
==============================-->
<div class="overflow-hidden position-relative space " id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/estudis-uoc.jpeg" alt="img">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title">Finest Set Of <span style="color: rgb(255, 166, 0);">Faculties</span> </h4>
                    </div>
                    <p class="mt-n2 mb-20">VAJIRAO IAS ACADEMY proudly boasts to possess one of the finest set of faculties to guide our students towards success. They are highly trained and experienced mentors belonging to diverse set of backgrounds well acquainted with the vagaries of the competitive exams.</p>
                    <p class="mb-30">Our faculties are the torch-bearers for the academy who have guided numerous aspirants to success and will continue to do so in times to come. They will help you streamline your preparation and with them by your side, we bet you will be able to sail through the Topsy-turvy UPSC journey with flying colors.</p>
                    <a href="/contact" class="th-btn">apply now<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--==============================
Achievements Area  
==============================-->
<div class="overflow-hidden position-relative space bg-smoke" id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
           
            <div class="col-xl-6">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title">Our <span style="color: rgb(255, 166, 0);">Achievements</span></h4>
                    </div>
                    <p class="mt-n2 mb-20">Vajirao IAS Academy stands as a distinguished institute dedicated to preparing aspirants for UPSC, OPSC, MPPSC, and various civil services examinations. Renowned for its progressive approach, high academic standards, and a cadre of exceptional mentors, the academy is committed to shaping candidates for success in the realm of civil services. Proudly adorned with numerous accolades, these awards serve as testaments to the intrinsic value and significance of our educational endeavors.</p>
                    <p class="mb-30">Our mission extends beyond mere examination success; we aim to foster individuals who, in addition to excelling in exams, can contribute meaningfully to society and the political landscape. Vajirao IAS Academy is resolute in its commitment to providing a conducive learning environment, characterized by academic excellence, dedication, and unwavering enthusiasm.</p>
                    <a href="/contact" class="th-btn">Know more<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-xl-6 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/achivment.jpg" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</div>

 <!--==============================
Counter Area  
==============================-->
<div class="counter-area-2" style="background-color: #082343;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">40</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Students</strong> Enrolled</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">10</span><span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Total </strong>Courses</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">20</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Online </strong> Learners</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">90</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Social Media</strong>Followers</p>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--==============================
Testimonial Area  
==============================-->
<section class="testi-area-2  space overflow-hidden">
    
    <div class="container">
        <div class="title-area text-center">
            <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Students Testimonials</span> -->
            <h4 class="sec-title">Topper’s Say’s About <span style="color: #FEB400;"> Vajirai IAS Academy</span></h4>
        </div>
        <div class="row gx-5">
            <div class="col-xl-5">
                <div class="testi-thumb mb-xl-0 mb-5">
                    <img src="assets/img/testimonial/topper-quotes.webp" alt="img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="row testi-slider2 th-carousel" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-arrows="true">
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“It was a lovely experience interacting with the students here at the Academy. I
                                wish the very best for the Institution, its faculty and all the students. Hope
                                the names from Odisha increase in the coming years, with the guidance being
                                provided. All the very best! ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/shruti.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Shruti Sharma</h3>
                                    <span class="testi-card_desig">AIR-1, CSE-2021</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I wish the academy very best in its endeavors in providing the right guidance to
                                the aspiring candidates. Also I wish “All the Best” to all the UPSC Aspirants.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/sanjita- mahapatra.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Sanjita Mohapatra</h3>
                                    <span class="testi-card_desig">AIR-10, CSE-2019</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I wish the academy very best in its endeavors in providing the right guidance to
                                the aspiring candidates. Also I wish “All the Best” to all the UPSC Aspirants.”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/pradeep  ias.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Pradeep Singh</h3>
                                    <span class="testi-card_desig">AIR-1, CSE-2019</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Believe in yourself and you will surely achieve the greatness you are meant to
                                achieve”. The journey to UPSC CSE will change you as a person – Enjoy it.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/kajal-jawla.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Kajal Jawla</h3>
                                    <span class="testi-card_desig">AIR-28, CSE-2018</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Vajirao IAS Academy has helped me a lot.They have an excellent faculty team as
                                well course content.They guide you to all the three stages and motivate you
                                constantly.I wish you guys all the best.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/risab ca.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Rishab CA</h3>
                                    <span class="testi-card_desig">AIR-23, CSE-2018</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Best wishes to the institute and the students.Hope you achieve your dreams and
                                find success in the exam.                         
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/akshyta.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Akshat Jain</h3>
                                    <span class="testi-card_desig">AIR-2, CSE-2018</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I hereby convey my heartfelt best wishes to the institute to scale new heights
                                and set new records while fulfilling students’ dreams. May Odisha produce more
                                and more number of civil servants and your dedication and hard work bear fruits.
                                                      
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/anu kumari.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Anu Kumari</h3>
                                    <span class="testi-card_desig">AIR-2, CSE-2017</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Best Wishes to All Students!! Have confidence in yourself and your mentors of
                                VAJlRAO lAS ACADEMY and be patient. Your commitment and hard work will get you
                                results and definetely you all will do wonders.
                                                      
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/chinmayee-dash.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Chimayee Chetna Dash</h3>
                                    <span class="testi-card_desig">Rank-1, OAS-2016</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
</section>
    <!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>