<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
            <span style="color: rgb(255, 166, 0)"> Downloads </span>
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">Downloads</li>
          </ul>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
<section class="space-bottom space">
    <div class="container">
        <div class="row">
            <h2>Monthly <b style="color: red;">Current Affairs</b>  Materials</h2>
            <div class="col-xl-6 mb-30 mb-xl-0 ">
                <a href="assets/img/Monthly-Current-Affairs-Magazine—March-2022.pdf">
                <div class="cta-card " data-bg-src="assets/img/book.webp">
                    <div class="title-area mb-40 ">
                        <span class="sub-title" style="color: #fff;"><i class="fal fa-book me-2"></i>Monthly Current Affaris</span>
                        <h4 class="sec-title" style="color: #fff;">Magazine for  <br><b style="color: red;">March </b>  </h4>
                    </div>
                    <a href="assets/img/Monthly-Current-Affairs-Magazine—March-2022.pdf" class="th-btn">Downloads</a>
                </div>
            </a>
            </div>
            <!-- <div class="col-xl-6">
                <div class="cta-card" data-bg-src="assets/img/update1/bg/card_bg_v2_2.jpg">
                    <div class="title-area mb-40">
                        <span class="sub-title"><i class="fal fa-book me-2"></i>Popular Courses</span>
                        <h4 class="sec-title">Get The Best Courses & <br> Upgrade Your Skills </h4>
                    </div>
                    <a href="contact.html" class="th-btn">Join With Us<i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</section>


    <!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Contact Area  
==============================-->
    <% include commonsection/contactform.ejs %>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
