<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
        <div class="breadcumb-shape">
        </div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
           
        </div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
           
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title"><span style="color: rgb(255, 166, 0);">Faq</span></h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li style="color: rgb(255, 166, 0);">Faq</li>
                </ul>
            </div>
        </div>
    </div>




     <!--==============================
About Area  
==============================-->
<!-- <div class="overflow-hidden space bg-smoke" id="about-sec">
    <div class="shape-mockup jump d-md-block d-none" data-right="0" data-bottom="10%"><img src="assets/img/normal/about_2_shape1.png" alt="shapes"></div>
    <div class="shape-mockup jump d-md-block d-none" data-right="76px" data-bottom="10%"><img src="assets/img/normal/about_1_shape1.png" alt="shapes"></div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-6 mb-50 mb-xl-0">
                <div class="img-box2">
                    <div class="img1">
                        <img src="assets/img/normal/about_1.png" alt="About">
                    </div>
                    <div class="img2 tilt-active">
                        <img src="assets/img/normal/about_2.png" alt="About">
                    </div>
                    <div class="about-experience-wrap">
                        <div class="about-experience-icon">
                            <img src="assets/img/icon/logo-icon.svg" alt="img">
                        </div>
                        <div class="about-experience-tag">
                            <span class="about-title-anime">12+ YEARS EXPERIENCE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about2-title-wrap">
                    <div class="title-area mb-30">
                       
                        <h4 class="sec-title">Why We <span style="color: rgb(255, 166, 0);">Standout?</span></h4>
                    </div>
                    <p class="mt-n2 mb-35">Vajirao IAS Academy is a prestigious Institute in India known for preparing candidates for the Civil Services Examination at multiple levels. </p>
                    <div class="checklist style3 mb-45">
                        <ul>
                            <li> A team of finest faculties</li>
                            <li> Study materials</li>
                            <li> Fully equipped classrooms</li>
                            <li> Personal attention by the teachers</li>
                            <li> Website dedicated for daily resources</li>
                            <li> Test series by experienced educators</li>

                        </ul>
                    </div>
                    <a href="/about" class="th-btn">KNOW MORE<i class="far fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--==============================
Faq Area
==============================-->
<div class="overflow-hidden space " style="background-color: #fbf6f3;">
    <div class="container">
      <div
        class="row"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="col-xl-10 order-xl-1">
          <div class="me-xl-5">
            <div class="title-area">
              <h2 class="sec-title">
                Frequently asked questions about
                <span style="color: #feb400">Vajirao IAS Academy</span>
              </h2>
            </div>
            <div class="accordion-area accordion" id="faqAccordion">
              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-1">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-1"
                    aria-expanded="false"
                    aria-controls="collapse-1"
                  >
                  What is the current pattern of the Civil Services Examination?
                  </button>
                </div>
                <div
                  id="collapse-1"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-1"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <!-- <p class="faq-text">
                      The duration of our IAS coaching program in Delhi varies
                      from 6 months to 1 year, depending on the course
                      selected.
                    </p> -->
                    <p>Ans.- Civil Services Examination is a 3-stage examination held every year.<br>
                        Stage 1 – Preliminary Test<br>
                        Stage 2 – Mains Exam<br>
                        Stage 3 – Personality Test / Interview.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card active">
                <div class="accordion-header" id="collapse-item-2">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-2"
                    aria-expanded="true"
                    aria-controls="collapse-2"
                  >
                  What is the Preliminary Test?
                  </button>
                </div>
                <div
                  id="collapse-2"
                  class="accordion-collapse collapse show"
                  aria-labelledby="collapse-item-2"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Ans.- Stage 1 – Preliminary Test – consists of objective questions with penalty (negative marking) for wrong answers. </p>
									<p>Paper 1 – General Studies (200 marks) 2 hours</p>
									<p>Paper 2 – CSAT (Civil Services Aptitude Test) (200 marks) 2 hours (This will be a qualifying paper with minimum qualifying marks fixed at 33%)</p>
									<p>There is a cut-off in the Preliminary Test which varies every year and is decided by the UPSC.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-3">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-3"
                    aria-expanded="false"
                    aria-controls="collapse-3"
                  >
                  What is the Mains Examination?
                  </button>
                </div>
                <div
                  id="collapse-3"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-3"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Ans.- The Mains Exam consists of 9 papers which are usually held in around 5-7 days. The current pattern of Mains examination is as follows:-</p>
									<p>General Studies</p>
									<p>Paper 1 – 250 marks (3 hours)</p>
									<p>Paper 2 – 250 marks (3 hours)</p>
									<p>Paper 3 – 250 marks (3 hours)</p>
									<p>Paper 4 – 250 marks (3 hours)</p>
									<p>Optional Subject 1</p>
									<p>Paper 1 – 250 marks (3 hours)</p>
									<p>Paper 2 – 250 marks (3 hours)</p>
									<p>Essay – 250 marks (3 hours)</p>
									<p>English Language 300 marks (qualifying paper; marks not included in Mains Exam)</p>
									<p>Indian Language 300 marks (qualifying paper; marks not included in Mains Exam)</p> 
									<p>Both the papers of either General Studies or Optional subject are held on the same day.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-4">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-4"
                    aria-expanded="false"
                    aria-controls="collapse-4"
                  >
                  What is the Interview or Personality Test stage?
                  </button>
                </div>
                <div
                  id="collapse-4"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-4"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Students who qualify for Interview are called by the UPSC. The Interviews usually start 2 weeks after the Mains Exam results are announced.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-5">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-5"
                    aria-expanded="false"
                    aria-controls="collapse-5"
                  >
                  When is the Final result declared?
                  </button>
                </div>
                <div
                  id="collapse-5"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-5"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>This is computed on the basis of the total marks scored by candidates in Mains Examination (1750) and Personality Test or Interview (275). The final result is declared in May.<br>
                        Final Ranking and Service allocation is based on the combined marks scored in Mains Examination (1750) and Interview (275) and on the preferences given by the candidates at the time of filling up of the Mains Examination application form.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-6">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-6"
                    aria-expanded="false"
                    aria-controls="collapse-6"
                  >
                  When does the UPSC advertize about the Examination?
                  </button>
                </div>
                <div
                  id="collapse-6"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-6"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>UPSC publishes the advertisement for holding the Civil Services Examination every year for the Preliminary Test to be held the next year.Applications are invited by UPSC until the stipulated date of that year more specifically mentioned in the year’s advertisement.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-7">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-7"
                    aria-expanded="false"
                    aria-controls="collapse-7"
                  >
                  What is the eligibility to appear for this Examination?
                  </button>
                </div>
                <div
                  id="collapse-7"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-7"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Students must be degree holders or graduates (degree recognized by University Grants Commission) to appear for this Examination. Indian students holding a foreign degree need to ensure that their degree is accredited or recognized by UGC.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-8">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-8"
                    aria-expanded="false"
                    aria-controls="collapse-9"
                  >
                  What is the minimum and maximum age required to appear in the exam?
                  </button>
                </div>
                <div
                  id="collapse-8"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-8"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Candidates belonging to General category and OBC (creamy layer) must have attained the age of 21 on 1st August of the year of the Exam but must not have attained the age of 32 on 1st August of the year of the Exam.</p>
									<p>Candidates belonging to OBC (non creamy layer) category must have attained the age of 21 on 1st August of the year of the Exam but must not have attained the age of 35 on 1st August of the year of the Exam.</p>
									<p>Candidates belonging to SC category must have attained the age of 21 on 1st August of the year of the Exam but must not have attained the age of 37 on 1st August of the year of the Exam.</p>
									<p>Candidates belonging to ST category must have attained the age of 21 on 1st August of the year of the Exam but must not have attained the age of 37 on 1st August of the year of the Exam.</p>
								</div>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-9">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-9"
                    aria-expanded="false"
                    aria-controls="collapse-9"
                  >
                  What is the number of maximum attempts for different categories?
                  </button>
                </div>
                <div
                  id="collapse-9"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-9"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>General category and OBC (creamy layer) category have a maximum of 6 attempts.</p>
									<p>OBC (non creamy layer) have a maximum of 9 attempts.</p>
									<p>For Scheduled Caste and Scheduled Tribe category candidates there is no limit on the number of attempts till they attain the age of 37 years.</p>
									<p>Students belonging to OBC/SC/ST can give the first 4 attempts as General category candidates (if they so desire) and thereafter they can avail the relaxation in the number of attempts by availing the category benefits.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-10">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-10"
                    aria-expanded="false"
                    aria-controls="collapse-10"
                  >
                  What is the number of vacancies in Civil Services for which the examination is conducted every year by UPSC?
                  </button>
                </div>
                <div
                  id="collapse-10"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-10"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>The number of vacancies reported by Union Public Service Commission varies every year. The number of vacancies per year in the last 5 years had varied between 800 and 1300.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-11">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-11"
                    aria-expanded="false"
                    aria-controls="collapse-11"
                  >
                  What is the competition level in UPSC Civil Services Examination?
                  </button>
                </div>
                <div
                  id="collapse-11"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-11"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>Every year, for the 1st stage (Preliminary Test), the number of students aspiring for the UPSC Civil Services has gone up to more than 10,00,000 who fill the form and the number of people appearing in the preliminary exam is about 400,000. Out of the 4 lakh candidates appearing in the Preliminary Examination, the number of candidates qualifying is dependent on the number of vacancies in the Civil Services advertised that year. To give an example, if the advertisement is for 1000 vacancies, then about 12,000 candidates would be called (qualified) by the UPSC to appear in the Mains exam &amp; the number of candidates who will qualify the Mains examination to appear in the Interview would be about 2500.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!--==============================
Counter Area  
==============================-->

<% include commonsection/counter.ejs %>
<!--==============================
Testimonial Area  
==============================-->
<% include commonsection/testimonial.ejs %>
<!--==============================
Our Center Area  
==============================-->
<% include commonsection/center.ejs %>
    <!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>