<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          Fee Structure <span style="color: rgb(255, 166, 0)">Delhi Center</span>
        </h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0)">Fee Structure Delhi Center</li>
        </ul>
      </div>
    </div>
  </div>




  <!--==============================
All Branches admission Area  
==============================-->


  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <!-- <img src="assets/img/normal/wcu_2_shape1.png" alt="img" /> -->
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" /> -->
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <!-- <h3 class="h5 wcu-box_title" style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          /* text-align: center; */
                          font-size: 30px !important;
                          font-weight: bold;
                          
                        ">
                       <span style="color: red;">Mains/Written</span> Examination
                    </h3> -->


                    <p class="wcu-box_text">
                      <b>Vajirao IAS Academy, the best IAS coaching center in Delhi is one of the finest institute of UPSC Coaching Classes in both online and offline mode. Our modest and affordable fee structure has enabled numerous aspirants from all over the country achieve success in the UPSC CSE over the years. Starting with Foundation batches, our institute also delivers IAS Coaching in various packages suiting to the demands of varied category of UPSC aspirants. Given below is a complete layout of our courses offered. Have a glance and choose the best one for yourself.</b>
                    </p>
                    <br />

                  </div>
                </div>

                <div class="row">
                  <table class="shadow table table-hover">
                    <tbody>
                      <tr style="background-color: blueviolet; color: #fff; text-align: center; font-weight: bold;">
                        <td colspan="8">Offline Mode</td>
                      </tr>
                      <tr class=" text-center" style="background-color: rgb(89, 91, 20); color: #fff; font-weight: bold; ">
                        <td colspan="8">Fee Structure (Including GST) – Nirman Vihar (English Medium)</td>
                      </tr>
                      <tr style="background-color: rgb(196, 243, 114); font-weight: bold; ">
                        <td rowspan="2">Course</td>
                        <td rowspan="2">Time Duration</td>
                        <td rowspan="2">Total Fee</td>
                        <td colspan="2">New Admissions</td>
                        <td colspan="2">Ex-Vajirao Student</td>
                      </tr>
                      <tr style="background-color: rgb(239, 163, 205); font-weight: bold;  ">
                        <td>One Time Fee</td>
                        <td>Installment Fee</td>
                        <td>One Time Fee</td>
                        <td>Installment Fee</td>
                      </tr>
                      <tr>
                        <td>Beginners Batch (NCERT Base Building + Prelims GS + Mains GS + Essay Writing + (P+M) Test Series + Group Discussion Sessions + Study Materials)</td>
                        <td>18 Months</td>
                        <td>₹132,000</td>
                        <td>₹122,000</td>
                        <td>₹132,000</td>
                        <td>₹112,000</td>
                        <td>₹122,000</td>
                      </tr>
                      <tr>
                        <td>Foundation Batch (2yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Test Series(P+M)+Group Discussions+ Study Material)</td>
                        <td>24 Months</td>
                        <td>₹225,000</td>
                        <td>₹215,000</td>
                        <td>₹225,000</td>
                        <td>₹205,000</td>
                        <td>₹225,000</td>
                      </tr>
                      <tr>
                        <td>Foundation Batch&nbsp; (3yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Answer Writing Sesesions+Test Series(P+M)+Group Discussions+ Study Material+Interview/ Personality Test Guidance Programme)</td>
                        <td>36 Months</td>
                        <td>₹295,000</td>
                        <td>₹285,000</td>
                        <td>₹295,000</td>
                        <td>₹275,000</td>
                        <td>₹285,000</td>
                      </tr>
                      <tr>
                        <td>Boosters Batch (Prelims GS + Mains GS + Essay Writing + Answer Writing Sessions + Class Tests + Study Materials</td>
                        <td>12 Months</td>
                        <td>₹105,000</td>
                        <td>₹95,000</td>
                        <td>₹105,000</td>
                        <td>₹90,000</td>
                        <td>₹95,000</td>
                      </tr>
                      <tr>
                        <td>IAS Integrated Batch (Prelims GS + Mains GS + Essay Writing + Test Series (P+M) + Study Materials) + CSAT</td>
                        <td>12 Months</td>
                        <td>₹135,000</td>
                        <td>₹125,000</td>
                        <td>₹135,000</td>
                        <td>₹115,000</td>
                        <td>₹125,000</td>
                      </tr>
                      <tr>
                        <td>IAS Combined Batch (Prelims GS + Mains GS + Essay Writing + Answer Writing Sessions + Class Tests + Study Materials + Optional – History/Geography/Sociology/PSIR + CSAT + (P+M) Test Series</td>
                        <td>12 Months</td>
                        <td>₹160,000</td>
                        <td>₹150,000</td>
                        <td>₹160,000</td>
                        <td>₹140,000</td>
                        <td>₹150,000</td>
                      </tr>
                      <tr>
                        <td>Optional – History/Geography/Sociology/PSIR</td>
                        <td>3-4 Months</td>
                        <td>₹40,000</td>
                        <td>₹35,000</td>
                        <td>₹40,000</td>
                        <td>₹30,000</td>
                        <td>₹35,000</td>
                      </tr>
                      <tr>
                        <td>Civil Services Aptitude Test (CSAT)</td>
                        <td>30 Days</td>
                        <td>₹18,000</td>
                        <td>₹15,000</td>
                        <td>₹18,000</td>
                        <td>₹12,000</td>
                        <td>₹15,000</td>
                      </tr>
                      <tr>
                        <td>Essay</td>
                        <td>10 Days</td>
                        <td>₹10,000</td>
                        <td>₹10,000</td>
                        <td>₹10,000</td>
                        <td>₹8,000</td>
                        <td>₹8,000</td>
                      </tr>
                      <tr class="text-center" style="background-color: rgb(72, 128, 75); font-weight: bold; color: #fff; ">
                        <td colspan="8">Test Series</td>
                      </tr>
                      <tr>
                        <td>Prelims Test Series (GS+CSAT) (25 GS + 5 CSAT = 30 Tests)</td>
                        <td></td>
                        <td>₹10,000</td>
                        <td>—</td>
                        <td>—</td>
                        <td>₹10,000</td>
                        <td>—</td>
                      </tr>
                      <tr>
                        <td>Mains Test Series (General Studies) (20 Tests)</td>
                        <td></td>
                        <td>₹15,000</td>
                        <td>—</td>
                        <td>—</td>
                        <td>₹15,000</td>
                        <td>—</td>
                      </tr>
                      <tr class="fee-structure-row" style="background-color: blueviolet; color: #fff; text-align: center; font-weight: bold;">
                        <td colspan="8">Fee Structure (Including GST) – Nirman Vihar (Hindi)</td>
                      </tr>
                      <tr class="grey-bg" style="background-color: rgb(191, 228, 241); font-weight: bold;  ">
                        <td rowspan="2">Course</td>
                        <td rowspan="2">Time Duration</td>
                        <td rowspan="2">Total Fee</td>
                        <td colspan="2">New Admissions</td>
                        <td colspan="2">Ex-Vajirao Student</td>
                      </tr>
                      <tr style="background-color: rgb(212, 179, 244); font-weight: bold;  ">
                        <td>One Time Fee</td>
                        <td>Installment Fee</td>
                        <td>One Time Fee</td>
                        <td>Installment Fee</td>
                      </tr>
                      <tr>
                        <td>IAS Integrated Batch (Prelims GS + Mains GS + Essay Writing + Test Series + Study Materials) + CSAT</td>
                        <td>12 Months</td>
                        <td>₹135,000</td>
                        <td>₹125,000</td>
                        <td>₹135,000</td>
                        <td>₹115,000</td>
                        <td>₹125,000</td>
                      </tr>
                      <tr>
                        <td>Foundation Batch (2yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Test Series(P+M)+Group Discussions+ Study Material)</td>
                        <td>24 Months</td>
                        <td>₹225,000</td>
                        <td>₹215,000</td>
                        <td>₹225,000</td>
                        <td>₹205,000</td>
                        <td>₹215,000</td>
                      </tr>
                      <tr>
                        <td>Foundation Batch (3yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Answer Writing Sesesions+Test Series(P+M)+Group Discussions+ Study Material+Interview/ Personality Test Guidance Programme)</td>
                        <td>36 Months</td>
                        <td>₹295,000</td>
                        <td>₹285,000</td>
                        <td>₹295,000</td>
                        <td>₹275,000</td>
                        <td>₹285,000</td>
                      </tr>
                      <tr>
                        <td>IAS Combined Batch (Prelims GS + Mains GS + Essay Writing + Answer Writing Sessions + CSAT + Optional – History/Geography/Sociology/PSIR + Study Materials</td>
                        <td>12 Months</td>
                        <td>₹160,000</td>
                        <td>₹150,000</td>
                        <td>₹160,000</td>
                        <td>₹140,000</td>
                        <td>₹150,000</td>
                      </tr>
                      <tr>
                        <td>Optional – History/Geography/Sociology/PSIR</td>
                        <td>3-4 Months</td>
                        <td>₹40,000</td>
                        <td>₹35,000</td>
                        <td>₹40,000</td>
                        <td>₹30,000</td>
                        <td>₹35,000</td>
                      </tr>
                      <tr>
                        <td>Civil Services Aptitude Test (CSAT)</td>
                        <td>30 Days</td>
                        <td>₹18,000</td>
                        <td>₹15,000</td>
                        <td>₹18,000</td>
                        <td>₹12,000</td>
                        <td>₹15,000</td>
                      </tr>
                      <tr>
                        <td>Essay</td>
                        <td>10 Days</td>
                        <td>₹10,000</td>
                        <td>₹10,000</td>
                        <td>₹10,000</td>
                        <td>₹8,000</td>
                        <td>₹8,000</td>
                      </tr>
                      <tr class="text-center" style="background-color: rgb(72, 128, 75); font-weight: bold; color: #fff; ">
                        <td colspan="8">Test Series</td>
                      </tr>
                      <tr>
                        <td>Prelims Test Series (GS+CSAT) (25 GS + 5 CSAT = 30 Tests)</td>
                        <td></td>
                        <td>₹10,000</td>
                        <td>—</td>
                        <td>—</td>
                        <td>₹10,000</td>
                        <td>—</td>
                      </tr>
                      <tr>
                        <td>Mains Test Series (General Studies) (20 Tests)</td>
                        <td></td>
                        <td>₹15,000</td>
                        <td>—</td>
                        <td>—</td>
                        <td>₹15,000</td>
                        <td>—</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="events__tag text-center">
                    <span><i class="fal fa-tag"></i></span>
                    <a href="https://www.vajiraoiasacademy.com/assets/img/Gurugramfees.pdf" target="_blank">Download Fee Structure</a>
                  </div>
                </div>
                <div class="row mt-4">
                  <table class="table shadow table-hover table-striped">
                    <tbody>
                      <tr>
                        <td colspan="2"><strong>IMPORTANT NOTES:</strong></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>All fees above are inclusive of GST (18%).</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>The rates of GST will remain the same as fixed by the Government of India. If the government changes these rates, the new rates will come into force with immediate effect.</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>For the payment of fees, the first installment is to be deposited at the time of admission, while the second, third and fourth installment is to be deposited within the time interval of 30-30 days.</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Fees once paid is not refundable under any circumstances</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>


  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>