<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          Fee Structure <span style="color: rgb(255, 166, 0)">Indore Branch</span>
        </h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0)">Fee Structure Indore Branch</li>
        </ul>
      </div>
    </div>
  </div>




  <!--==============================
All Branches admission Area  
==============================-->


  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <!-- <img src="assets/img/normal/wcu_2_shape1.png" alt="img" /> -->
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" /> -->
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    
                    <p class="wcu-box_text">
                      <b>Vajirao IAS Academy, the best IAS coaching center in Delhi is one of the finest institute of UPSC Coaching Classes in both online and offline mode. Our modest and affordable fee structure has enabled numerous aspirants from all over the country achieve success in the UPSC CSE over the years. Starting with Foundation batches, our institute also delivers IAS Coaching in various packages suiting to the demands of varied category of UPSC aspirants. Given below is a complete layout of our courses offered. Have a glance and choose the best one for yourself.</b>
                    </p>
                    <br />

                  </div>
                </div>

                <div class="row">
                    <table class="table table-bordered tableBackground">
                        <thead> 
                            <tr class="">
                                <th colspan="4" class="text-center">
                                    Fee Structure Offline Mode
                                </th>
                            </tr>
                            <tr class="table-second-row">
                                <th colspan="4" class="text-center">UPSC Fee Structure (Including GST) – Indore Branch (English & Hindi Medium)</th>
                            </tr>
                            <tr class="text-center table-third-row">
                                <th>Sl. No</th>
                                <th>Course</th>
                                <th>Time Duration</th>
                                <th>Total Fee IAS</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td > IAS Combined Batch (Prelims GS + Mains GS + Essay Writing + Answer Writing Sessions +
                                    Class Tests + Study Materials + Optional – History/Geography/Sociology/PSIR + CSAT +
                                    (P+M) Test Series)</td>
                                  
                                <td >12 Months</td>
                                <td >₹1,60,000</td>

                            </tr>
                            <tr>
                                <th class="text-center" scope="row">2</th>
                                <td > IAS Integrated Batch (Prelims GS + Mains GS + Essay Writing + Test Series (P+M) + Study
                                    Materials) + CSAT</td>
                                  
                                <td >12 Months</td>
                                <td >₹1,35,000</td>

                            </tr>
                            <tr>
                                <th class="text-center" scope="row">3</th>
                                <td > Foundation Batch (2yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay
                                    Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Test Series(P+M)+Group
                                    Discussions+ Study Material)</td>
                                  
                                <td >12 Months</td>
                                <td >₹1,32,000</td>

                            </tr>
                            <tr>
                                <th class="text-center" scope="row">4</th>
                                <td > Foundation Batch (2yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay
                                    Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Test Series(P+M)+Group
                                    Discussions+ Study Material)</td>
                                  
                                <td >24 Months</td>
                                <td >₹2,25,000</td>

                            </tr>
                            <tr>
                                <th class="text-center" scope="row">5</th>
                                <td>Foundation Batch (3yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay
                                    Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Answer Writing
                                    Sesesions+Test Series(P+M)+Group Discussions+ Study Material+Interview/ Personality Test
                                    Guidance Programme)</td>
                                <td>36 Months</td>
                                <td >₹2,95,000</td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">6</th>
                                <td>Optional – History/Geography/Sociology/PSIR /Public Admin</td>
                                <td>3-4 Months</td>
                                <td >₹40,000</td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">7</th>
                                <td>Civil Services Aptitude Test (CSAT)</td>
                                <td>30 Days</td>
                                <td >₹18,000</td>
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">8</th>
                                <td>Essay</td>
                                <td>10 Days</td>
                                <td >₹10,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <th class="text-center" scope="row" colspan="4" style="background-color: #e3e36a;">Test Series</th> 
                                
                            </tr>
                            <tr>
                                <th class="text-center" scope="row">9</th>
                                <td>Prelims Test Series (GS+CSAT) (25 GS + 5 CSAT = 30 Tests)</td>
                                <td></td>
                                <td >₹10,000</td>
                            </tr> 
                            <tr>
                                <th class="text-center" scope="row">10</th>
                                <td>Mains Test Series (General Studies) (20 Tests)</td>
                                <td></td>
                                <td >₹15,000</td>
                            </tr> 
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                  <div class="events__tag text-center">
                    <span><i class="fal fa-tag"></i></span>
                    <a href="https://www.vajiraoiasacademy.com/assets/img/Gurugramfees.pdf" target="_blank">Download Fee Structure</a>
                  </div>
                </div>
                <div class="row mt-4">
                    <table class="table table-bordered tableBackground">
						<thead>
							
							<tr class="table-second-row">
								<th colspan="4" class="text-center ">
									MPPSC Fee Structure (Including GST) – Indore Branch (English & Hindi Medium)
								</th>
							</tr>
							
							<tr class="text-center table-third-row">
								<th>Sl. No</th>
								<th>Course</th>
								<th>Time Duration</th>
								<th>Total Fee IAS</th>

							</tr>
						</thead>
						<tbody>

							<tr>
								<th class="text-center" scope="row">1</th>
								<td > MPPSC Integrated Batch (Prelims GS + Mains GS + Essay Writing + Test Series (P+M) + 
									Study Materials) + CSAT+Personality Test Guidance Programme</td>
								  
								<td >12 Months</td>
								<td>₹71,000 </td>

							</tr>
							<tr>
								<th class="text-center" scope="row">2</th>
								<td > Foundation Batch (1yr) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay 
									Writing sessions+Test Series(P+M)+ Study Material)</td>
								  
								<td >12 Months</td>
								<td >₹65,000</td>

							</tr>
							<tr>
								<th class="text-center" scope="row">3</th>
								<td >Foundation Batch (2yr) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay 
									Writing sessions+Test Series(P+M)+ Study Material)</td>
								  
								<td >24 Months</td>
								<td >₹1,00,000</td>

							</tr>
							<tr>
								<th class="text-center" scope="row">4</th>
								<td > Foundation Batch (2yrs) (NCERT Base Building+Prelims GS+ Mains GS+Class Test+Essay
									Writing sessions+ Optional(History/Geography/PSIR/Sociology)+Test Series(P+M)+Group
									Discussions+ Study Material)</td>
								  
								<td >24 Months</td>
								<td >₹2,25,000</td>

							</tr>
							<tr>
								<th class="text-center" scope="row">5</th>
								<td>Civil Services Aptitude Test (CSAT)</td>
								<td>36 Months</td>
								<td >₹2,95,000</td>
							</tr>
							<tr>
								<th class="text-center" scope="row">6</th>
								<td>Essay</td>
								<td>10 Days</td>
								<td >₹10,000</td>
							</tr>
						   
							<tr>
								<td></td>
								<th class="text-center" scope="row" colspan="4" style="background-color: #e3e36a;">Test Series</th>
								
								
							</tr>
							<tr>
								<th class="text-center" scope="row">7</th>
								<td>Prelims Test Series (GS+CSAT) (25 GS + 5 CSAT = 30 Tests)</td>
								<td></td>
								<td >₹5,000</td>
							</tr>
							<tr>
								<th class="text-center" scope="row">8</th>
								<td>Mains Test Series (General Studies) (20 Tests)</td>
								<td></td>
								<td >₹10,000</td>
							</tr>
				   
							
						</tbody>
					</table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>


  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>