<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          Fee Structure <span style="color: rgb(255, 166, 0)">Bhubaneswar Branch</span>
        </h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0)">Fee Structure Bhubaneswar Branch</li>
        </ul>
      </div>
    </div>
  </div>




  <!--==============================
All Branches admission Area  
==============================-->


  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <!-- <img src="assets/img/normal/wcu_2_shape1.png" alt="img" /> -->
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" /> -->
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <!-- <h3 class="h5 wcu-box_title" style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          /* text-align: center; */
                          font-size: 30px !important;
                          font-weight: bold;
                          
                        ">
                       <span style="color: red;">Mains/Written</span> Examination
                    </h3> -->


                    <p class="wcu-box_text">
                      <b>Vajirao IAS Academy, the best IAS coaching center in Delhi is one of the finest institute of UPSC Coaching Classes in both online and offline mode. Our modest and affordable fee structure has enabled numerous aspirants from all over the country achieve success in the UPSC CSE over the years. Starting with Foundation batches, our institute also delivers IAS Coaching in various packages suiting to the demands of varied category of UPSC aspirants. Given below is a complete layout of our courses offered. Have a glance and choose the best one for yourself.</b>
                    </p>
                    <br />

                  </div>
                </div>

                <div class="row mb-4" >
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                            <td colspan="9" class="text-center" style="color: #fff; background-color: rgb(11, 11, 67);"><strong>Course Fee Details for IAS/IPS</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="background-color: #dfee9a;">
                            <td><strong>Sl. No</strong></td>
                            <td><strong>Subject</strong></td>
                            <td><strong>Duration</strong></td>
                            <td><strong>Regular Class</strong></td>
                            <td><strong>Pay Now</strong></td>
                            <td><strong>Correspondence/Distance Course</strong></td>
                            <td><strong>Pay Now</strong></td>
                            <td><strong>Weekend Class</strong></td>
                            <td><strong>Pay Now</strong></td>
                            </tr>
                            <tr>
                            <td>1</td>
                            <td>Prelims-Cum-Mains(GS)+CSAT</td>
                            <td>10 Months</td>
                            <td>75,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>75,000.00</td> 
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr> 
                            <tr>
                            <td>2</td>
                            <td>Integrated Course/Package Facility(Prelims-Cum-Mains(GS)+CSAT+Optional Paper)</td>
                            <td>1 Year</td>
                            <td>98,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>26,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>98,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>3</td>
                            <td>Optional Subject</td>
                            <td>2 Months</td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>6,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>4</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>1 Year</td>
                            <td>80,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>80,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>5</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>2 Year</td>
                            <td>1,20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>30,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>1,20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>6</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>3 Year</td>
                            <td>1,60,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>40,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>1,60,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>7</td>
                            <td>Interview</td>
                            <td>1 Week</td>
                            <td>5,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>2,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>5,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            </tbody>
                            </table>
                    </div>
                   
                        <div class="row">
                            <div class="col-12">
                                <table class="mt-4">
                                    <thead>
                                        <tr>
                                        <td colspan="9" class="text-center" style="color: #fff; background-color: rgb(11, 11, 67);"><strong>Course Fee Details for IFS</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <td><strong>Sl. No</strong></td>
                                        <td><strong>Subject</strong></td>
                                        <td><strong>Duration</strong></td>
                                        <td><strong>Regular Class</strong></td>
                                        <td><strong>Pay Now</strong></td>
                                        <td><strong>Correspondence/Distance Course</strong></td>
                                        <td><strong>Pay Now</strong></td>
                                        <td><strong>Weekend Class</strong></td> 
                                        <td><strong>Pay Now</strong></td>
                                        </tr>
                                        <tr>
                                        <td>1</td>
                                        <td>Prelims-Cum-Mains(GS)+CSAT</td>
                                        <td>10 Months</td>
                                        <td>75,000.00</td>
                                        <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                                        <td>20,000.00</td>
                                        <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                                        <td>75,000.00</td>
                                        <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                                        </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                       
                      
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                            <td colspan="9" class="text-center" style="color: #fff; background-color: rgb(11, 11, 67);"><strong>Course Fee Details for OAS/OPS</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="background-color: #dfee9a;">
                            <td ><strong>Sl. No</strong></td>
                            <td><strong>Subject</strong></td>
                            <td><strong>Duration</strong></td>
                            <td><strong>Regular Class</strong></td>
                            <td><strong>pay Now</strong></td>
                            <td><strong>Correspondence/Distance Course</strong></td>
                            <td><strong>pay Now</strong></td>
                            <td><strong>Weekend Class</strong></td>
                            <td><strong>pay Now</strong></td>
                            </tr>
                            <tr>
                            <td>1</td>
                            <td>Prelims-Cum-Mains(GS)+CSAT</td>
                            <td>10 Months</td>
                            <td>75,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>18,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>65,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>2</td>
                            <td>Optional Subject – I</td>
                            <td>2 Months</td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>6,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>3</td>
                            <td>Optional Subject – II</td>
                            <td>2 Months</td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>6,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>25,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>4</td>
                            <td>Integrated Course/Package Facility(Prelims-Cum-Mains(GS)+CSAT+Optional Papers)</td>
                            <td>1 Year</td>
                            <td>98,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>30,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>98,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>5</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>1 Year</td>
                            <td>80,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>30,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>80,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>6</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>2 Year</td>
                            <td>1,20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>30,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>1,20,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>7</td>
                            <td>Foundation / Beginner Course (GS)</td>
                            <td>3 Year</td>
                            <td>1,60,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>40,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>1,60,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            <tr>
                            <td>8</td>
                            <td>Interview</td>
                            <td>1 Week</td>
                            <td>5,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>2,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            <td>5,000.00</td>
                            <td><a href="https://pmny.in/9IhLslBqjYS5" class="buy-now-btn" target="_blank"><span>Register</span> </a></td>
                            </tr>
                            </tbody>
                            </table> 
                    </div>
                  <!-- <div class="events__tag text-center">
                    <span><i class="fal fa-tag"></i></span>
                    <a href="https://www.vajiraoiasacademy.com/assets/img/Gurugramfees.pdf" target="_blank">Download Fee Structure</a>
                  </div> -->
                 
                </div>
                <div class="row mt-4">
                

                    <h4>NOTES:</h4>
						<table class="table table-striped">
						<tbody>
						<tr style="background-color: rgb(251, 199, 199);">
						<td colspan="2">
						<strong>Optional Subjects:</strong>
						</td>
						</tr>
						
						<tr>
						<td>1</td>
						<td>Public Administration</td>
						</tr>
						<tr>
						<td>2</td>
						<td>Geography</td>
						</tr>
						<tr>
						<td>3</td>
						<td>Sociology</td>
						</tr>
						<tr>
						<td>4</td>
						<td>History</td>
						</tr>
						<tr>
						<td>5</td>
						<td>Political Science</td>
						</tr>
						<tr>
						<td>6</td>
						<td>Forestry</td>
						</tr> 
						</tbody>
						</table>
                </div>

                <div class="row mt-4">
                    

                    <h4>NOTES:</h4>
						<table class="table table-striped">
						<tbody>
						<tr >
						<td>1</td>
						<td>All the above fees are inclusive of GST, as applicable.</td>
						</tr>
						<tr>
						<td>2</td>
						<td>Request for CHANGE OF SUBJECT REFUND OR ADJUSTMENT OF THE FEE will not be considered under any circumstances</td>
						</tr>
						</tbody>
						</table>
						<h4>CLASS TIMINGS</h4>
						<table class="table table-striped">
						<tbody>
						<tr style="background-color: rgb(251, 199, 199);">
						<td><strong>Sr No.</strong></td>
						<td><strong>Batches</strong></td>
						<td><strong>Time</strong></td>
						<td><strong>Days</strong></td>
						</tr>
						<tr>
						<td>1</td>
						<td>Morning</td>
						<td>6.30AM – 9 AM</td>
						<td>Monday to Friday</td>
						</tr>
						<tr>
						<td>2</td>
						<td>Evening</td>
						<td>5:30 PM-8:00 PM</td>
						<td>Monday to Friday</td>
						</tr>
						<tr>
						<td rowspan="2">3</td>
						<td rowspan="2">Weekend Classes</td>
						<td>2:00 PM-8:00 PM</td>
						<td>Saturday</td>
						</tr>
						<tr> 
						<td>8:00 AM-2:00 PM</td>
						<td>Sunday</td>
						</tr>
						</tbody>
						</table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>


  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>