<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
 <!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape" >
    </div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
      
    </div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
       
    </div>
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Our Gallery</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Project Area  
==============================-->
<!--==============================
Gallery Area  
==============================-->
<!-- <div class="space">
    <div class="container">
        <div class="row gy-4 masonary-active">
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_1.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_1.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Digital Marketing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_2.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_2.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Web Development</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_3.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_3.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Product Marketing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_4.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_4.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Data Analysis</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_5.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_5.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Brand Growth All</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_6.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_6.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Content Writing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_7.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_7.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">UI/UX Design</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_8.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_8.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">JavaScript</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_9.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_9.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Wordpress Programing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_1.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_1.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Digital Marketing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_2.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_2.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Web Development</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_3.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_3.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Product Marketing</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_4.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_4.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Data Analysis</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_5.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_5.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Brand Growth All</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/gallery/gallery_1_6.jpg" alt="gallery image">
                        <a href="assets/img/gallery/gallery_1_6.jpg" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="gallery-content">
                        <span class="gallery-tag">IT Solution</span>
                        <h2 class="gallery-title">Big Data Science</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
 

    <!--==============================
Gallery Area  
==============================-->
<div class="overflow-hidden " style="margin: 50px 0px;">
    <div class="container">
        <div class="title-area text-center">
            
            <h2 class="sec-title fw-semibold">Gallery</h2>
        </div>
        <div class="row gy-4 masonary-active">
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-1.webp" alt="gallery image">
                        <a href="assets/img/G-1.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-2.webp" alt="gallery image">
                        <a href="assets/img/G-2.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-3.webp" alt="gallery image">
                        <a href="assets/img/G-3.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-6.webp" alt="gallery image">
                        <a href="assets/img/G-6.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-4.webp" alt="gallery image">
                        <a href="assets/img/G-4.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-5.webp" alt="gallery image">
                        <a href="assets/img/G-5.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-auto mt-4" style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Images<i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div> -->

    </div>
    <div class="shape-mockup jump-reverse d-none d-sm-block" data-top="0%" data-left="0%"><img src="assets/img/update1/shape/dot_shape_5.png" alt="shapes"></div>
    <!-- <div class="shape-mockup jump" data-bottom="10%" data-right="0%"><img src="assets/img/update1/shape/circle_8.png" alt="shapes"></div>
    <div class="shape-mockup jump-reverse" data-bottom="6%" data-right="0%"><img src="assets/img/update1/shape/circle_9.png" alt="shapes"></div> -->
    
</div>

    <!--==============================
Gallery Area  
==============================-->
<div class="overflow-hidden  ">
    <div class="container">
        <div class="title-area text-center">
            
            <h2 class="sec-title fw-semibold">Gallery</h2>
        </div>
        <div class="row gy-4 masonary-active">
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-1.webp" alt="gallery image">
                        <a href="assets/img/G-1.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-2.webp" alt="gallery image">
                        <a href="assets/img/G-2.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-3.webp" alt="gallery image">
                        <a href="assets/img/G-3.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-6.webp" alt="gallery image">
                        <a href="assets/img/G-6.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-4.webp" alt="gallery image">
                        <a href="assets/img/G-4.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-5.webp" alt="gallery image">
                        <a href="assets/img/G-5.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-auto mt-4" style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Images<i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div> -->

    </div>
    <!-- <div class="shape-mockup jump-reverse d-none d-sm-block" data-top="0%" data-left="0%"><img src="assets/img/update1/shape/dot_shape_5.png" alt="shapes"></div>
    <div class="shape-mockup jump" data-bottom="10%" data-right="0%"><img src="assets/img/update1/shape/circle_8.png" alt="shapes"></div>
    <div class="shape-mockup jump-reverse" data-bottom="6%" data-right="0%"><img src="assets/img/update1/shape/circle_9.png" alt="shapes"></div> -->
    
</div>

    <!--==============================
Gallery Area  
==============================-->
<div class="overflow-hidden " style="margin: 50px 0px;">
    <div class="container">
        <div class="title-area text-center">
            
            <h2 class="sec-title fw-semibold">Gallery</h2>
        </div>
        <div class="row gy-4 masonary-active">
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-1.webp" alt="gallery image">
                        <a href="assets/img/G-1.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-2.webp" alt="gallery image">
                        <a href="assets/img/G-2.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-3.webp" alt="gallery image">
                        <a href="assets/img/G-3.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-6.webp" alt="gallery image">
                        <a href="assets/img/G-6.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-4.webp" alt="gallery image">
                        <a href="assets/img/G-4.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-auto filter-item">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="assets/img/G-5.webp" alt="gallery image">
                        <a href="assets/img/G-5.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-auto mt-4" style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Images<i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div> -->

    </div>
    <!-- <div class="shape-mockup jump-reverse d-none d-sm-block" data-top="0%" data-left="0%"><img src="assets/img/update1/shape/dot_shape_5.png" alt="shapes"></div>
    <div class="shape-mockup jump" data-bottom="10%" data-right="0%"><img src="assets/img/update1/shape/circle_8.png" alt="shapes"></div>
    <div class="shape-mockup jump-reverse" data-bottom="6%" data-right="0%"><img src="assets/img/update1/shape/circle_9.png" alt="shapes"></div> -->
    
</div>



<!--============================== 
Footer Area  
==============================-->
<% include include/footer.ejs %>