<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
common Area  
==============================-->
    <% include commonsection/common.ejs %>

    <!--==============================
Why Choose Us Area  
==============================-->
    <% include commonsection/whychoos.ejs %>

    <!--==============================
Counter Area  
==============================-->
    <% include commonsection/counter.ejs %>
    <!--==============================
Features & Programme Area  
==============================-->
    <div class="space" style="padding: 50px 50px">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 bg-smoke p-4">
            <div class="mb-35 mb-xl-5">
              <h3 class="h2" style="color: #feb400">Features We Offer</h3>
            </div>

            <div class="checklist style2 mb-35">
              <ul>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Comprehensive Study Materials for both Prelims and Mains
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Preliminary focus on fundamental content building and
                    analysis
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    One-stop guidance for Prelims, Mains and Interview
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Daily Mains answer writing practices at IAS institute
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    All India Test Series
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Prelims Specific focus in last 2 months
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Special sessions for Budget and Economic Survey
                  </h5>
                </li>
              </ul>
            </div>
            <a href="about.html" class="th-btn"
              >Register<i class="fas fa-arrow-right ms-2"></i
            ></a>
          </div>
          <div class="col-xl-6 p-4" style="background-color: #fe44001f">
            <div class="mb-35 mb-xl-6">
              <h3 class="h2 text-theme">Our Programmes</h3>
            </div>

            <div class="checklist style2 mb-35">
              <ul>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Free Revision Module - Registration Closed
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Free IAS Mock Interview – Book Your Slot!
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Mains Test Series - To be Declared
                  </h5>
                </li>
              </ul>
            </div>
            <a href="about.html" class="th-btn"
              >Register<i class="fas fa-arrow-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="shape-mockup jump d-none d-xxl-block"
        data-bottom="30%"
        data-right="0"
      >
        <img src="assets/img/update1/shape/dot_shape_2.png" alt="shapes" />
      </div>
    </div>

    <!--==============================
Facilities at Vajirao IAS Academy Indore Branch area  
==============================-->
<div class="why-area-1 space overflow-hidden">
    <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
      <img src="assets/img/normal/about_1_shape1.png" alt="img" />
    </div>

    <!-- <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div> -->

    <div
      class="shape-mockup why-shape-3 jump-reverse"
      data-bottom="25%"
      data-right="-3%"
    >
      <img src="assets/img/normal/wcu_1_shape2.png" alt="img" />
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="wcu-wrap1">
            <div class="title-area mb-25">
              <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> WHY CHOOSE US</span> -->
              <h2 class="sec-title">
                Facilities at
                <span style="color: #feb400">
                  Vajirao IAS Academy </span
                  > Indore Branch
              </h2>
              <p>
                  Indore is one of the oldest cities in the country and is the Education Hub of Madhya Pradesh. Students and Aspirants prepare for all genres of competitive exams here. As such every year lakhs of students appear for the Union Public Service Examination Civil Services Examination (UPSC CSE) and a sizable number of them are from Indore.
              </p>
              <p>
                  Vajirao IAS Academy, over the years has become one of the best IAS coaching institutes in the country. The Academy specializes in preparing students for the Civil Services Examination. With its excellent faculty, comprehensive study material, and innovative teaching methods, the best IAS Coaching Institute in Indore will be helping out numerous students achieve their dreams of becoming IAS officers.
              </p>
              
            </div>
            <div class="row gy-4">
              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Experienced Faculty</h3>
                    <p>
                      The faculty at this IAS institute is one of its greatest
                      strengths. The academy has a team of experienced and
                      well-qualified teachers who are experts in their
                      respective fields. The faculty members are dedicated to
                      providing personalized attention to each student and
                      ensure that their doubts and queries are resolved.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Comprehensive Approach</h3>
                    <p>
                      Vajirao IAS Academy follows a comprehensive approach
                      towards UPSC preparation. The academy’s curriculum
                      covers all aspects of the exam, including the latest
                      trends and changes in the syllabus. The academy also
                      provides extensive study material and online resources,
                      which help students to prepare for the exam effectively.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Infrastructure</h3>
                    <p>
                      The infrastructure at Vajirao IAS Academy is designed to
                      provide a comfortable and conducive learning environment
                      for students. The classrooms are spacious,
                      air-conditioned, and equipped with audio-visual aids,
                      which make learning more interactive and engaging. The
                      academy also has a well-stocked library, where students
                      can access a wide range of books and journals related to
                      the civil services exam.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Hostel Facilities</h3>
                    <p>
                      The academy provides hostel facilities for outstation
                      students, which ensures that they can focus on their
                      studies without worrying about accommodation. The hostel
                      facilities are equipped with all the necessary amenities
                      and provide a comfortable stay for students.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Test Series</h3>
                    <p>
                      The academy provides a range of test series, including
                      prelims, mains, and optional subject tests, which help
                      students to assess their preparation level and identify
                      areas that need improvement. The IAS institute also
                      provides regular feedback and counseling to students,
                      which helps them to improve their performance.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Doubt Clearing Sessions</h3>
                    <p>
                      The academy conducts doubt clearing sessions regularly,
                      where students can clarify their doubts and queries with
                      the faculty members. The doubt clearing sessions provide
                      students with an opportunity to interact with the
                      faculty members and get their queries resolved.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Individual Attention</h3>
                    <p>
                      Vajirao IAS Academy provides individual attention to
                      each student, which helps them to identify their
                      strengths and weaknesses. The academy provides
                      personalized guidance to students and helps them to
                      improve their performance in the exam.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Batch Size</h3>
                    <p>
                      The academy maintains a small batch size, which ensures
                      that each student gets individual attention from the
                      faculty members. The small batch size also helps the
                      faculty members to focus on each student’s performance
                      and provide personalized guidance.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Success Rate</h3>
                    <p>
                      Vajirao IAS Academy has a proven track record of
                      producing successful candidates in the civil services
                      exam. The academy’s success rate is one of the highest
                      in the country, which reflects the quality of education
                      and guidance provided by the academy.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="wcu-box">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Online Resources</h3>
                    <p>
                      The academy provides online resources, including study
                      material, test series, and doubt clearing sessions,
                      which help students to prepare for the exam effectively.
                      The online resources are designed to provide students
                      with flexibility and convenience, which enables them to
                      prepare for the exam from anywhere and at any time
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--==============================
Courses offered at Vajirao IAS Academy  area  
==============================-->
  <div
    class="why-area-1 space overflow-hidden"
    style="background-color: #fe44001f"
  >
    <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
      <img src="assets/img/normal/about_1_shape1.png" alt="img" />
    </div>

    <!-- <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div> -->

    <div
      class="shape-mockup why-shape-3 jump-reverse"
      data-bottom="25%"
      data-right="-3%"
    >
      <img src="assets/img/normal/wcu_1_shape2.png" alt="img" />
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="wcu-wrap1">
            <div class="title-area mb-25">
              <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> WHY CHOOSE US</span> -->
              <h2 class="sec-title">
                Courses offered at
                <span style="color: #feb400">
                  Vajirao IAS Academy </span
                  > Indore Branch
              </h2>
              <p>
                The Indore branch of Vajirao IAS Academy offers a range of
                courses for UPSC aspirants, including
              </p>
            </div>
            <div class="row gy-4">
              <div class="col-md-12">
                <div class="wcu-box" style="background-color: #d4bbcb33">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Foundation Course</h3>
                    <p>
                      This course is designed for students who are starting
                      their UPSC preparation and covers all the basics of the
                      exam.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box" style="background-color: #d4bbcb33">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Prelims-cum-Mains Course</h3>
                    <p>
                      This is a comprehensive course that covers both the
                      prelims and mains syllabus of the exam.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box" style="background-color: #d4bbcb33">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Optional Subject Course</h3>
                    <p>
                      This course is designed for students who want to
                      specialize in a particular subject and covers the entire
                      syllabus of the optional subject.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="wcu-box" style="background-color: #d4bbcb33">
                  <div class="wcu-box_icon">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="wcu-box_details">
                    <h3 class="box-title">Test Series</h3>
                    <p>
                      The academy also provides a range of test series,
                      including prelims, mains, and optional subject tests,
                      which help students to assess their preparation level
                      and identify areas that need improvement.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title-area mt-25">
            <p>
              Vajirao IAS Academy Indore Branch is one of the <b>best IAS coaching
                institutes in Indore</b>, India. The academy’s comprehensive approach
              towards UPSC preparation, experienced faculty, and
              state-of-the-art infrastructure make it the ideal choice for
              aspirants. With its commitment to providing quality education
              and personalized attention to each student, Vajirao IAS Academy
              Indore Branch is the key to success in the civil services exam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>

    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Faq Area
==============================-->
<div class="overflow-hidden space bg-smoke">
  <div class="container">
    <div
      class="row"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="col-xl-10 order-xl-1">
        <div class="me-xl-5">
          <div class="title-area">
            <h2 class="sec-title">
              Frequently asked questions about
              <span style="color: #feb400">Vajirao IAS Academy </span> Indore
            </h2>
          </div>
          <div class="accordion-area accordion" id="faqAccordion">
            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1"
                  aria-expanded="false"
                  aria-controls="collapse-1"
                >
                  What is the duration of the IAS coaching program at
                  VAJIRAO IAS ACADEMY?
                </button>
              </div>
              <div
                id="collapse-1"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-1"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The duration of our IAS coaching program in Indore varies
                    from 6 months to 1 year, depending on the course
                    selected.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card active">
              <div class="accordion-header" id="collapse-item-2">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-2"
                  aria-expanded="true"
                  aria-controls="collapse-2"
                >
                  Do you provide study material for the IAS exam
                  preparation?
                </button>
              </div>
              <div
                id="collapse-2"
                class="accordion-collapse collapse show"
                aria-labelledby="collapse-item-2"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide comprehensive study material and
                    reference books for the IAS exam preparation to our
                    students in Indore.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                  aria-controls="collapse-3"
                >
                  Can I join the VAJIRAO IAS ACADEMY’s IAS coaching program
                  in the middle of the year?
                </button>
              </div>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-3"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, you can join our IAS coaching program in the middle
                    of the year in Indore, depending on the availability of
                    seats.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-4"
                  aria-expanded="false"
                  aria-controls="collapse-4"
                >
                  What is the fee structure for the best IAS coaching
                  institute in Indore?
                </button>
              </div>
              <div
                id="collapse-4"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-4"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The fee structure for VAJIRAO IAS ACADEMY IAS Coaching
                    Classes varies depending on the course selected. Please
                    contact us for more details.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-5"
                  aria-expanded="false"
                  aria-controls="collapse-5"
                >
                  What is the success rate of VAJIRAO IAS ACADEMY in Indore?
                </button>
              </div>
              <div
                id="collapse-5"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-5"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Our IAS coaching program in Indore has a high success
                    rate, with many of our students successfully cracking
                    the IAS exam every year.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-6">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-6"
                  aria-expanded="false"
                  aria-controls="collapse-6"
                >
                  Do VAJIRAO IAS ACADEMY provide online classes for the IAS
                  coaching program in Indore?
                </button>
              </div>
              <div
                id="collapse-6"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-6"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide online classes for our IAS coaching
                    program in Indore, along with offline classes.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-7">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-7"
                  aria-expanded="false"
                  aria-controls="collapse-7"
                >
                  Do VAJIRAO IAS ACADEMY provide mock tests and practice
                  papers for the IAS exam preparation in Indore?
                </button>
              </div>
              <div
                id="collapse-7"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-7"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide regular mock tests and practice papers
                    to our students in Indore to help them evaluate their
                    preparation and improve their performance.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-8">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-8"
                  aria-expanded="false"
                  aria-controls="collapse-9"
                >
                  What are the qualifications and experience of faculty
                  members at VAJIRAO IAS ACADEMY in Indore?
                </button>
              </div>
              <div
                id="collapse-8"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-8"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Our faculty members in Indore are highly qualified and
                    experienced, with many of them having cleared the IAS
                    exam themselves.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-9">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-9"
                  aria-expanded="false"
                  aria-controls="collapse-9"
                >
                  Do VAJIRAO IAS ACADEMY provide personal mentorship for
                  individual students in Indore?
                </button>
              </div>
              <div
                id="collapse-9"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-9"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide personal mentorship and guidance to
                    individual students in Indore, to help them overcome
                    their weaknesses and maximize their strengths.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-10">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-10"
                  aria-expanded="false"
                  aria-controls="collapse-10"
                >
                  What is the selection process for the UPSC Exam, and what
                  are the eligibility criteria?
                </button>
              </div>
              <div
                id="collapse-10"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-10"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The selection process for our IAS Exam involves a
                    Preliminary Exam, a Mains written test and an interview.
                    The eligibility criteria include a minimum age limit of
                    21 years and a bachelor's degree from a recognized
                    university.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--==============================
Contact Area  
==============================-->
    <div class="space-bottom" id="contact-sec">
      <div class="container">
        <div class="map-sec">
          <div class="map">
            <iframe
              style="height: 500px !important"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sthemeholy!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5 mb-30 mb-xl-0">
            <div class="me-xxl-5 mt-60">
              <div class="title-area mb-25">
                <h2 class="border-title h3">Have Any Questions?</h2>
              </div>
              <p class="mt-n2 mb-25">
                Have a inquiry or some feedback for us? Fill out the form <br />
                below to contact our team.
              </p>
              <div class="contact-feature">
                <div class="contact-feature-icon">
                  <i class="fal fa-location-dot"></i>
                </div>
                <div class="media-body">
                  <p class="contact-feature_label">Our Address</p>
                  <a
                    href="https://www.google.com/maps"
                    class="contact-feature_link"
                    > <b style="color: red;">Campus 1:</b> 2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main Ab Road, Indore, Madhya Pradesh-452014</a
                  >
                  <hr>
                  <a
                    href="https://www.google.com/maps"
                    class="contact-feature_link"
                    > <b style="color: red;">Campus 2:</b> Veda Business Park, G-15, Bhawarkuan Main Rd, Indore, Madhya Pradesh - 452001</a
                  >
                </div>
              </div>
              <div class="contact-feature">
                <div class="contact-feature-icon">
                  <i class="fal fa-phone"></i>
                </div>
                <div class="media-body">
                  <p class="contact-feature_label">Phone Number</p>
                 
                  <a href="tel:9599910172" class="contact-feature_link">
                    Mobile:<span>+91-9599910172</span></a
                  >
                  <a href="tel:9993110172" class="contact-feature_link"
                    >Mobile: <span>+91-9993110172</span></a
                  >
                </div>
              </div>
            
            </div>
          </div>
          <div class="col-xl-7">
            <div class="contact-form-wrap">
              <span class="sub-title">Contact With Us!</span>
              <h2 class="border-title">Get in Touch</h2>
              <p class="mt-n1 mb-30 sec-text">
                Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod
                tempor eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
              <form
                action="mail.php"
                method="POST"
                class="contact-form ajax-contact"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control style-white"
                        name="name"
                        id="name"
                        placeholder="Your Name*"
                      />
                      <i class="fal fa-user"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control style-white"
                        name="email"
                        id="email"
                        placeholder="Email Address*"
                      />
                      <i class="fal fa-envelope"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select
                        name="subject"
                        id="subject"
                        class="single-select nice-select form-select style-white"
                      >
                        <option value="" disabled selected hidden>
                          Select Branch*
                        </option>
                        <option value="Web Design">Delhi</option>
                        <option value="Web Development">Gurgaon</option>
                        <option value="Engine Diagnostics">Indore</option>
                        <option value="Digital Marketing">Bhubaneswar</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="tel"
                        class="form-control style-white"
                        name="number"
                        id="number"
                        placeholder="Phone Number*"
                      />
                      <i class="fal fa-phone"></i>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea
                        name="message"
                        id="message"
                        cols="30"
                        rows="3"
                        class="form-control style-white"
                        placeholder="Write Your Message*"
                      ></textarea>
                      <i class="fal fa-pen"></i>
                    </div>
                  </div>
                  <div class="form-btn col-12 mt-10">
                    <button class="th-btn">
                      Send Message<i class="fas fa-long-arrow-right ms-2"></i>
                    </button>
                  </div>
                </div>
                <p class="form-messages mb-0 mt-3"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
