<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
common Area  
==============================-->
    <% include commonsection/common.ejs %>

    <!--==============================
Why Choose Us Area  
==============================-->
    <% include commonsection/whychoos.ejs %>

    <!--==============================
Counter Area  
==============================-->
<% include commonsection/counter.ejs %>
 <!--==============================
Facilities at Vajirao IAS Academy Gurgaon Branch area  
==============================-->

<div class="why-area-1 space overflow-hidden">

    <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
        <img src="assets/img/normal/about_1_shape1.png" alt="img">
    </div>

    <!-- <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div> -->

    <div class="shape-mockup why-shape-3 jump-reverse" data-bottom="25%" data-right="-3%">
        <img src="assets/img/normal/wcu_1_shape2.png" alt="img">
    </div>

    <div class="container">

        <div class="row mb-20">
           
            <div class="col-xl-12 order-xl-1">
                <h2 class="sec-title">Facilities at <span style="color: #FEB400;"> Vajirao IAS Academy</span> Gurgaon Branch</h2>
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Faculties from Delhi
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Well researched study material
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Subject completion tests and doubt sessions
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Test series for both prelims and mains
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Current Affairs classes
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Special workshops on Administrative Traits
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Sessions on Newspaper reading, Essay writing and answer writing
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Special sessions
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Lectures by retired IAS/IFS/IPS and scholars on prominent current affairs topics
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Well equipped Library
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Monthly magazines “VAJIRAO IAS ACADEMY Quarterly Current Affairs”
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title-1">
                                Personal Attention
                            </h4>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row align-items-center">
          
            <div class="col-xl-12">
                <div class="wcu-wrap1">
                    <div class="title-area mb-25">
                        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> WHY CHOOSE US</span> -->
                        
                        <p>Every UPSC Aspirant must definitely have pondered about the importance of UPSC Coaching before starting the UPSC Preparation. UPSC CSE is one of the toughest examinations of the country and in order to crack it, everything must be crystal clear before starting the journey. To begin with, it takes a lot of courage to take up UPSC Preparation as a career choice and it’s a recurring learning process. The Preparation in itself is a wholesome journey that tends to provide a peculiar insight into every aspect of our lives and the society we live in.</p>
                        <p >Finding answers to the question, why IAS Coaching is important is quite crucial. IAS Coaching in Gurgaon is the best tool which can prove to be an able helping hand for the aspirants to wave through the sea of UPSC Syllabus. What IAS Coaching brings to the table is that it distinguishes between the topics to focus on and the topics to be left out. Down here, we will be focusing on the same aspects and how IAS Coaching can help you prepare for the UPSC CSE in a more efficient manner.</p>
                        
                    </div>
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Exam Pattern and Procedure</h3>
                                    <p >This is important to understand for an aspirant. Before appearing for any sort of examination, it is important to understand the examination itself and the expectations of the examiner. The UPSC Examination pattern is designed in such a way that a candidate can analyze everything possible and from the results, the overall knowledge of a candidate can be assessed. The UPSC CSE is conducted in 3 phases: Prelims, Mains and Personality Test. Each stage of the examination presents the aspirants with a unique set of challenges. As it demands high attention and knowledge, the presence o0f a mentor by the side can be very essential and such can be found at the <b>Best IAS Coaching Centre in Gurgaon</b> .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Syllabus and Subject Analysis</h3>
                                    <p >The UPSC Syllabus is immensely vast. It is very much essential on the part of the aspirant to understand the syllabus completely and retain them in their mind as much as possible. What are the subjects and purpose of studying the subject? The Prelims stage is quite dynamic in nature and thus the study of subjects requires to be imbibed well with current affairs. The Mains Exam consists of 9 separate papers with each paper asking questions from a set of different subjects.. These papers are required to be generalized properly in order to avoid any sort of confusion. For prelims, one has to cover Polity, History, Economy, Art & Culture, Environment & Ecology, and Geography, International Relations, Science and technology followed by current affairs. Whereas for the Mains examination, the Prelims syllabus is to be supplemented with other topics such as Internal security, social justice, governance, world history, Ethics, society, language paper, options, etc. All the papers are unique and require an effective strategy to decode them. This can be achieved thoroughly under experienced faculties who are found in <b>IAS Coaching Institutes in Gurgaon</b> .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Weightage Distribution</h3>
                                    <p >Although the subjects are defined for the examination, the weightage distribution differs every year. In some years, maximum weightage can be with History while in some other years, it can be with Economics or Current Affairs. It will be a wise option to go through the weightage distribution of various subjects through the previous year question papers to get a hold of the importance of various subjects in various stages of the examination. This is where the proper guidance of <b> top coaching institutes in Gurgaon</b> comes into play. The Institutes tend to do all the analysis and present a clearer picture of the examination for you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Important Booklist and Resources</h3>
                                    <p >The markets are flooded with UPSC study materials these days. You can find 10 different books of different publications and authors of a particular subject. Apart from the standard booklist recommended for the UPSC CSE, it is also important to supplement them with other relevant resources and study materials. The experienced mentors at the <b>IAS Coaching Institutes in Gurgaon</b>  can help you out with the problem. Apart from that, the coaching institutes also provide their own study materials which can be a big time-saver as well.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Smart Study Approach</h3>
                                    <p >Yes, UPSC demands dedication and patience for its examination. But slogging on the study table for hours in the wrong direction can be futile. The need of the hour is a smart-study approach. With such an approach, an aspirant can pick and choose the topics he must study and the ones which he can afford to ignore. It is a well-established fact that you need not be a master of all subjects mentioned in the UPSC Syllabus. Rather, it is advisable to focus on your strengths and an upto the mark knowledge on others. Such an approach can be fuelled by the experience of the coaching institutes who are apt in dealing with the proper nuances of this examination.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Importance of Current Events and Affairs</h3>
                                    <p >The UPSC has designed the syllabus in such a way that an aspirant must think and work pragmatically over the reading concepts. Current Affairs can be inculcated with all the subjects and questions can be asked based on their applicability and features. Daily Newspaper reading and note-making from it can definitely give an edge but in terms of thorough preparation, the monthly and yearly compilation of current affairs released by the <b> best Civil Services Coaching in Gurgaon</b> can serve you in a better way.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title">Getting hold of Effective Study Materials</h3>
                                    <p >Study materials are the bread and butter for UPSC Preparation. It ought to be the best so that your preparation for the UPSC CSE is optimum. The vastness of the UPSC Syllabus can only be covered by getting a grip over the relevant study materials. Coaching Institutes provide ample updated study materials based on the latest UPSC pattern so that aspirants won’t have to bother about their resources. All they need is to put all their dedication and hardwork towards achieving success.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title"> Study Routine & Time-Table</h3>
                                    <p >Time and again we have emphasized on the importance of an effective study time-table to make the best use of time in hand and be able to devote equal amounts of time to all the subjects mentioned in the UPSC Syllabus. Inspiration to develop a study routine can be drawn from the mentors of the coaching institute or the toppers which the Institute has produced in the recent years. They will help you out in designing and achieving smaller targets on a daily basis so that by the time of the examination, the aspirant is thoroughly prepared to tackle any type of question.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wcu-box">
                                <div class="wcu-box_icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="wcu-box_details">
                                    <h3 class="box-title"> One-on-One and Personalized Mentorship</h3>
                                    <p >The <b>best UPSC Coaching Coaching Institutes in Gurgaon</b>  are the only places where students can get personalized attention to work on their weaknesses. VAJIRAO IAS ACADEMY is leading the charts on these aspects. With relatively smaller batches, the faculties are able to nurture their students on a one-on-one basis. The students here are open to discuss and get their doubts cleared by the mentors anytime during or after the classes. This is by far the best way to extract the maximum from the UPSC Coaching Classes.</p>
                                    <p >So, these are the reasons why UPSC Coaching is deemed important for a UPSC Aspirant. Besides these reasons, the IAS Coaching Institutes are the best places for self-analysis. A good know-how of oneself will boost the Aspirants’ performance, and work wonders for his/her confidence before the exam.</p>
                                    <p >The <b>Best IAS Coaching Institutes in Gurgaon</b>  always have the best and experienced faculties to deal with the students. These teachers can add up to the preparations of the aspirants with previous question paper analysis, note-making, time and stress management, consistency, regular status check of your preparations, revisions, and additional supplements required from an exam point of view. Effective Note-making is a very vital aspect of the entire examination process. Note-Making can come handy in last stage revisions and memorization.. A good Mentor can guide you throughout the note-making and the entire examination process.</p>
                                    <p >Another very important aspect of the examination is time-management. Be it the examination or the preparation every aspirant finds himself/herself short on time. Short of time for preparation can ultimately lead to varied levels of anxiety and stress before the actual examination which is not good. But when an aspirant gets a good teacher to learn from, then the teacher takes care of the schedule and also the mental well-being. This is one of the most beneficial things about being a part of coaching.</p>
                                    <p >There is another advantage of studying in a group of like-minded aspirants within a coaching institute. It creates a healthy competitive environment among the fellow aspirants while creating a studious atmosphere which will not let you feel lazy. Someone has rightly pointed out that ‘Your Environment is the reason behind your current state of mind’.</p>
                                    <p >A good environment which one gets in a UPSC Coaching Institute develops self-discipline within the aspirant right from attending classes on time to on-time proper completion of the syllabus. Good coaching with a good environment, the presence of physical mentors, good support and motivation, easy access to the library, and classes in both online and offline modes, these are all what an aspirant requires to achieve success in the UPSC CSE. What else do you want then? Vajirao IAS Academy, the <b>Best IAS Coaching Institute in Gurgaon</b>  possesses everything for the students. Join us today and together we will chase your dreams.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>


    <!--==============================
Testimonial Area  
==============================-->
<% include commonsection/testimonial.ejs %>

    <!--==============================
Our Center Area  
==============================-->
<% include commonsection/center.ejs %>


   
    <!--==============================
Faq Area
==============================-->
<div class="overflow-hidden space bg-smoke" >
    <div class="container">
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
           
            <div class="col-xl-10 order-xl-1">
                <div class="me-xl-5">
                    <div class="title-area">                        
                        <h2 class="sec-title">Frequently asked questions about 
                           <span style="color: #FEB400;">Vajirao IAS Academy Gurgaon</span> </h2>
                    </div>
                    <div class="accordion-area accordion" id="faqAccordion">


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">What is the duration of the IAS coaching program at VAJIRAO IAS ACADEMY?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The duration of our IAS coaching program in Gurgaon varies from 6 months to 1
                                        year, depending on the course selected.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card active">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Do you provide study material for the IAS exam preparation?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, we provide comprehensive study material and reference books for the IAS exam
                                        preparation to our students in Gurgaon.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Can I join the VAJIRAO IAS ACADEMY’s IAS coaching program in the middle of
                                    the year?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, you can join our IAS coaching program in the middle of the year in Gurgaon,
                                        depending on the availability of seats.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">What is the fee structure for the best IAS coaching institute in Gurgaon?</button>
                            </div>
                            <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The fee structure for VAJIRAO IAS ACADEMY IAS Coaching Classes varies depending
                                        on the course selected. Please contact us for more details.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">What is the success rate of VAJIRAO IAS ACADEMY in Gurgaon?</button>
                            </div>
                            <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Our IAS coaching program in Gurgaon has a high success rate, with many of our
                                        students successfully cracking the IAS exam every year.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">Do VAJIRAO IAS ACADEMY provide online classes for the IAS coaching program
                                    in Gurgaon?</button>
                            </div>
                            <div id="collapse-6" class="accordion-collapse collapse " aria-labelledby="collapse-item-6" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, we provide online classes for our IAS coaching program in Gurgaon, along with
                                        offline classes.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">Do VAJIRAO IAS ACADEMY provide mock tests and practice papers for the IAS
                                    exam preparation in Gurgaon?</button>
                            </div>
                            <div id="collapse-7" class="accordion-collapse collapse " aria-labelledby="collapse-item-7" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, we provide regular mock tests and practice papers to our students in Gurgaon
                                        to help them evaluate their preparation and improve their performance.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-9">What are the qualifications and experience of faculty members at VAJIRAO IAS
                                    ACADEMY in Gurgaon?</button>
                            </div>
                            <div id="collapse-8" class="accordion-collapse collapse " aria-labelledby="collapse-item-8" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Our faculty members in Gurgaon are highly qualified and experienced, with many of
                                        them having cleared the IAS exam themselves.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-9">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">Do VAJIRAO IAS ACADEMY provide personal mentorship for individual students
                                    in Gurgaon?</button>
                            </div>
                            <div id="collapse-9" class="accordion-collapse collapse " aria-labelledby="collapse-item-9" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, we provide personal mentorship and guidance to individual students in Gurgaon,
                                        to help them overcome their weaknesses and maximize their strengths.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-10">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">What is the selection process for the UPSC Exam, and what are the
                                    eligibility criteria?</button>
                            </div>
                            <div id="collapse-10" class="accordion-collapse collapse " aria-labelledby="collapse-item-10" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The selection process for our IAS Exam involves a Preliminary Exam, a Mains
                                        written test and an interview. The eligibility criteria include a minimum age
                                        limit of 21 years and a bachelor's degree from a recognized university.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

    <!--==============================
Contact Area  
==============================-->
<div class="space-bottom" id="contact-sec">
    <div class="container">
        <div class="map-sec">
            <div class="map" >
                <iframe style="height: 500px !important;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sthemeholy!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 mb-30 mb-xl-0">
                <div class="me-xxl-5 mt-60">
                    <div class="title-area mb-25">
                        <h2 class="border-title h3">Have Any Questions?</h2>
                    </div>
                    <p class="mt-n2 mb-25">Have a inquiry or some feedback for us? Fill out the form <br> below to contact our team.</p>
                    <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fal fa-location-dot"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Our Address</p>
                            <a href="https://www.google.com/maps" class="contact-feature_link">E – 365, Second Floor, Nirman Vihar Metro Station, Gate No-4, Pillar No-64, Vikas Marg, Opp. V3S Mall, New Delhi, India, Pin No. – 110092</a>
                        </div>
                    </div>
                    <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Phone Number</p>
                            <a href="tel:+011456586986" class="contact-feature_link">Phone:<span>011-46015028</span></a>
                            <a href="tel:+011456586986" class="contact-feature_link"> Mobile:<span>+91-8800533352</span></a>
                            <a href="tel:+011456586986" class="contact-feature_link">Mobile: <span>+91-8800533302</span></a>
                        </div>
                    </div>
                    <!-- <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fal fa-clock"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Hours of Operation</p>
                            <span class="contact-feature_link">Monday - Friday: 09:00 - 20:00</span>
                            <span class="contact-feature_link">Sunday & Saturday: 10:30 - 22:00</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-7">
                <div class="contact-form-wrap" >
                    <span class="sub-title">Contact With Us!</span>
                    <h2 class="border-title">Get in Touch</h2>
                    <p class="mt-n1 mb-30 sec-text">Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <form action="mail.php" method="POST" class="contact-form ajax-contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style-white" name="name" id="name" placeholder="Your Name*">
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control style-white" name="email" id="email" placeholder="Email Address*">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select name="subject" id="subject" class="single-select nice-select form-select style-white">
                                        <option value="" disabled selected hidden>Select Branch*</option>
                                        <option value="Web Design">Delhi</option>
                                        <option value="Web Development">Gurgaon</option>
                                        <option value="Engine Diagnostics">Indore</option>
                                        <option value="Digital Marketing">Bhubaneswar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control style-white" name="number" id="number" placeholder="Phone Number*">
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group ">
                                    <textarea name="message" id="message" cols="30" rows="3" class="form-control style-white" placeholder="Write Your Message*"></textarea>
                                    <i class="fal fa-pen"></i>
                                </div>
                            </div>
                            <div class="form-btn col-12 mt-10">
                                <button class="th-btn">Send Message<i class="fas fa-long-arrow-right ms-2"></i></button>
                            </div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>