<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
common Area  
==============================-->
    <% include commonsection/common.ejs %>

    <!--==============================
Why Choose Us Area  
==============================-->

    <div class="space overflow-hidden">
      <div
        class="shape-mockup category_3_shape1 jump d-lg-block d-none"
        data-bottom="3%"
        data-right="-3%"
      >
        <!-- <img src="assets/img/normal/category_3_shape1.png" alt="img"> -->
      </div>
      <div
        class="shape-mockup category_3_shape2 spin d-lg-block d-none"
        data-top="3%"
        data-left="-3%"
      >
        <!-- <img src="assets/img/normal/category_3_shape2.png" alt="img"> -->
      </div>
      <div class="container">
        <div class="title-area text-center">
          <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Course Categories</span> -->
          <h2 class="sec-title">Why Choose Us</h2>
          <p class="border p-3">
            <b> Vajirao IAS Academy, Bhubaneswar Center</b>, has been the most
            chosen <b> institute for IAS coaching in Bhubaneswar</b>. With top
            civil service academicians and expert faculties, we have been able
            to shape the careers of many civil service aspirants in the region.
            Our coaching method is unique and prudently designed to let
            aspirants grasp the most and perform exceptionally in the exams. So
            far our methods happen to be fruitful and revered by many. Delhi is
            known as the <b>civil service coaching hub</b> and the coaching
            centers in region attracts many likeminded aspirants. To level the
            ground, we have sourced finest faculties from Delhi to our
            <b>IAS Coaching center Bhubaneswar</b>, so that you can learn more
            and better.
          </p>

          <p class="border p-3">
            Being the <b>best civil service coaching in Bhubaneswar</b> , we
            ensure that our students are comfortable in every step. We ensure
            guidance from the very beginning that is from decoding the syllabus
            to excelling in the interview. If you’re strolling on the proper
            path, subsequently you’ll make progress. The perfect key to start
            preparing for any exam is Self-belief and a proper understanding of
            the exam you’re appearing in. The Union Public Service Commission, a
            constitutional body of India, conducts the Civil Services
            Examination every year to find a perfect fit for the esteemed
            bureaucratic vacancies. Through this examination, candidates are
            recruited, every year, to the higher civil services of the
            Government of India including the Administrative, Foreign, and
            Police services. This is just like Plato’s allegory, that a
            candidate has to be a prodigy to crack this examination. The
            examination expects the candidate to think like a bureaucrat if they
            believe to be one. It is advisable and important to keep the sources
            limited to not be a man standing on two boats. The CSE’s objective
            is to find a suitable person who can change the system without
            affecting the legacy of the system. We at Vajirao, the
            <b>best IAS Academy in Bhubaneswar</b>, help aspirants to be well
            versed in the understanding of the exam pattern and marking scheme.
            The very key to excelling in any examination is the prior knowledge
            about the exam and a keen analysis of the Syllabus and Question
            pattern, supplemented with a <br />
            <b style="color: #ef0909"> 9-step process.</b>
          </p>
        </div>

        <!--==============================
Category Area  
==============================-->
        <section
          class="space-common mb-20"
          data-bg-src="assets/img/update1/bg/category_bg_1.jpg"
        >
          <div class="container">
            <div
              class="row justify-content-center justify-content-xl-between align-items-center"
            >
              <div class="col-xl-8 mb-n2 mb-xl-0">
                <div class="title-area text-center text-xl-start">
                  <!-- <span class="sub-title">Our Course Categories</span> -->
                  <h2 class="sec-title fw-semibold">
                    The
                    <span style="color: #ef0909">9-Step Process</span> Includes
                  </h2>
                </div>
              </div>
            </div>
            <div class="row gy-4">
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px">
                        IDENTIFY The Subjects</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >DESIGN The Routine</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >BE Consistent</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >COLLECT The Sources</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >Facts On Fingers</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >REVISE And Note-Making</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >Time Management</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >ANALYZE The Examination</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                <div class="category-list2">
                  <div class="category-list2_icon">
                    <img
                      src="assets/img/update1/icon/category_2_1.svg"
                      alt="icon"
                    />
                  </div>
                  <div class="category-list2_content">
                    <h5 class="category-list2_title">
                      <a href="course.html" style="font-size: 18px"
                        >EXPLORE The Syllabus</a
                      >
                    </h5>
                  </div>
                  <a href="course.html" class="icon-btn"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- card area -->
        <div class="row gy-4">
          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_1.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">EXPERIENCED FACULTY</a>
                </h3>
                <span class="category-card_text"
                  >The Academy has a team of highly experienced and qualified
                  faculty members who are experts in their respective fields.
                  They have years of experience in teaching Civil Services</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup1"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2 cat-card2-active">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_2.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">COMPREHENSIVE STUDY MATERIAL</a>
                </h3>
                <span class="category-card_text"
                  >Vajirao IAS Academy provides comprehensive study material to
                  its students. The study material is designed by experts and
                  covers all the topics required for the</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup2"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_3.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">AFFORDABLE FEES</a>
                </h3>
                <span class="category-card_text"
                  >We have a unique teaching methodology that focuses on
                  imparting knowledge and skills to students in an easy and
                  effective manner. The academy uses a combination of</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup3"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_4.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">GOOD INFRASTRUCTURE</a>
                </h3>
                <span class="category-card_text"
                  >Vajirao IAS Academy offers courses at affordable prices. The
                  fee structure varies depending on the course chosen by the
                  student. The academy also offers</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup4"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_5.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">INNOVATIVE TEACHING METHODOLOGY</a>
                </h3>
                <span class="category-card_text"
                  >Vajirao IAS Academy has state-of-the-art infrastructure that
                  provides a comfortable and conducive learning environment to
                  its students. The classrooms are spacious</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup6"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-md-6">
            <div class="category-card style2 cat-card2">
              <div class="category-card_icon">
                <!-- <img src="assets/img/icon/category_3_6.svg" alt="icon"> -->
                <img
                  class="svg-img"
                  src="assets/img/icon/classroom-svg.svg"
                  alt="icon"
                />
              </div>
              <div class="category-card_content">
                <h3 class="box-title f-size">
                  <a href="#">WEEKLY ANSWER WRITING PRACTICES</a>
                </h3>
                <span class="category-card_text"
                  >Mere mugging up the topics mentioned in the syllabus won’t
                  suffice. UPSC is much more than that. Our classroom courses
                  for UPSC coaching classes in Delhi are followed by weekly
                  tests</span
                >
                <a
                  href="#"
                  class="link-btn searchBoxToggler"
                  data-popup="popup5"
                  >LEARN MORE <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="title-area text-center mt-25">
          <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Course Categories</span> -->
          
          <p class="border p-3"> This approach can be easily accessed by a short addition of a note-making strategy. This is what and how we guide our students initially in our institute. This has helped us be the <b>best IAS Coaching in Bhubaneswar</b>, Odisha. This is what we teach in our intensive coaching program. We even mentor students after matriculation to choose the right course if they dream to join the Civil Service Board after graduation. We help them to choose the right stream after the 12th if they aim to excel in UPSC-CSE. Well, many examples have excelled in this examination even belonging to various streams such as tech, design, arts, commerce, etc. If an aspirant is willing to start after 12th itself and if they find arts a thrilling domain, they can choose Bachelors of arts with history and polity as one of the majors. Or one can jump to any stream of interest and utilize their leisure time to decode the examination process. Ultimately a proper routine would help anyone fetch the results like nothing but a piece of cake.</p>


          <p class="border p-3">How to pick the proper elective subject or the wisest panacea to choose an elective subject is the only query of the maximum number of IAS aspirants. The UPSC has a pattern designed for every examination.</p>

          <p class="border p-3">The <b>Civil Services Examination</b>  holds a triple-phased process. The first phase is the preliminary exam, out of which few are chosen for the Mains examination, and then comes the final phase which is the personality test. Optional Subject is one of the domains of Mains Examination that is descriptive.</p>

          <p class="border p-3">Now let’s have a quick look at the mains syllabus. It consists of two qualifying papers, seven ranking papers including an optional one. The Mains exam holds 1000 marks weightage and the two papers of the optional subject account for 250 marks each. The UPSC has already provided a list of options that a candidate can opt for, along with the syllabus. The optional paper plays a very important role in the examination as it accounts for 500 marks out of 2025.</p>

          <p class="border p-3">The most commenced mistakes include opting for an elective subject based on toppers results, popularity, minimum syllabus, and availability of study material. And the popularity of the subject based on the <b>topper’s talk</b>  has been a new normal. We at Vajirao IAS Academy, the best Civil Service Coaching in Bhubaneswar are here to unchain the stereotype. Optional paper can be best termed as “the roommate of your choice”. The only condition is you have to stick to your roommate till you accomplish your UPSC Goal. No person on earth will choose a roommate who’d aid in dissipating your mental peace, and happiness. So, the candidate should be careful when choosing the optional. We provide this guidance in our institute.</p>

          <p class="border p-3">Vajirao IAS Academy, the <b>best IAS Coaching Centre in Bhubaneswar</b>  even provides <b> <a href="#">Classroom coures</a></b>  and <b> <a href="#">online coaching</a> </b>  for optional papers. We ensure that the student is comfortable with the optional subject along with the syllabus. We provide the best materials, the best coach and mentors for doubt clearing, experienced faculties to help them in excelling in the optional exam, and selective reading techniques. We even help our students with routine building and effective reading, and time management techniques like the <b>POMODORO Technique</b>.</p>

          <p class="border p-3">As it is said, it is your words, behavior, and personality that stand out in the crowd. If you have dived into the ocean of knowledge but haven’t practiced empathy and polite expression, then my friend you’re on the inexact path. The Union Public Service Commission has designed the exam in such a way that can test the overall knowledge, nature, personality of a candidate, and the overall eligibility for candidature.

          </p>

          <p class="border p-3">An IAS Officer is a person who just does not have to take care of the administration but also the crowd, the mixture of ethnic groups, communities, tribes, and offices, starting from the colony to the authority. Do you think this is possible with just knowledge? A person must be humble, honest, patient, empathetic, genuine, pragmatic, polite, listener, leader, and understanding. This will make you an IAS officer.
          </p>

          <p class="border p-3">At Vajirao IAS Academy, providing the <b>best IAS Coaching Institute in Bhubaneswar</b>, we help our students in these wide areas. We help them deal with exam stress, interview pressure, personality development, time and stress management, etc. Coming together is a big name. Keeping together is progress and working together is a success. And with this notion, our faculties and students are making us proud year in and year. We ensure 100% success stories. The reason behind each success story of our institute is our well-versed team with highly experienced faculties and mentors. We offer <b>ONLINE/OFFLINE classroom programs</b>  so that no aspirant is left behind.
          </p>

          <p class="border p-3">We don’t only coach; we also nurture our aspirants in our institute with a fully equipped library, one-to-one session with faculties and counselors, study materials and regular classroom tests. We make sure the coaching program is as solid and extraordinary as possible. Our libraries are properly monitored to create an environment that our aspirants can use to study and develop their skills by discussing with many bright aspirants.
          </p>

          <p class="border p-3">Vajirao IAS Academy has it’s headquarter in Delhi and one of its premier branch in Jaydev Vihar, Bhubaneswar.
          </p>

          <p class="border p-3">The institute is led by its Founder/Managing Director Mr. Dilip Kumar an alumnus of Delhi University is a veteran teacher. He has decades of experience in providing educational and professional guidance to thousands of students and have successfully helped them realize their dream of Civil Services.
          </p>
      </div>


      </div>
    </div>

    <!--==============================
Counter Area  
==============================-->
    <% include commonsection/counter.ejs %>
    <!--==============================
Features & Programme Area  
==============================-->
    <div class="space" style="padding: 50px 50px">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 bg-smoke p-4">
            <div class="mb-35 mb-xl-5">
              <h3 class="h2" style="color: #feb400">Features We Offer</h3>
            </div>

            <div class="checklist style2 mb-35">
              <ul>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Comprehensive Study Materials for both Prelims and Mains
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Preliminary focus on fundamental content building and
                    analysis
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    One-stop guidance for Prelims, Mains and Interview
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Daily Mains answer writing practices at IAS institute
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    All India Test Series
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Prelims Specific focus in last 2 months
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Special sessions for Budget and Economic Survey
                  </h5>
                </li>
              </ul>
            </div>
            <a href="about.html" class="th-btn"
              >Register<i class="fas fa-arrow-right ms-2"></i
            ></a>
          </div>
          <div class="col-xl-6 p-4" style="background-color: #fe44001f">
            <div class="mb-35 mb-xl-6">
              <h3 class="h2 text-theme">Our Programmes</h3>
            </div>

            <div class="checklist style2 mb-35">
              <ul>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Free Revision Module - Registration Closed
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Free IAS Mock Interview – Book Your Slot!
                  </h5>
                </li>
                <li>
                  <h5
                    class="check-title"
                    style="font-size: 18px; font-weight: 400"
                  >
                    Mains Test Series - To be Declared
                  </h5>
                </li>
              </ul>
            </div>
            <a href="about.html" class="th-btn"
              >Register<i class="fas fa-arrow-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="shape-mockup jump d-none d-xxl-block"
        data-bottom="30%"
        data-right="0"
      >
        <img src="assets/img/update1/shape/dot_shape_2.png" alt="shapes" />
      </div>
    </div>

    <!--==============================
Facilities at Vajirao IAS Academy Delhi Branch area  
==============================-->
    <div class="why-area-1 space overflow-hidden">
      <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
        <img src="assets/img/normal/about_1_shape1.png" alt="img" />
      </div>

      <!-- <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div> -->

      <div
        class="shape-mockup why-shape-3 jump-reverse"
        data-bottom="25%"
        data-right="-3%"
      >
        <img src="assets/img/normal/wcu_1_shape2.png" alt="img" />
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <div class="wcu-wrap1">
              <div class="title-area mb-25">
                <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> WHY CHOOSE US</span> -->
                <h2 class="sec-title">
                  Facilities at
                  <span style="color: #feb400"> Vajirao IAS Academy </span>
                  Bhubaneswar Branch
                </h2>
                <p>
                  Vajirao IAS Academy is a well-known coaching institute in
                  India that has been providing quality education and guidance
                  to aspirants for over three decades. The institute has gained
                  a reputation for being one of the best Civil Services Coaching
                  Institutes in Delhi due to its experienced faculty,
                  comprehensive approach, state-of-the-art infrastructure, and
                  individual attention to each student.
                </p>
                <p>
                  Vajirao IAS Academy follows a comprehensive approach towards
                  UPSC preparation. The academy’s curriculum covers all aspects
                  of the exam, including the latest trends and changes in the
                  syllabus. The IAS institute also provides extensive study
                  material and online resources, which help students to prepare
                  for the exam effectively. This comprehensive approach ensures
                  that students are well-prepared for all aspects of the exam
                  and are equipped to handle any challenges that they may face.
                </p>
                <p>
                  The Academy has a proven track record of producing successful
                  candidates in the civil services exam. The academy’s success
                  rate is one of the highest in the country, which reflects the
                  quality of education and guidance provided by the academy. It
                  is the best UPSC Coaching Institute in Delhi which is
                  committed to provide quality education and personalized
                  guidance to each student makes it the ideal choice for
                  aspirants.
                </p>
              </div>
              <div class="row gy-4">
                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Experienced Faculty</h3>
                      <p>
                        The faculty at this IAS institute is one of its greatest
                        strengths. The academy has a team of experienced and
                        well-qualified teachers who are experts in their
                        respective fields. The faculty members are dedicated to
                        providing personalized attention to each student and
                        ensure that their doubts and queries are resolved.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Comprehensive Approach</h3>
                      <p>
                        Vajirao IAS Academy follows a comprehensive approach
                        towards UPSC preparation. The academy’s curriculum
                        covers all aspects of the exam, including the latest
                        trends and changes in the syllabus. The academy also
                        provides extensive study material and online resources,
                        which help students to prepare for the exam effectively.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Infrastructure</h3>
                      <p>
                        The infrastructure at Vajirao IAS Academy is designed to
                        provide a comfortable and conducive learning environment
                        for students. The classrooms are spacious,
                        air-conditioned, and equipped with audio-visual aids,
                        which make learning more interactive and engaging. The
                        academy also has a well-stocked library, where students
                        can access a wide range of books and journals related to
                        the civil services exam.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Hostel Facilities</h3>
                      <p>
                        The academy provides hostel facilities for outstation
                        students, which ensures that they can focus on their
                        studies without worrying about accommodation. The hostel
                        facilities are equipped with all the necessary amenities
                        and provide a comfortable stay for students.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Test Series</h3>
                      <p>
                        The academy provides a range of test series, including
                        prelims, mains, and optional subject tests, which help
                        students to assess their preparation level and identify
                        areas that need improvement. The IAS institute also
                        provides regular feedback and counseling to students,
                        which helps them to improve their performance.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Doubt Clearing Sessions</h3>
                      <p>
                        The academy conducts doubt clearing sessions regularly,
                        where students can clarify their doubts and queries with
                        the faculty members. The doubt clearing sessions provide
                        students with an opportunity to interact with the
                        faculty members and get their queries resolved.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Individual Attention</h3>
                      <p>
                        Vajirao IAS Academy provides individual attention to
                        each student, which helps them to identify their
                        strengths and weaknesses. The academy provides
                        personalized guidance to students and helps them to
                        improve their performance in the exam.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Batch Size</h3>
                      <p>
                        The academy maintains a small batch size, which ensures
                        that each student gets individual attention from the
                        faculty members. The small batch size also helps the
                        faculty members to focus on each student’s performance
                        and provide personalized guidance.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Success Rate</h3>
                      <p>
                        Vajirao IAS Academy has a proven track record of
                        producing successful candidates in the civil services
                        exam. The academy’s success rate is one of the highest
                        in the country, which reflects the quality of education
                        and guidance provided by the academy.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="wcu-box">
                    <div class="wcu-box_icon">
                      <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wcu-box_details">
                      <h3 class="box-title">Online Resources</h3>
                      <p>
                        The academy provides online resources, including study
                        material, test series, and doubt clearing sessions,
                        which help students to prepare for the exam effectively.
                        The online resources are designed to provide students
                        with flexibility and convenience, which enables them to
                        prepare for the exam from anywhere and at any time
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==============================
Facilities at Vajirao IAS Academy Delhi Branch area  
==============================-->
    <div
      class="why-area-1 space overflow-hidden"
      style="background-color: #fe44001f"
    >
      <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
        <img src="assets/img/normal/about_1_shape1.png" alt="img" />
      </div>

      <!-- <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div> -->

      <div
        class="shape-mockup why-shape-3 jump-reverse"
        data-bottom="25%"
        data-right="-3%"
      >
        <img src="assets/img/normal/wcu_1_shape2.png" alt="img" />
      </div>

      <div class="container">
        <div class="row mb-20">
           
          <div class="col-xl-12 order-xl-1">
              <h2 class="sec-title">Courses offered at <span style="color: #feb400;">Vajirao IAS Academy</span> Bhubaneswar Branch</h2>
              <div class="row gy-4">
                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Prelims Coaching
                          </h4>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains Coaching
                          </h4>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains Geography Optional Coaching
                          </h4>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains Political Science Optional Coaching
                          </h4>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains Sociology Optional Coaching
                          </h4>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains Public Administration Optional Coaching
                          </h4>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            IAS Mains History Optional Coaching
                          </h4>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            Interview Guidance Program
                          </h4>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title-1">
                            Intensive IAS Programme (Prelims+Mains) Online Coaching
                          </h4>
                      </div>
                  </div>

              </div>
             
          </div>
      </div>
      </div>
    </div>

    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>

    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Faq Area
==============================-->
<div class="overflow-hidden space bg-smoke">
  <div class="container">
    <div
      class="row"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="col-xl-10 order-xl-1">
        <div class="me-xl-5">
          <div class="title-area">
            <h2 class="sec-title">
              Frequently asked questions about
              <span style="color: #feb400">Vajirao IAS Academy </span> Bhubaneswar
            </h2>
          </div>
          <div class="accordion-area accordion" id="faqAccordion">
            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1"
                  aria-expanded="false"
                  aria-controls="collapse-1"
                >
                  What is the duration of the IAS coaching program at
                  VAJIRAO IAS ACADEMY?
                </button>
              </div>
              <div
                id="collapse-1"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-1"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The duration of our IAS coaching program in Bhubaneswar varies
                    from 6 months to 1 year, depending on the course
                    selected.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card active">
              <div class="accordion-header" id="collapse-item-2">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-2"
                  aria-expanded="true"
                  aria-controls="collapse-2"
                >
                  Do you provide study material for the IAS exam
                  preparation?
                </button>
              </div>
              <div
                id="collapse-2"
                class="accordion-collapse collapse show"
                aria-labelledby="collapse-item-2"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide comprehensive study material and
                    reference books for the IAS exam preparation to our
                    students in Bhubaneswar.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                  aria-controls="collapse-3"
                >
                  Can I join the VAJIRAO IAS ACADEMY’s IAS coaching program
                  in the middle of the year?
                </button>
              </div>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-3"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, you can join our IAS coaching program in the middle
                    of the year in Bhubaneswar, depending on the availability of
                    seats.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-4"
                  aria-expanded="false"
                  aria-controls="collapse-4"
                >
                  What is the fee structure for the best IAS coaching
                  institute in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-4"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-4"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The fee structure for VAJIRAO IAS ACADEMY IAS Coaching
                    Classes varies depending on the course selected. Please
                    contact us for more details.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-5"
                  aria-expanded="false"
                  aria-controls="collapse-5"
                >
                  What is the success rate of VAJIRAO IAS ACADEMY in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-5"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-5"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Our IAS coaching program in Bhubaneswar has a high success
                    rate, with many of our students successfully cracking
                    the IAS exam every year.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-6">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-6"
                  aria-expanded="false"
                  aria-controls="collapse-6"
                >
                  Do VAJIRAO IAS ACADEMY provide online classes for the IAS
                  coaching program in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-6"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-6"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide online classes for our IAS coaching
                    program in Bhubaneswar, along with offline classes.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-7">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-7"
                  aria-expanded="false"
                  aria-controls="collapse-7"
                >
                  Do VAJIRAO IAS ACADEMY provide mock tests and practice
                  papers for the IAS exam preparation in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-7"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-7"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide regular mock tests and practice papers
                    to our students in Bhubaneswar to help them evaluate their
                    preparation and improve their performance.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-8">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-8"
                  aria-expanded="false"
                  aria-controls="collapse-9"
                >
                  What are the qualifications and experience of faculty
                  members at VAJIRAO IAS ACADEMY in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-8"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-8"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Our faculty members in Bhubaneswar are highly qualified and
                    experienced, with many of them having cleared the IAS
                    exam themselves.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-9">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-9"
                  aria-expanded="false"
                  aria-controls="collapse-9"
                >
                  Do VAJIRAO IAS ACADEMY provide personal mentorship for
                  individual students in Bhubaneswar?
                </button>
              </div>
              <div
                id="collapse-9"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-9"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    Yes, we provide personal mentorship and guidance to
                    individual students in Bhubaneswar, to help them overcome
                    their weaknesses and maximize their strengths.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-card">
              <div class="accordion-header" id="collapse-item-10">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-10"
                  aria-expanded="false"
                  aria-controls="collapse-10"
                >
                  What is the selection process for the UPSC Exam, and what
                  are the eligibility criteria?
                </button>
              </div>
              <div
                id="collapse-10"
                class="accordion-collapse collapse"
                aria-labelledby="collapse-item-10"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  <p class="faq-text">
                    The selection process for our IAS Exam involves a
                    Preliminary Exam, a Mains written test and an interview.
                    The eligibility criteria include a minimum age limit of
                    21 years and a bachelor's degree from a recognized
                    university.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <!--==============================
Contact Area  
==============================-->
    <div class="space-bottom" id="contact-sec">
      <div class="container">
        <div class="map-sec">
          <div class="map">
            <iframe
              style="height: 500px !important"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sthemeholy!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5 mb-30 mb-xl-0">
            <div class="me-xxl-5 mt-60">
              <div class="title-area mb-25">
                <h2 class="border-title h3">Have Any Questions?</h2>
              </div>
              <p class="mt-n2 mb-25">
                Have a inquiry or some feedback for us? Fill out the form <br />
                below to contact our team.
              </p>
              <div class="contact-feature">
                <div class="contact-feature-icon">
                  <i class="fal fa-location-dot"></i>
                </div>
                <div class="media-body">
                  <p class="contact-feature_label">Our Address</p>
                  <a
                    href="https://www.google.com/maps"
                    class="contact-feature_link"
                    >N-6, Plot No – 2273/4103, Biju Pattanaik College Road,Opp. Maa Bhagabati Temple, Jayadev Vihar Square, Bhubaneswar, Odisha, PIN No. – 751013</a
                  >
                </div>
              </div>
              <div class="contact-feature">
                <div class="contact-feature-icon">
                  <i class="fal fa-phone"></i>
                </div>
                <div class="media-body">
                  <p class="contact-feature_label">Phone Number</p>
                  <a href="tel:9040012858" class="contact-feature_link"
                    >Phone:<span>+91-9040012858</span></a
                  >
                  <a href="tel:7682823980" class="contact-feature_link">
                    Mobile:<span>+91-7682823980</span></a
                  >
                  <a href="tel:7682823981" class="contact-feature_link"
                    >Mobile: <span>+91-7682823981</span></a
                  >
                </div>
              </div>
              <!-- <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fal fa-clock"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Hours of Operation</p>
                            <span class="contact-feature_link">Monday - Friday: 09:00 - 20:00</span>
                            <span class="contact-feature_link">Sunday & Saturday: 10:30 - 22:00</span>
                        </div>
                    </div> -->
            </div>
          </div>
          <div class="col-xl-7">
            <div class="contact-form-wrap">
              <span class="sub-title">Contact With Us!</span>
              <h2 class="border-title">Get in Touch</h2>
              <p class="mt-n1 mb-30 sec-text">
                Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod
                tempor eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
              <form
                action="mail.php"
                method="POST"
                class="contact-form ajax-contact"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control style-white"
                        name="name"
                        id="name"
                        placeholder="Your Name*"
                      />
                      <i class="fal fa-user"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control style-white"
                        name="email"
                        id="email"
                        placeholder="Email Address*"
                      />
                      <i class="fal fa-envelope"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select
                        name="subject"
                        id="subject"
                        class="single-select nice-select form-select style-white"
                      >
                        <option value="" disabled selected hidden>
                          Select Branch*
                        </option>
                        <option value="Web Design">Delhi</option>
                        <option value="Web Development">Gurgaon</option>
                        <option value="Engine Diagnostics">Indore</option>
                        <option value="Digital Marketing">Bhubaneswar</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="tel"
                        class="form-control style-white"
                        name="number"
                        id="number"
                        placeholder="Phone Number*"
                      />
                      <i class="fal fa-phone"></i>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea
                        name="message"
                        id="message"
                        cols="30"
                        rows="3"
                        class="form-control style-white"
                        placeholder="Write Your Message*"
                      ></textarea>
                      <i class="fal fa-pen"></i>
                    </div>
                  </div>
                  <div class="form-btn col-12 mt-10">
                    <button class="th-btn">
                      Send Message<i class="fas fa-long-arrow-right ms-2"></i>
                    </button>
                  </div>
                </div>
                <p class="form-messages mb-0 mt-3"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
