<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper hero-15 th-carousel" data-slide-show="1" data-md-slide-show="1" data-fade="true" id="hero">


    <div class="th-hero-slide">
        <div class="th-hero-bg" data-bg-src="assets/img/background1.webp">
            <!-- <img src="assets/img/update1/hero/hero_overlay_10.png" alt="Hero Image"> -->
        </div>
        <div class="container">
            <div class="hero-style15">
                <div class="shadow-text" data-ani="slideinup" data-ani-delay="0.1s">VAJIRAO <br> IAS ACADEMY</div>
                <span class="hero-name" data-ani="slideindown" data-ani-delay="0.5s">Admission Open for 2024</span>
                <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">The Best Coaching</h1>
                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.1s">"Each page of your preparation is a chapter in the epic tale of your success. Write it with passion, revise it with determination, and celebrate the climax on exam day!"</p>
                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.3s">
                    <a href="/contact" class="th-btn">Enroll Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                    <!-- <a href="about.html" class="th-btn style4">Learn More<i class="fas fa-long-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>


    <div class="th-hero-slide">
        <div class="th-hero-bg" data-bg-src="assets/img/DELHI.webp">
            <!-- <img src="assets/img/update1/hero/hero_overlay_10.png" alt="Hero Image"> -->
        </div>
        <div class="container">
            <div class="hero-style15">
                <div class="shadow-text" data-ani="slideinup" data-ani-delay="0.1s">VAJIRAO <br> IAS ACADEMY</div>
                <span class="hero-name" data-ani="slideindown" data-ani-delay="0.5s">Admission Open for 2024</span>
                <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">The Best Coaching</h1>
                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.1s">"Each page of your preparation is a chapter in the epic tale of your success. Write it with passion, revise it with determination, and celebrate the climax on exam day!"</p>
                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.3s">
                    <a href="/contact" class="th-btn">Enroll Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                    <!-- <a href="about.html" class="th-btn style4">Learn More<i class="fas fa-long-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>


    <div class="th-hero-slide">
        <div class="th-hero-bg" data-bg-src="assets/img/INDORE-img.webp">
            <!-- <img src="assets/img/update1/hero/hero_overlay_10.png" alt="Hero Image"> -->
        </div>
        <div class="container">
            <div class="hero-style15">
                <div class="shadow-text" data-ani="slideinup" data-ani-delay="0.1s">VAJIRAO <br> IAS ACADEMY</div>
                <span class="hero-name" data-ani="slideindown" data-ani-delay="0.5s">Admission Open for 2024</span>
                <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">The Best Coaching</h1>
                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.1s">"Each page of your preparation is a chapter in the epic tale of your success. Write it with passion, revise it with determination, and celebrate the climax on exam day!"</p>
                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.3s">
                    <a href="/contact" class="th-btn">Enroll Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                    <!-- <a href="about.html" class="th-btn style4">Learn More<i class="fas fa-long-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="th-hero-slide">
        <div class="th-hero-bg" data-bg-src="assets/img/BHUBANESWARNEW.webp">
            <!-- <img src="assets/img/update1/hero/hero_overlay_10.png" alt="Hero Image"> -->
        </div>
        <div class="container">
            <div class="hero-style15">
                <div class="shadow-text" data-ani="slideinup" data-ani-delay="0.1s">VAJIRAO <br> IAS ACADEMY</div>
                <span class="hero-name" data-ani="slideindown" data-ani-delay="0.5s">Admission Open for 2024</span>
                <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">The Best Coaching</h1>
                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.1s">"Each page of your preparation is a chapter in the epic tale of your success. Write it with passion, revise it with determination, and celebrate the climax on exam day!"</p>
                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.3s">
                    <a href="/contact" class="th-btn">Enroll Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                    <!-- <a href="about.html" class="th-btn style4">Learn More<i class="fas fa-long-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>


    <!--======== / Hero Section ========-->

 <!--==============================
About section  
==============================-->
<div class="video-area-1 bg-smoke overflow-hidden space">
    <div class="shape-mockup video-shape1 jump-reverse d-lg-block d-none" data-right="-35%" data-top="-40%">
        <!-- <img src="assets/img/normal/video-1_shape1.png" alt="img"> -->
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-7 order-lg-2">
                <div class="ms-lg-3 mb-lg-0 mb-5">
                    <div class="video-wrap mb-30 th-carousel " data-fade="true">
                        <img src="assets/img/garimalohiaslider.webp" alt="img">
                        <img src="assets/img/shruti1.webp" alt="img">
                        <img src="assets/img/subham.webp" alt="img">

                        <img src="assets/img/garimalohiaslider.webp" alt="img">
                        <img src="assets/img/shruti1.webp" alt="img">
                        <img src="assets/img/subham.webp" alt="img">

                        <img src="assets/img/garimalohiaslider.webp" alt="img">
                        <img src="assets/img/shruti1.webp" alt="img">
                        <img src="assets/img/subham.webp" alt="img">
                    </div>
                  
                </div>
                
            </div>
            <div class="col-lg-5 order-lg-1">
                <div class="title-area mb-40">
                    
                    <h2 class="sec-title">Why We <span style="color: #FEB400;">Standout?</span>  </h2>
                    <p>Vajirao IAS Academy is a prestigious Institute in India known for preparing candidates for the Civil Services Examination at multiple levels.</p>
                    <div class="checklist mt-35 mb-40">
                        <ul>
                            <li>A team of finest faculties</li>
                            <li>Study materials</li>
                            <li>Fully equipped classrooms</li>
                            <li>Personal attention by the teachers</li>
                            <li>Website dedicated for daily resources</li>
                            <li>Test series by experienced educators</li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="th-btn" href="/about">Know More <i class="fa fa-arrow-right me"></i></a>
                    </div>
                </div>
                <!-- <div class="student-count style2">
                    <h5 class="title"><span class="text-theme"><span class="counter-number">56</span>k+</span> Enrolled Students</h5>
                    <img src="assets/img/normal/student-group_2_1.png" alt="img">
                </div> -->
            </div>
        </div>
    </div>
</div>





<!--==============================
Toppers Area  
==============================-->

<% include commonsection/topper.ejs %>


    <!--==============================
Aword section starts  
==============================-->

<div class="p-4 bg-smoke " id="about-sec" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 mb-30 mb-xl-0">
                <div class="img-box11">
                    <div class="img1 tilt-active">
                        <img src="assets/img/normal/Rastrapati-aword.webp" alt="about">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="ps-xxl-5 ms-xl-2">
                    <div class="title-area mb-35">
                        <!-- <span class="sub-title">Hello There</span> -->
                        <h2 class="sec-title fw-semibold"><span style="color: #FEB400;">VAJIRAO IAS ACADEMY -</span>
                            India’s Leading IAS Coaching Institute !</h2>
                    </div>
                    <p class="mt-n2 mb-35">Vajirao IAS Academy is India's leading IAS coaching institute, known for
                        its exceptional guidance and comprehensive curriculum. With many years of experience,
                        Vajirao IAS Academy has been instrumental in shaping the careers of numerous civil servants.
                        <br>With a proven track record of success, Vajirao IAS Academy is the go-to destination for
                        civil services aspirants across the country. Join us today and take the first step towards a
                        successful career in the civil services!
                    </p>

                    <!-- <div class="award-box-wrap " >
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_1.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Best Trainer</h3>
                            <p class="award-box_time">2012 - 2018</p>
                        </div>
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_2.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Best Performance</h3>
                            <p class="award-box_time">2014 - 2015</p>
                        </div>
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_3.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Editors Choice</h3>
                            <p class="award-box_time">2010 - 2016</p>
                        </div>
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_3.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Editors Choice</h3>
                            <p class="award-box_time">2010 - 2016</p>
                        </div>
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_3.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Editors Choice</h3>
                            <p class="award-box_time">2010 - 2016</p>
                        </div>
                        <div class="award-box">
                            <div class="award-box_icon">
                                <img src="assets/img/update1/icon/award_1_3.png" alt="award">
                            </div>
                            <h3 class="award-box_title box-title">Editors Choice</h3>
                            <p class="award-box_time">2010 - 2016</p>
                        </div>
                    </div> -->
                    <div class="row slider-shadow th-carousel category-slider" data-slide-show="4"
                        data-ml-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-6.png"
                                        alt="Shruti Sharma">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Shruti Sharma</h3>
                                    <p class="category-card_text">AIR-1, UPSC-2021</p>
                                   
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-4.jpg"
                                        alt="Shubham Kumar">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Shubham Kumar</h3>
                                    <p class="category-card_text">AIR-1, UPSC-2020</p>
                                   
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-5.jpg"
                                        alt="Pradeep Kumar">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Pradeep Kumar</h3>
                                    <p class="category-card_text">AIR-1, UPSC-2019</p>
                                   
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-3.jpg"
                                        alt="Sanjita Mohapatra">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Sanjita Mohapatra</h3>
                                    <p class="category-card_text">AIR-10, UPSC-2019</p>
                                    
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-2.jpg"
                                        alt="Nisha Air-503, UPSC 2019">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Nisha</h3>
                                    <p class="category-card_text">AIR-503, UPSC-2019</p>
                                   
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="category-card">
                                <div class="category-card_icon-aword">
                                    <img src="https://www.vajiraoiasacademy.com/assets/images/awards-1.jpg">
                                </div>
                                <!-- <div class="category-card_content">
                                    <h3 class="category-card_title">Bibhuti Bhusan</h3>
                                    <p class="category-card_text">AIR-819, UPSC-2019</p>
                                    
                                </div> -->
                            </div>
                        </div>

                    </div>
                    <a href="course.html" class="th-btn mt-2">Explore More<i
                            class="fas fa-long-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>





 <!--==============================
Services Area  
==============================-->
<section class="service-sec space">
    <div class="container">
        <div class="title-area text-center">
            <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> OUR SERVICES</span> -->
            <h2 class="sec-title">Our Services</h2>
        </div>

        <div class="row th-carousel service-slider1 slider-shadow" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1">
            <div class="col-md-6 col-xl-4 ">
                <div class="service-card">
                    <div class="service-card-icon">
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="service-card-content ">
                        <h3 class="box-title"><a href="service-details.html">Classroom Courses</a></h3>
                        <p class="service-card-text">Prepare for the UPSC Examinations at our state-of-the-art Classrooms.</p>
                        <div class="service-card-img">
                            <img src="assets/img/service/ofline.webp" alt="img">
                            <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card-icon">
                        <img class="svg-img" src="assets/img/icon/postal.svg" alt="icon">
                    </div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Postal Courses</a></h3>
                        <p class="service-card-text">Get access to our finest UPSC Study materials delivered at your doorstep.</p>
                        <div class="service-card-img">
                            <img src="assets/img/service/postal-img.webp" alt="postal">
                            <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card-icon">
                        <img class="svg-img" src="assets/img/icon/online.svg" alt="icon">
                    </div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Online Courses</a></h3>
                        <p class="service-card-text">Join our online courses and study from the comforts of your home. </p>
                        <div class="service-card-img">
                            <img src="assets/img/service/online.webp" alt="img">
                            <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card-icon">
                        <img class="svg-img" src="assets/img/icon/tesrserese.svg" alt="icon">
                    </div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">UPSC Test Series</a></h3>
                        <p class="service-card-text">Join our All India Prelims and Mains Test Series for UPSC CSE. </p>
                        <div class="service-card-img">
                            <img src="assets/img/service/test series.webp" alt="img">
                            <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>
   

<!--==============================
Blog Area  
==============================-->
<section class="overflow-hidden space bg-smoke" id="blog-sec">
    <div class="container">
        <div class="mb-35 text-center text-md-start">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-8">
                    <div class="title-area mb-md-0">
                        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our News & Blogs</span> -->
                        <h2 class="sec-title">Study Resources From <a href="www.iasexam.com" style="color: #FEB400;"> IAS EXAM.com</a></h2>
                    </div>
                </div>
                <div class="col-md-auto">
                    <a href="https://www.iasexam.com/" class="th-btn">View All Posts<i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        <div class="row slider-shadow th-carousel blog-slider-1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2 ">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow" style="background-color: rgb(225, 109, 47);"><a href="https://www.iasexam.com/category/current-affairs/" style="color: #fff;">Daily Current Affairs</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                        <a href="#"><p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p></a>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                 
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      <hr>
                       

                        <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow" style="background-color: #D1A01C;"><a href="https://www.iasexam.com/mind-map/" style="color: #fff;">Mind Map</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                        <a href="#"><p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p></a>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                 
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      <hr>                     

                        <a href="https://www.iasexam.com/mind-map/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow"> <a href="https://www.iasexam.com/category/editorials/editorials-simplified/" style="color: #fff;">Editorials Simplified</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                        <a href="#"><p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p></a>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                 
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      
                        <p > <b> Educate, Empower, Excel: Discover the Power of Learning!</b>
                        </p>
                        <div class="blog-meta">
                           
                            <a href="blog.html"><i class="fa-light fa-clock"></i>05 Jun, 2023</a>
                        </div>
                      <hr>

                        <a href="https://www.iasexam.com/category/editorials/editorials-simplified/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</section>
   
   
    <!--==============================
Gallery Area  
==============================-->
    <div class="overflow-hidden space">
        <div class="container">
            <div class="title-area text-center">
                
                <h2 class="sec-title fw-semibold">Gallery</h2>
            </div>
            <div class="row gy-4 masonary-active">
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-1.webp" alt="gallery image">
                            <a href="assets/img/G-1.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-2.webp" alt="gallery image">
                            <a href="assets/img/G-2.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-3.webp" alt="gallery image">
                            <a href="assets/img/G-3.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-6.webp" alt="gallery image">
                            <a href="assets/img/G-6.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-4.webp" alt="gallery image">
                            <a href="assets/img/G-4.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-auto filter-item">
                    <div class="gallery-card">
                        <div class="gallery-img">
                            <img src="assets/img/G-5.webp" alt="gallery image">
                            <a href="assets/img/G-5.webp" class="gallery-btn popup-image"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto mt-4" style="display: flex; justify-content: center; align-items: center;">
                <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Images<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>

        </div>
        <div class="shape-mockup jump-reverse d-none d-sm-block" data-top="0%" data-left="0%"><img src="assets/img/update1/shape/dot_shape_5.png" alt="shapes"></div>
        <div class="shape-mockup jump" data-bottom="10%" data-right="0%"><img src="assets/img/update1/shape/circle_8.png" alt="shapes"></div>
        <div class="shape-mockup jump-reverse" data-bottom="6%" data-right="0%"><img src="assets/img/update1/shape/circle_9.png" alt="shapes"></div>
        
    </div>

 <!--==============================
Testimonial Area  
==============================-->
<section class="testi-area-2 bg-smoke space overflow-hidden">
    
    <div class="container">
        <div class="title-area text-center">
            <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Students Testimonials</span> -->
            <h2 class="sec-title">Topper’s Say’s About <span style="color: #FEB400;"> Vajirai IAS Academy</span></h2>
        </div>
        <div class="row gx-5">
            <div class="col-xl-5">
                <div class="testi-thumb mb-xl-0 mb-5">
                    <img src="assets/img/testimonial/topper-quotes.webp" alt="img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="row testi-slider2 th-carousel" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-arrows="true">
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“It was a lovely experience interacting with the students here at the Academy. I
                                wish the very best for the Institution, its faculty and all the students. Hope
                                the names from Odisha increase in the coming years, with the guidance being
                                provided. All the very best! ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/shruti.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Shruti Sharma</h3>
                                    <span class="testi-card_desig">AIR-1, CSE-2021</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I wish the academy very best in its endeavors in providing the right guidance to
                                the aspiring candidates. Also I wish “All the Best” to all the UPSC Aspirants.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/sanjita- mahapatra.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Sanjita Mohapatra</h3>
                                    <span class="testi-card_desig">AIR-10, CSE-2019</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I wish the academy very best in its endeavors in providing the right guidance to
                                the aspiring candidates. Also I wish “All the Best” to all the UPSC Aspirants.”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/pradeep  ias.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Pradeep Singh</h3>
                                    <span class="testi-card_desig">AIR-1, CSE-2019</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Believe in yourself and you will surely achieve the greatness you are meant to
                                achieve”. The journey to UPSC CSE will change you as a person – Enjoy it.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/kajal-jawla.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Kajal Jawla</h3>
                                    <span class="testi-card_desig">AIR-28, CSE-2018</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Vajirao IAS Academy has helped me a lot.They have an excellent faculty team as
                                well course content.They guide you to all the three stages and motivate you
                                constantly.I wish you guys all the best.
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/risab ca.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Rishab CA</h3>
                                    <span class="testi-card_desig">AIR-23, CSE-2018</span>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Best wishes to the institute and the students.Hope you achieve your dreams and
                                find success in the exam.                         
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/akshyta.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Akshat Jain</h3>
                                    <span class="testi-card_desig">AIR-2, CSE-2018</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“I hereby convey my heartfelt best wishes to the institute to scale new heights
                                and set new records while fulfilling students’ dreams. May Odisha produce more
                                and more number of civil servants and your dedication and hard work bear fruits.
                                                      
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/anu kumari.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Anu Kumari</h3>
                                    <span class="testi-card_desig">AIR-2, CSE-2017</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-card">
                            <div class="testi-card_quote">
                                <img src="assets/img/icon/testi-quote.svg" alt="quote">
                            </div>
                            <p class="testi-card_text">“Best Wishes to All Students!! Have confidence in yourself and your mentors of
                                VAJlRAO lAS ACADEMY and be patient. Your commitment and hard work will get you
                                results and definetely you all will do wonders.
                                                      
                            ”</p>
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="assets/img/testimonial/chinmayee-dash.png" alt="testimonial">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Chimayee Chetna Dash</h3>
                                    <span class="testi-card_desig">Rank-1, OAS-2016</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
</section>


    <!--==============================
Cta Area  
==============================-->
    <section class="my-5 mb-5" data-bg-src="assets/img/update1/bg/cta_bg_7.jpg" style="padding: 30px 0px;">
        <div class="container ">
            <div class="row flex-row-reverse align-items-center" >
                <div class="col-xl-6" >
                    <div class="ps-xxl-5 ms-xl-2 pt-5 pt-xl-0 mt-4 mt-xl-0 mb-n5 mb-xl-0">
                        <div class="text-center">
                            <form class="course-form mb-2 " action="#" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Name*">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Email Address*">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="m-number" id="number" placeholder="Phone No*">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="subject" id="subject" placeholder="Subject*">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group ">
                                            <textarea name="message" id="message" cols="30" rows="3" class="form-control " placeholder="Write Your Message*" style="    background-color: transparent;
                                            border-color: #29375F;
                                            color: var(--white-color);
                                            height: 55px;"></textarea>
                                            
                                            <i class="fal fa-pen"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a href="course.html" class="th-btn style3">Make an Appointment<i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 space text-center text-xl-start">
                    <div class="title-area mb-35">
                        <!-- <span class="sub-title">Scholarship Open</span> -->
                        <h2 class="sec-title fw-medium text-white">New Batches starting soon...</h2>
                        <h2 class="sec-title fw-medium text-white">Start Your Preparation Journey Today!!</h2>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
   
 


<!--==============================
Video Area  
==============================-->
<div class="why-sec-v2 overflow-hidden space " data-bg-src="assets/img/bg/why-bg-2.png">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
        <img src="assets/img/normal/wcu_2_shape1.png"  alt="img">
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img">
    </div>
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-xl-12 order-xl-1">
                <div class="wcu-wrap2">

                    <div class="mb-35 text-center text-md-start">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-8">
                                <div class="title-area mb-md-0">
                                    
                                    <h2 class="sec-title">Topper's Strategy</h2>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Videos<i class="fa-solid fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 th-carousel" data-slide-show="4" data-ml-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1" data-sm-slide-show="1">
                        <div class="col-sm-6">
                           
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima  mains.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=IIB9q1Qr6II&t=3s" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima interview.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=m12s_Hw67LA&t=11s" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima prelims.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=dJz0N8Ge2hg" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/Shruti-mains.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/k2DKAOkBcmk" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/shruti-prelims.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/0zzxyXHst5E" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/shuriti-interview.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/FRUbe9ISSnc" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>
                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




     <!--==============================
Our Center Area  
==============================-->
<section class="space overflow-hidden ">
  
    <div class="container">
        <div class="title-area text-center">
            <h2 class="sec-title">Our All Centers</h2>
        </div>
        <div class="process-card-area">
            <div class="row gy-50 justify-content-center slider-shadow th-carousel category-slider" data-slide-show="4" data-ml-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-arrows="true" data-xl-arrows="true">
                <div class="col-md-6 col-lg-4 process-card-wrap ">
                    
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/delhi-1.png" alt="img">
                        </div>
                    
                        <h2 class="box-title">Delhi</h2>
                        <p class="process-card_text">E-365, 2nd Floor, Nirman Vihar Metro Station, Gate No-4, Pillar No-64, Vikas Marg,New Delhi, Pin No.-110092</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">8800533302/8800533352</a></h3>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/gurgoan-1.png" alt="img">
                        </div>
                     
                        <h2 class="box-title">Gurugram</h2>
                        <p class="process-card_text">NM 22, Block 22, 1st Floor, Old DLF Colony, Sector 14, Gurgaon-122001, Haryana <br> </p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">7838900910/9599910072</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/bbsr-1.png" alt="img">
                        </div>
                       
                        <h2 class="box-title">Bhubaneswar</h2>
                        <p class="process-card_text">Plot No- 2273/4103, 2nd Floor, Biju Pattanaik College Road, Jayadev Vihar Square, Bhubaneswar, Odisha-751013</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">7682823980/7682823981</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/indore-1.png" alt="img">
                        </div>
                       
                        <h2 class="box-title">Indore Campus-1</h2>
                        <p class="process-card_text"> 2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main Ab Road, Indore, Madhya Pradesh-452014</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">9993110172/9599910172</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6 col-lg-4 process-card-wrap">
                    <div class="process-card shadow p-4 bg-smoke feature-list" style="border-radius: 10px;">
                        <div class="process-card_img">
                            <img src="assets/img/process/indore-1.png" alt="img">
                        </div>
                       
                        <h2 class="box-title">Indore Campus-2</h2>
                        <p class="process-card_text"> 2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main Ab Road, Indore, Madhya Pradesh-452014</p>
                        <div class="feature-wrap mt-4">
                            <!-- <div class="feature_icon">
                                <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                            </div> -->
                            <div class="media-body">
                                <h3 class="box-title"><a href="course.html">9993110172/9599910172</a></h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!--==============================
Android App Area  
==============================-->
<div class="overflow-hidden position-relative space " id="team-sec">
    <div class="shape-mockup instructor-bg-shape1 jump d-lg-block d-none" data-left="3%" data-bottom="30%">
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img">
    </div>
    <div class="instructor_bg_shape2 shape-mockup d-xl-block d-none" data-left="-15%" data-top="3%">
        <img src="assets/img/normal/instructor_1_shape1.png" alt="img">
    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-xl-5 order-xl-2">
                <div class="become-instructor-img mb-5 mb-xl-0 ms-xl-5 tilt-active shadow " style="border:10px solid #FEB400 ;border-radius: 50%; background-color: #181572;">
                    <img src="assets/img/normal/mob.webp" alt="img">
                </div>
            </div>
            <div class="col-xl-7 order-xl-1">
                <div class="title-area mb-30 " >
                    <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> Instructor</span> -->
                    <h2 class="sec-title"> <span style="color: #FEB400;">Vajirao IAS Academy</span> is now on your Smartphone</h2>
                    <p>Get access all the classroom recorded videos, online test, classroom timings and much more after registration with Vajirao IAS Academy Android App. Only available at Playstore.</p>
                </div>
                <div class="row gy-4" style="margin-bottom: 30px;">
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title">
                                Live Classes
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title">
                                All India Test Series
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title">
                                Current Affairs
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="become-instructor-wrap">
                            <i class="fa-solid fa-badge-check"></i>
                            <h4 class="box-title">
                                Interview Guidance
                            </h4>
                        </div>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.vajiraoiasacademy.app" >
                    <img src="assets/img/normal/play-store.png" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
