<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
              <span style="color: rgb(255, 166, 0)">Interview</span> Guidance
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">Interview Guidance</li>
          </ul>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src="assets/img/bg/why-bg-2.png"
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 order-xl-1">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                    <div class="wcu-box_details">
                      <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          text-align: center;
                          font-size: 30px !important;
                          font-weight: bold;
                          color: red;
                        "
                      >
                      PROGRAM OBJECTIVE
                      </h3>

                      
                      <p class="wcu-box_text">
                        <b
                          >Interview according to UPSC is described to be a test of candidate’s overall personality which includes analytical ability, lateral thinking, logical decision making etc. The objective of the interview is to assess the personal suitability of the candidate for a career in public service by a Board of competent and unbiased observers. The test is intended to judge the mental caliber of a candidate. In broad terms, this is really an assessment of not only his/her intellectual qualities but also social traits and his/her interest in current affairs. Some of the qualities to be judged are mental alertness, critical powers of assimilation, clear and logical Exposition, balance of judgment, variety and depth of interest, ability for social cohesion and leadership, intellectual and moral integrity.</b
                        >
                      </p>
                      <br />
                      <p class="wcu-box_text">
                        <b
                          >Interview is not that of a strict cross-examination but of a natural, though directed and purposive conversation, which is intended to reveal the mental qualities of the candidate.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >The board tests a candidate on integrity, the depth in understanding, awareness about issues happening around and how well a candidate is able to analyze and apply these issues in his/her answer.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >The interview is a two months long process that usually begins 2 weeks after the declaration of the main exam results. It is usually in the period between March to May. It is conducted at the UPSC located at Shahjahan Road, New Delhi. The schedule usually consists of two slots per day. The Forenoon slot begins by 9AM while the afternoon slot beings by 2 AM.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >The board usually consist of 5 people. The chairperson sits in the center while the other members are seated two on either side of the chairperson. The chairperson begins with the questions and will guide the other members to continue the interview.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >The duration of the interview is typically 30 minutes +/- 5 minutes. The range of questions will include questions on hobby and their practical application, why he/she wishes to join the civil services, candidate’s opinion on current/historic issues, knowledge about candidate’s education, optional subject, issues of the state candidate belongs to, international relations, current affairs etc. They may also provide situation based question and seek the candidates’ opinion/response on the same.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >Vajirao IAS Academy conducts an interview guidance lecture on “How to prepare for the interview” in the first week of December every year for the students who have written the Main exam in October.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >The main interview programmes begin a week after the Main exam results are announced. The programme consists of 4 classes, 2 Mock interviews and a personal sitting session.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >A candidate can opt to join all the interview programme or opt for any one depending on his interview date scheduled by the UPSC.</b
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Contact Area  
==============================-->
    <% include commonsection/contactform.ejs %>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
