<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
            MPPSC PRELIMS <span style="color: rgb(255, 166, 0)"> TEST SERIES </span> 2024
          </h1>
          <p class="mt-3" style="color: #fff;">Helping Out Aspirants With Their MPPSC Preparation And Prelims Boost Up</p>
          <!-- <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">Interview Guidance</li>
          </ul> -->

          <div class="btn-group justify-content-center">
            <a href="about.html" class="th-btn style3 sideMenuToggler">Enquire <i class="fa-regular fa-envelope-open"></i></a>
            <a href="contact.html" class="th-btn style2">Download Schedule<i class="fas fa-download ms-2"></i></a>
        </div>
        </div>
      </div>
    </div>



<!--==============================
Servce Area  
==============================-->
<section class="space overflow-hidden" data-bg-src="assets/img/bg/course_bg_2.png" id="course-sec">
  <div class="container">
      <div class="title-area text-center mb-50">
          <span class="sub-title"> Starting Date <i class="fal fa-calendar me-2"></i> 28th January 2024</span>
          <h2 class="sec-title">TOTAL TESTS - <span style="color: red;">25</span> </h2>
      </div>
     

      <div class="course-tab-1 tab-menu1  row"  >
          <div class="col-lg-3">
              <a class="tab-btn">
                  <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span>
                  <span class="details">
                      <span class="box-title">Sectional Test - 14</span>
                      <!-- <span class="text">286 Courses</span> -->
                  </span>
              </a>
          </div>
          <div class="col-lg-3">
              <a class="tab-btn">
                  <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span>
                  <span class="details">
                      <span class="box-title">Full-Length Test - 8</span>
                      <!-- <span class="text">286 Courses</span> -->
                  </span>
              </a>
          </div>
          <div class="col-lg-3">
              <a class="tab-btn">
                  <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span>
                  <span class="details">
                      <span class="box-title">CSAT - 3</span>
                      <!-- <span class="text">140 Courses</span> -->
                  </span>
              </a>
          </div>

      </div>
 
  </div>

  <div class="container">
    <div class="title-area text-center mb-50">
       
        <h2 class="sec-title">Merit Based</h2>
    </div>
   

    <div class="course-tab-1 tab-menu1  row"  >
        
        <div class="col-lg-4">
            <a class="tab-btn">
                <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
                <span class="details">
                    <span class="box-title">Full-Length Test - 8</span>
                    <div class="checklist mt-35 mb-40">
                      <ul>
                        <li>100Q X 2 Marks Each</li>
                        <li>No Negative Marking</li>
                        
                      </ul>
                    </div>
                </span>
            </a>
        </div>
        <div class="col-lg-4">
            <a class="tab-btn">
                <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
                <span class="details">
                    <span class="box-title">CSAT - 3</span>
                    <div class="checklist mt-35 mb-40">
                      <ul>
                        <li>100Q X 2 Marks Each</li>
                        <li>Qualifying in Nature</li>
                       
                      </ul>
                    </div>
                </span>
            </a>
        </div>

    </div>

</div>

    <!--==============================
About Area  
==============================-->
<div class="">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-7">
              <div class="img-box6-1">
                  <img class="w-100" src="assets/img/update1/normal/about_v2_2_1.jpg" alt="About">
                 
              </div>
          </div>
          <div class="col-xl-5">
              <!-- <div class="mb-35 mb-xl-5">
                  <h2 class="fs-40 text-theme fw-light mb-0">What People Think</h2>
                  <h3 class="h2">About Edura Company</h3>
              </div>
              <p class="mt-n2 mb-25">Synergistically visualize alternative content before cross functional core Rapidiously administra standardized value via focused benefits. Rapidiously redefine highly efficient niche markets with plug-and-play materials professionally seize client centric solutions</p>
              <div class="checklist style2 mb-35">
                  <ul>
                      <li>
                          <h5 class="check-title">Competitive Rates</h5>
                          <p class="check-text">Seamlessly envisioneer tactical data through services.</p>
                      </li>
                      <li>
                          <h5 class="check-title">Online Certificates</h5>
                          <p class="check-text">Seamlessly envisioneer tactical data through services.</p>
                      </li>
                  </ul>
              </div>
              <a href="about.html" class="th-btn">Learn More<i class="fas fa-arrow-right ms-2"></i></a> -->
              <div class="price-card ">
                <div class="price-card_top">
                    <h3 class="price-card_title">Test Series Fee
                    </h3>
                    <h4 class="price-card_price">
                      ₹ 1100 /-
                    </h4>
                </div>
                <div class="price-card_content">
                    <div class="checklist mt-35 mb-40">
                        <ul>
                            <li><i class="far fa-check-circle"></i>Tests at our centers as per the schedule</li>
                            <li><i class="far fa-check-circle"></i> Holistic coverage of static & dynamics topics relevant for MPPSC Preliminary Exam -2024</li>
                            <li><i class="far fa-check-circle"></i> All Madhya pradesh ranking based on your performance</li>
                            <li class="unavailable"><i class="far fa-check-circle"></i> Answer key & explanation</li>
                            <li class="unavailable"><i class="far fa-check-circle"></i> MPPSC Prelims Pattern</li>
                        </ul>
                    </div>
                    <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="shape-mockup jump d-none d-xxl-block" data-bottom="30%" data-right="0"><img src="assets/img/update1/shape/dot_shape_2.png" alt="shapes"></div>
</div>

</section>



    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src=""
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 order-xl-1">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                    <div class="wcu-box_details">
                      <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          text-align: center;
                          font-size: 30px !important;
                          font-weight: bold;
                          /* color: red; */
                        "
                      >
                     <span style="color: coral;">Vajirao IAS Academy</span>  MPPSC Prelims Test Series 2024
                      </h3>

                      
                      <p class="wcu-box_text">
                        <b
                          >Welcome to the Vajirao IAS Academy MPPSC Prelims Test Series 2024, your stepping stone towards a successful career in the civil services! If you aspire to crack the Madhya Pradesh Public Service Commission (MPPSC) Preliminary Examination, then you're in the right place. Our meticulously designed test series is your ultimate companion on the journey to success.</b
                        >
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-3">
            <div class="col-xl-12 order-xl-1">
              <div class="wcu-wrap2">
                <div class="row g-4">
                  <div class="col-sm-12 col-md-12">
                    <div class="wcu-box style2">
                      <div class="wcu-box_details">
                        <h3
                          class="h5 wcu-box_title"
                          style="
                            background-color: #e2e6ff;
                            padding: 10px;
                            border-radius: 10px;
                            margin-bottom: 20px;
                            /* text-align: center; */
                            font-size: 25px !important;
                            font-weight: bold;
                            /* color: red; */
                          "
                        >
                        About the<span style="color: red;"> MPPSC Test Series</span> 
                        </h3>
  
                        
                        <p class="wcu-box_text">
                          <b
                            >Our MPPSC Prelims Test Series for 2024 is thoughtfully structured to provide you with the best possible preparation for the examination. Here's what you can expect:</b
                          >
                        </p>
                        <br>
                        <p style="font-size: 20px; color: red;" > <b>Total 25 Tests:</b> </p>                 
                        <p class="wcu-box_text">
                            <b
                              >We've carefully curated a comprehensive set of 25 tests, including:</b
                            >
                          </p>
                        <br>
                        <div class="checklist style3 mb-45">
                            <ul>
                                <li class="d-flex align-items-center"> <i class="icon_check"></i> 14 SectionalTests: These tests focus on individual sections of the MPPSC helping you master each subject.</li>
                                <li class="d-flex align-items-center"> <i class="icon_check"></i> 8 Full-Length Tests: These simulate the actual MPPSC Prelims exam, giving you a real exam experience.</li> 
                                <li class="d-flex align-items-center"> <i class="icon_check"></i> 3 CSAT Tests: Specifically designed to help you tackle the Civil Services Aptitude Test (CSAT) effectively.</li> 
                               
    
                            </ul>
                        </div>

                        <p style="font-size: 20px; color: red;" > <b>Merit-Based Test Series:</b> </p>                 
                        <p class="wcu-box_text">
                            <b
                              >Our test series is merit-based, and you'll receive an All India Ranking (AIR) after each test. This ranking system will help you gauge your performance on a national level and identify areas that need improvement.</b
                            >
                          </p>
                        <br>
                        <p style="font-size: 20px; color: red;" > <b>Question Format:</b> </p>                 
                        <p class="wcu-box_text">
                            <b
                              >Each paper in our test series consists of 100 questions, with each question carrying 2 marks. Importantly, there is no negative marking, giving you the freedom to attempt questions without fear of deductions.</b
                            >
                          </p>
                        <br>
                        <p style="font-size: 20px; color: red;" > <b>Why Choose Vajirao IAS Academy's Test Series?</b> </p>                 
                        <p class="wcu-box_text">
                            <b
                              >We've carefully curated a comprehensive set of 25 tests, including:</b
                            >
                        </p>
<br>
                        <div class="checklist style3 mb-45">
                            <ul>
                                <li class="d-flex align-items-center"> <i class="icon_check"></i>Expertly Crafted Questions: Our experienced team of educators and subject matter experts have crafted questions that closely align with the MPPSC Prelims syllabus and current exam trends.</li>
                                <li class="d-flex align-items-center"> <i class="icon_check"></i> Performance Analysis: After each test, you'll receive a detailed performance analysis report that highlights your strengths and weaknesses. This feedback is crucial for targeted improvement.</li> 
                                <li class="d-flex align-items-center"> <i class="icon_check"></i> Flexibility: You can take the tests at your own pace and convenience. Whether you want to take them on weekends or during weekdays, we've got you covered.</li> 

                                <li class="d-flex align-items-center"> <i class="icon_check"></i>Personalized Learning: We understand that each aspirant is unique. Our test series allows you to personalize your preparation by focusing on specific sections or subjects that require more attention.</li>
                                 
                            </ul>


                        </div>

                        <p style="font-size: 20px; color: red;" > <b>How to Enroll?</b> </p>                 
                        <p class="wcu-box_text">
                            <b
                              >Enrolling in the Vajirao IAS Academy MPPSC Prelims Test Series 2024 is simple. Visit our website, choose the test series package that suits your needs, and complete the registration process. Once enrolled, you'll gain access to the tests and all the resources you need to excel in the MPPSC Preliminary Examination. Don't leave your MPPSC Prelims success to chance. Join the Vajirao IAS Academy MPPSC Prelims Test Series 2024 and embark on a journey towards fulfilling your dream of becoming a civil servant. Our test series is your key to unlocking the doors to a rewarding career in the civil services. Remember, every test you take is a step closer to your goal. Start your preparation today with Vajirao IAS Academy and let your aspirations take flight! For inquiries and enrollment, please visit our website or contact our support team.</b
                            >
                          </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


    <!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Contact Area  
==============================-->
    <% include commonsection/contactform.ejs %>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
