<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          OAS MAINS <span style="color: rgb(255, 166, 0)"> TEST SERIES </span> 2022
        </h1>
        <p class="mt-3" style="color: #fff;">Helping out Students with their OAS Mains 2022 Preparation</p>


        <div class="btn-group justify-content-center">
          <a href="about.html" class="th-btn style3 sideMenuToggler">Enquire <i class="fa-regular fa-envelope-open"></i></a>
          <a href="contact.html" class="th-btn style2">Download Schedule<i class="fas fa-download ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>


  <!--==============================
Servce Area  
==============================-->
  <section class="space overflow-hidden" data-bg-src="assets/img/bg/course_bg_2.png" id="course-sec">
    <div class="container">
      <div class="title-area text-center mb-50">
        <span class="sub-title"> Starting Date <i class="fal fa-calendar me-2"></i> 7th November 2023</span>
        <h2 class="sec-title">TOTAL TESTS - <span style="color: red;">22</span> </h2>
      </div>


      <div class="course-tab-1  row mb-25">
        <div class="col-lg-4">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">ESSAY</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>4 Test
                    (Abstract + General Studies Topic)</li>


                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-4">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">GENERAL STUDIES</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>4 Test for each Paper
                    (Including GS-1, GS-2, GS-3, GS-4)</li>



                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-4">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">LANGUAGE PAPERS</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>1 English Language Test + 1 Odia Language Test</li>


                </ul>
              </div>
            </span>
          </a>
        </div>


      </div>

    </div>

    <div class="container">
      <div class="title-area text-center mb-50">

        <h2 class="sec-title">Merit Based</h2>
      </div>


      <div class="course-tab-1   row">

        <div class="col-lg-6">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">GS Paper-I (Total Marks-200)</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>250 Marks Each
                    <b>[As per the new OAS Mains Syllabus and Examination Pattern]</b>
                  </li>


                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-6">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">GS Paper-II (Total Marks-200)</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>300 Marks Each
                    <b>[Qualifying in Nature]</b>
                  </li>


                </ul>
              </div>
            </span>
          </a>
        </div>

      </div>

    </div>



  </section>
<!-- ================
Price Table 
=================== -->

  <section class="space overflow-hidden" data-bg-src="" id="course-sec">
    <div class="container">
     
     

      <div class="course-tab-1 tab-menu1  row" >
        <div class="col-lg-5">
          <div class="price-card ">
            <div class="price-card_top">
                <h3 class="price-card_title">Basic Plan</h3>
                <h4 class="price-card_price">
                    $156.00 <span class="duration">/PER MONTHLY</span>
                </h4>
            </div>
            <div class="price-card_content">
                <div class="checklist">
                    <ul>
                        <li><i class="far fa-check-circle"></i> Access to all courses</li>
                        <li><i class="far fa-check-circle"></i> Example code available</li>
                        <li><i class="far fa-check-circle"></i> High resolution videos</li>
                        <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Certificate after completion</li>
                        <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Private sessions</li>
                    </ul>
                </div>
                <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
            </div>
        </div>
        </div>
        <div class="col-lg-5">
          <div class="price-card ">
            <div class="price-card_top">
                <h3 class="price-card_title">Basic Plan</h3>
                <h4 class="price-card_price">
                    $156.00 <span class="duration">/PER MONTHLY</span>
                </h4>
            </div>
            <div class="price-card_content">
                <div class="checklist">
                    <ul>
                        <li><i class="far fa-check-circle"></i> Access to all courses</li>
                        <li><i class="far fa-check-circle"></i> Example code available</li>
                        <li><i class="far fa-check-circle"></i> High resolution videos</li>
                        <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Certificate after completion</li>
                        <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Private sessions</li>
                    </ul>
                </div>
                <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
            </div>
        </div>
        </div>
        
      </div>
 <div class="row slider-shadow mt-4 ">
        <div class="col-md-12 col-xl-12">
          <div class="th-blog blog-single style2 ">
            <div class="container-fluid">
              <div class="breadcumb-content text-center">

                <div class="video-wrap mb-30  ">
                  <a href="#">
                    <img src="assets/img/delhi-toppers/toppers-img.webp" alt="img">
                  </a>


                </div>
              </div>

            </div>

          </div>
        </div>


      </div>

    </div>
    </div>
    
    </div>
  </section>

  <!--==============================
All Branches admission Area  
==============================-->
  <div class="why-sec-v2 overflow-hidden space bg-smoke" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">


      <div class="row align-items-center mt-3">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">

                    <p style="font-size: 20px; color: red;"> <b>Program Objective</b> </p>
                    <p class="wcu-box_text">
                      <b>The Vajirao IAS Academy OAS Mains Test Series 2022 is meticulously designed to equip aspirants with the necessary skills and knowledge to excel in the Odisha Administrative Service (OAS) Mains Examination. Our program focuses on enhancing your understanding of the OAS exam pattern, content, and evaluation criteria, ensuring that you have the best chance of securing success.</b>
                    </p>
                    <br>


                    <p style="font-size: 20px; color: red;"> <b>Approach And Strategy</b> </p>
                    <p class="wcu-box_text">
                      <b>To provide an effective and comprehensive approach to OAS Mains preparation, we have developed a well-thought-out strategy that encompasses the following key aspects:</b>
                    </p>
                    <br>

                    <div class="checklist style3 mb-45">
                      <ul>
                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">In-Depth Syllabus Coverage:</span> <br> Our program covers the entire OAS Mains syllabus, ensuring that you are well-prepared for all subjects and topics. Whether it's General Studies, Optional Subjects, or Odia Language Paper, our test series caters to all areas of the examination. This comprehensive approach allows you to build a strong foundation and master each subject thoroughly.</li>
                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Adherence to OAS Mains Pattern:</span> <br> Our program strictly adheres to the new OAS Mains examination pattern and the syllabus, ensuring that you are well-acquainted with the question format and marking scheme. This attention to detail helps you approach the exam with confidence and familiarity.</li>
                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Detailed Question Analysis:</span> <br> Our strategy includes providing detailed solutions and explanations for each question. This enables you to understand not just the correct answers but also the reasoning behind them. It helps you identify your strengths and weaknesses and allows for targeted improvement. You can learn from your mistakes and track your progress throughout the test series.</li>
                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Regular Evaluation and Feedback:</span> <br> Continuous evaluation is a fundamental part of our approach. You will receive timely feedback on your performance in each test, highlighting your areas of improvement. Our expert faculty will help you identify your weaknesses and guide you on how to address them. This personalized feedback mechanism is invaluable for refining your strategy and enhancing your preparation.</li>

                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Current Affairs and Odisha-specific Content:</span> <br> OAS Mains requires a strong grasp of current affairs and Odisha-specific knowledge. Our program incorporates the latest updates and Odisha-centric information to keep you well-prepared in these crucial areas. Our content is regularly updated to reflect the dynamic nature of current affairs.</li>

                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Motivational Support:</span> <br> As the journey to OAS Mains can be demanding, our program includes motivational support. We believe in nurturing a positive mindset to keep you motivated throughout your preparation. Our team is committed to providing encouragement, guidance, and motivation to help you stay focused on your goal.</li>
                        <li class=""> <i class="icon_check"></i> <span style="font-weight: bold;">Paper Discussion Sessions:</span> <br> We understand that doubts and queries can arise during your preparation. After each test, we organize post-test analysis and discussion sessions. This is an opportunity for you to review your performance, understand the mistakes made, and learn from them. Our faculty and experts provide insights and strategies to improve your scores.</li>


                      </ul>

                    </div>
                    <p class="border p-4" style="font-family: Courier; font-weight: bold; font-size: 20px;">“ The Vajirao IAS Academy OAS Mains Test Series 2022 is meticulously designed to equip aspirants with the necessary skills and knowledge to excel in the Odisha Administrative Service (OAS) Mains Examination. Our program focuses on enhancing your understanding of the OAS exam pattern, content, and evaluation criteria, ensuring that you have the best chance of securing success. ”</p>
                    <br>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>
  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>