<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          Oas Coaching <span style="color: rgb(255, 166, 0)">Bhubaneswar</span>
        </h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0)">Oas Coaching Bhubaneswar</li>
        </ul>
      </div>
    </div>
  </div>

<!--==============================
banner Area  
==============================-->
<section class="overflow-hidden space " id="blog-sec">
    <div class="container">
        
        <div class="row slider-shadow " >
            <div class="col-md-12 col-xl-12">
                <div class="th-blog blog-single style2 ">
                    <div class="container-fluid">
                        <div class="breadcumb-content text-center">
                           
                            <div class="video-wrap mb-30  ">
                                <a href="#">
                                    <img src="assets/img/delhi-toppers/toppers-img.webp" alt="img">
                                </a>
                               
                                
                            </div>
                        </div>
                        <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #e61919 !important;">& Many More <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                 
                </div>
            </div>

      
        </div>
    </div>
</section>

<!--==============================
facility Area  
==============================-->
<section class="overflow-hidden space bg-smoke" id="blog-sec">
    <div class="container">
        
        <div class="row slider-shadow th-carousel blog-slider-1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2 ">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow text-center " style="background-color: #4A12D3;"><a href="https://www.iasexam.com/category/current-affairs/" style="color: #fff;">FACULTIES FROM DELHI</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                     <p class="text-center"> <b> Experienced UPSC Faculties from Delhi</b>
                        </p>
                        
                 
                      <hr>
                       

                        <!-- <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2 ">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow text-center" style="background-color: #5B9D04;"><a href="https://www.iasexam.com/category/current-affairs/" style="color: #fff;">BEST STUDY MATERIALS</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                     <p class="text-center"> <b> Curated study materials as per UPSC Syllabus</b>
                        </p>
                        
                 
                      <hr>
                       

                        <!-- <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="th-blog blog-single style2 ">
                    <div class=" d-flex justify-content-center align-items-center ">
                        <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                        <h5 class="blog-heading shadow text-center" style="background-color: #F51378;"><a href="https://www.iasexam.com/category/current-affairs/" style="color: #fff;">INTEGRATED APPROACH</a> </h5>
                    </div>
                    <div class="blog-content">
                        
                     <p class="text-center"> <b> Courses for prelims, mains and interview</b>
                        </p>
                        
                 
                      <hr>
                       

                        <!-- <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #3A3786 !important;">Read More Details<i class="fas fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</section>

  <!--==============================
All Branches admission Area  
==============================-->
  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <h3 class="h5 wcu-box_title" style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          /* text-align: center; */
                          font-size: 30px !important;
                          font-weight: bold;
                          
                        ">
                      OPSC OAS Examination <span style="color: red;">2022-Syllabus</span> and Pattern
                    </h3>


                    <p class="wcu-box_text">
                      <b>The notification for OPSC OAS Examinations was released in December 2022 to fill up almost 683 vacant posts in the State. The Form Fill up for the same will be starting from 17th January 2023 and the Preliminary Exam is scheduled to be conducted in September later this year as per the official OPSC Calendar. Odisha Public Service Commission conducts Odisha civil service examination to recruit candidates for state services. The candidates are recruited for Group A and Group B services of state government. The various positions of the general administration and police officers are filled by this very examination.</b>
                    </p>
                    <br />
                    <h5>The OPSC OAS Examination is conducted in 3-stages namely:</h5>
                    <ol>
                      <li>OPSC Preliminary Examination</li>
                      <li>OPSC Mains/Written Examination</li>
                      <li>Personality Test</li>
                    </ol>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="why-sec-v2 overflow-hidden space" data-bg-src="assets/img/bg/why-bg-2.png">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <h3 class="h5 wcu-box_title" style="
                          /* background-color: #e2e6ff; */
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          /* text-align: center; */
                          font-size: 30px !important;
                          font-weight: bold;
                          
                          
                        ">
                      Preliminary <span style="color: red;">Examination</span>
                    </h3>

                    <p class="wcu-box_text">
                      <b>The Preliminary Examination is of objective type consisting of two papers of 200 marks each with a negative marking of 33% or 0.66 marks for each wrong answer.</b>
                    </p>
                    <br />
                    <p class="wcu-box_text">
                      <b>The Preliminary Examination is of objective type consisting of two papers of 200 marks each with a negative marking of 33% or 0.66 marks for each wrong answer.</b>
                    </p>

                    <br />
                    <p class="wcu-box_text">
                      <b style="color: red;">Paper 1 </b> – The paper consists of questions from General Studies including History, Geography, Polity, Economy, General Science, Environment and Current Affairs of national and international importance.
                    </p>

                    <br />
                    <p class="wcu-box_text">
                      <b style="color: red;">Paper 2 </b>– The paper consists of aptitude based questions including mathematics, reasoning and aptitude English. It is qualifying in nature where the aspirants will only require obtaining 33% of the total marks.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <h3 class="h5 wcu-box_title" style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          /* text-align: center; */
                          font-size: 30px !important;
                          font-weight: bold;
                          
                        ">
                       <span style="color: red;">Mains/Written</span> Examination
                    </h3>


                    <p class="wcu-box_text">
                      <b>After qualifying the prelims exam with the required cutoff, next comes the Mains Examination. The Written Examination shall comprise of 2 parts i.e. Part 1 and Part 2 consisting of the following papers:</b>
                    </p>
                    <br />
                    <table class="table table-striped border">
                        <thead class="" style="background-color: #0E284D;">
                            <tr>
                                <th width="213" style="color: #fff;">Part 1 - QUALIFYING PAPERS</th> 
                                <th width="213" style="color: #fff;">MARKS</th>
                            </tr>
                        </tr>
                        </thead> 
                        <tbody> 
                            <tr>
                                <td width="213">
                                    <p  style="font-weight: bold; color: red;">Paper I - Odia Language</p>
                                    <p  style="font-weight: bold; color: red;">The Pattern of Questions shall be broadly as follows:</p>
                                   
                                    <div class="checklist style3 mb-45">
                                        <ul>
                                            <li class="d-flex align-items-center"> <i class="icon_check"></i> Comprehension of given passages</li>
                                            <li class="d-flex align-items-center"> <i class="icon_check"></i> Precis Writing</li> 
                                            <li class="d-flex align-items-center"> <i class="icon_check"></i> Usage and Vocabulary</li> 
                                            <li class="d-flex align-items-center"> <i class="icon_check"></i> Short Essays</li> 
                                            <li class="d-flex align-items-center"> <i class="icon_check"></i> Translation from English to Odia Language and Vice Versa</li> 
                
                                        </ul>
                                    </div>
                                </td> 
                                <td width="213">250</td>
                            </tr>
                             <tr>
                                <td width="213">
                                    <p style="font-weight: bold; color: red;">Paper II - English Language</p>
                                    <p style="font-weight: bold; color: red;">The Pattern of Questions shall be broadly as follows:</p>
                                    <div class="checklist style3 mb-45">
                                       <ul>
                                          <li class="d-flex align-items-center"> <i class="icon_check"></i> Comprehension of given passages</li>
                                          <li class="d-flex align-items-center"> <i class="icon_check"></i> Precis Writing</li> 
                                          <li class="d-flex align-items-center"> <i class="icon_check"></i> Usage and Vocabulary</li> 
                                          <li class="d-flex align-items-center"> <i class="icon_check"></i> Short Essays</li> 
                                          <li class="d-flex align-items-center"> <i class="icon_check"></i> Translation from English to Odia Language and Vice Versa</li> 
                                       </ul>
                                    </div>
                                </td> 
                                <td width="213">250</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="table table-striped border">
                            <thead class="" style="background-color: #0E284D;">
                                <tr style="white-space: nowrap;">
                                    <th width="213" style="color: #fff;">Part 2 - PAPERS TO BE COUNTED FOR MERIT</th> 
                                    <th width="213" style="color: #fff;">MARKS</th>
                                </tr>
                            </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper I - </p>Essay</td> 
                                    <td width="213">250</td>
                                </tr>
                                 <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper II - </p> General Studies I (Indian Heritage and Culture, Odisha Heritage and Culture, History and geography of World and Society)</td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper III - General Studies II </p>(Governance, Constitution and Polity, Social Justice and Inter-State Relations)</td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper IV - General Studies III </p>(Technology, Economic Development, Biodiversity, Environment, Security and Disaster Management)</td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper V - General Studies IV </p>(Ethics, Integrity and Aptitude)</td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper VI - Optional Subject - Paper I</p></td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Paper VII - Optional Subject - Paper II</p></td> 
                                    <td width="213">250</td>
                                </tr> 
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">SUB TOTAL (WRITTEN TEST)</p></td> 
                                    <td width="213">1750</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">Personality Test</p></td> 
                                    <td width="213">250</td>
                                </tr>
                                <tr>
                                    <td width="213"><p style="font-weight: bold; color: red;">GRAND TOTAL</p></td> 
                                    <td width="213">2000</td>
                                </tr>
                                </tbody>
                            </table> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>

  <!--==============================
Video Area  
==============================-->
<div class="why-sec-v2 overflow-hidden space " data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
        <img src="assets/img/normal/wcu_2_shape1.png"  alt="img">
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img">
    </div>
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-xl-12 order-xl-1">
                <div class="wcu-wrap2">

                    <div class="mb-35 text-center text-md-start">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-8">
                                <div class="title-area mb-md-0">
                                    
                                    <h2 class="sec-title">Topper's Strategy</h2>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <a href="https://www.youtube.com/@VajiraoIASAcademyPvtLtd/videos" target="_blank" class="th-btn">View All Videos<i class="fa-solid fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 th-carousel" data-slide-show="4" data-ml-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1" data-sm-slide-show="1">
                        <div class="col-sm-6">
                           
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima  mains.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=IIB9q1Qr6II&t=3s" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima interview.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=m12s_Hw67LA&t=11s" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/garima prelims.jpg"  alt="video">
                                <div class="video-content">
                                   
                                    <a href="https://www.youtube.com/watch?v=dJz0N8Ge2hg" target="_blank" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/Shruti-mains.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/k2DKAOkBcmk" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/shruti-prelims.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/0zzxyXHst5E" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="video-box">
                                <div class="overlay"></div>
                                <img src="assets/img/video/shuriti-interview.jpg" alt="video">
                                <div class="video-content">
                                    
                                    <a href="https://www.youtube.com/embed/FRUbe9ISSnc" class="icon-btn popup-video"><i class="fas fa-play"></i></a>
                                   
                                </div>
                            </div>

                        </div>
                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>