<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>

  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">Offline <span style="color: rgb(255, 166, 0);"> Courses</span></h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0);">Offline Courses</li>
        </ul>
      </div>
    </div>
  </div>

  <!--==============================
pan india Area  
==============================-->
  <div class=" about-sec bg-bottom-right" style="margin-top: 40px;" id="about-sec">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-4 mb-40 mb-xl-0">
                <div class="img-box7 tilt-active">
                    <img class="w-100" src="assets/img/update1/normal/about_v2_3_1.jpg" alt="About">
                </div>
            </div> -->
        <div class="col-xxl-12 col-xl-12 align-self-end">
          <div class="about-content2">
            <div class="title-area mb-40">
              <!-- <span class="sub-title">More About Us</span> -->
              <h2 class="fs-40 fw-medium mt-n2">For PAN India Centers</h2>
            </div>
            <p class="mt-n2  mb-xl-5"> <b>Our Offline/Classroom courses</b> are exclusively designed for comprehensive coverage of both preliminary and main syllabus. The subjects are being taught by highly qualified faculties having vast experience in the domain of Civil Services Examination. The faculty members are very dedicated and regular doubt clearing sessions are planned to improve the weaker areas. This batch is embedded with current approach including regular newspaper analysis. The subject contents are being taught from basics in order to improve the foundation of the subjects. Intensive writing skill sessions are being conducted to develop presentation techniques. Systematic approach will be followed to cover both international and domestic issues efficiently. At Vajirao IAS Academy individual attention is being paid and regular counseling and motivational sessions being conducted by experts.</p>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xl-6">
            <div class="">
                <div class=" d-flex justify-content-center align-items-center ">
                    <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                    <h5 class="blog-heading shadow text-center " style="background-color: #4A12D3;"><a href="/fee-structure-delhi-center" style="color: #fff;"> Delhi Branch Fee Structure</a> </h5>
                </div>
                
            </div>
        </div>
    
        <div class="col-md-6 col-xl-6">
            <div class=" ">
                <div class=" d-flex justify-content-center align-items-center ">
                    <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                    <h5 class="blog-heading shadow text-center" style="background-color: #5B9D04;"><a href="/fee-structure-gurgaon-center" style="color: #fff;">Gurgaon Branch Fee Structure</a> </h5>
                </div>
               
            </div>
        </div>
    
        <div class="col-md-6 col-xl-6">
            <div class=" ">
                <div class=" d-flex justify-content-center align-items-center ">
                    <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                    <h5 class="blog-heading shadow text-center" style="background-color: #F51378;"><a href="/fee-structure-indore-center" style="color: #fff;">Indore Branch Fee Structure</a> </h5>
                </div>
               
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="">
                <div class=" d-flex justify-content-center align-items-center ">
                    <!-- <a href="blog-details.html"><img src="assets/img/blog/blog-1-1.jpg" alt="Blog Image"></a> -->
                    <h5 class="blog-heading shadow text-center" style="background-color: #F51378;"><a href="/fee-structure-bhubaneswar-branch" style="color: #fff;">Bhubaneswar Branch Fee Structure</a> </h5>
                </div>
               
            </div>
        </div>
      </div>
    
    </div>
  </div>


  <!--==============================
Course Area  
==============================-->
<!--  Delhi branch -->
  <section class="space bg-smoke" id="course-sec">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium">Delhi Branch (Full Course Details)</h2>
      </div>
      <div class="tab-menu1 filter-menu-active">
        <button data-filter="*" class="filter-btn active">
          All Branches
        </button>
        <button data-filter=".cat1" class="filter-btn">Delhi</button>
        <button data-filter=".cat2" class="filter-btn">Gurgaon</button>
        <button data-filter=".cat3" class="filter-btn">Indore</button>
        <button data-filter=".cat4" class="filter-btn">Bhubaneswar</button>
      </div>
      <div class="row gy-4 filter-active">


        <!-- Full course -->
        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Combined Package (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test
                      Series + Mains (GS+Optional) Test Series + Optional
                      Subjects(History, Geography, Pol.Science & IR (PSIR),
                      Sociology) + Interview Guidance
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 78,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Integrated Course <br> (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test Series + Mains(GS) Test Series
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 60,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Foundation Course (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1Yr/2Yr/3Yr
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      GS + CSAT + Test Series(Prelims GS + Mains GS)
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 1L/1.5L/2L </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
      <!-- Optional course -->
      <div class="title-area text-center mt-35">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium"> Delhi Branch (Optional Course Details)</h2>
      </div>
      <div class="row gy-4 filter-active">



        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">History (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Geography (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Sociology (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>


      </div>

    </div>
  </section>
  <!--  gurgaon branch -->
  <section class="" style=" padding: 50px 0px;" id="course-sec">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium">Gurgaon Branch (Full Course Details)</h2>
      </div>
      <!-- <div class="tab-menu1 filter-menu-active">
        <button data-filter="*" class="filter-btn active">
          All Branches
        </button>
        <button data-filter=".cat1" class="filter-btn">Delhi</button>
        <button data-filter=".cat2" class="filter-btn">Gurgaon</button>
        <button data-filter=".cat3" class="filter-btn">Indore</button>
        <button data-filter=".cat4" class="filter-btn">Bhubaneswar</button>
      </div> -->
      <div class="row gy-4 filter-active">


        <!-- Full course -->
        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Combined Package (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test
                      Series + Mains (GS+Optional) Test Series + Optional
                      Subjects(History, Geography, Pol.Science & IR (PSIR),
                      Sociology) + Interview Guidance
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 78,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Integrated Course <br> (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test Series + Mains(GS) Test Series
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 60,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Foundation Course (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1Yr/2Yr/3Yr
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      GS + CSAT + Test Series(Prelims GS + Mains GS)
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 1L/1.5L/2L </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
      <!-- Optional course -->
      <div class="title-area text-center mt-35">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium"> Gurgaon Branch (Optional Course Details)</h2>
      </div>
      <div class="row gy-4 filter-active">



        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">History (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Geography (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Sociology (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>


      </div>

    </div>
  </section>
  <!--  indore branch -->
  <section class=" bg-smoke" style="padding: 50px 0px;" id="course-sec">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium">Indore Branch (Full Course Details)</h2>
      </div>
      <!-- <div class="tab-menu1 filter-menu-active">
        <button data-filter="*" class="filter-btn active">
          All Branches
        </button>
        <button data-filter=".cat1" class="filter-btn">Delhi</button>
        <button data-filter=".cat2" class="filter-btn">Gurgaon</button>
        <button data-filter=".cat3" class="filter-btn">Indore</button>
        <button data-filter=".cat4" class="filter-btn">Bhubaneswar</button>
      </div> -->
      <div class="row gy-4 filter-active">


        <!-- Full course -->
        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Combined Package (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test
                      Series + Mains (GS+Optional) Test Series + Optional
                      Subjects(History, Geography, Pol.Science & IR (PSIR),
                      Sociology) + Interview Guidance
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 78,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Integrated Course <br> (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      Prelims GS + Mains GS + Essay + CSAT + Prelims Test Series + Mains(GS) Test Series
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 60,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Foundation Course (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1Yr/2Yr/3Yr
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      GS + CSAT + Test Series(Prelims GS + Mains GS)
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 1L/1.5L/2L </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
      <!-- Optional course -->
      <div class="title-area text-center mt-35">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium"> Indore Branch (Optional Course Details)</h2>
      </div>
      <div class="row gy-4 filter-active">

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">History (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Geography (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Sociology (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Pol.Science & IR (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>


      <!-- MPPSC Full Course Details -->
      <div class="title-area text-center mt-35">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium"> Indore Branch (MPPSC other Course Details)</h2>
      </div>
      <div class="row gy-4 filter-active">

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">History (Online)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-6 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">Geography (Online)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>


              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>


    </div>
  </section>
  <!-- MPPSC Full Course Details -->
      <div class="container" style="padding: 50px 0px;">
        <div class="title-area text-center mt-35">
            <!-- <span class="sub-title">Popular Courses</span> -->
            <h2 class="sec-title fw-medium"> Indore Branch (Optional Course Details)</h2>
          </div>
          <div class="row gy-4 filter-active" >
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">History (Online)</h3>
                  <p>
                    <i class="fa-light fa-clock"></i>Duration : 2-3 Months
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
    
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">Geography (Online)</h3>
                  <p href="blog.html">
                    <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
    
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
 
          </div>
      </div>
     <!--  Bhubannaswer branch -->   
     <section class=" bg-smoke" style="padding: 50px 0px;" id="course-sec">
        <div class="container">
          <div class="title-area text-center">
            <!-- <span class="sub-title">Popular Courses</span> -->
            <h2 class="sec-title fw-medium">Bhubaneswar Branch (IAS Full Course Details)</h2>
          </div>
          <!-- <div class="tab-menu1 filter-menu-active">
            <button data-filter="*" class="filter-btn active">
              All Branches
            </button>
            <button data-filter=".cat1" class="filter-btn">Delhi</button>
            <button data-filter=".cat2" class="filter-btn">Gurgaon</button>
            <button data-filter=".cat3" class="filter-btn">Indore</button>
            <button data-filter=".cat4" class="filter-btn">Bhubaneswar</button>
          </div> -->
          <div class="row gy-4 filter-active">
    
    
            <!-- Full course -->
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">IAS Combined Package (Online)</h3>
                  <p>
                    <i class="fa-light fa-clock"></i>Duration : 1 Year
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
                  <div class="col-auto border p-4 rounded min-height">
                    <a class="tab-btn">
                      <span class="details">
                        <p class="service-card-text">
                          Prelims GS + Mains GS + Essay + CSAT + Prelims Test
                          Series + Mains (GS+Optional) Test Series + Optional
                          Subjects(History, Geography, Pol.Science & IR (PSIR),
                          Sociology) + Interview Guidance
                        </p>
                      </span>
                    </a>
                  </div>
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 78,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">IAS Integrated Course <br> (Online)</h3>
                  <p href="blog.html">
                    <i class="fa-light fa-clock"></i> Duration : 1 Year
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
                  <div class="col-auto border p-4 rounded min-height">
                    <a class="tab-btn">
                      <span class="details">
                        <br>
                        <p class="service-card-text">
                          Prelims GS + Mains GS + Essay + CSAT + Prelims Test Series + Mains(GS) Test Series
                        </p>
                      </span>
                    </a>
                  </div>
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 60,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">IAS Foundation Course (Online)</h3>
                  <p href="blog.html">
                    <i class="fa-light fa-clock"></i> Duration : 1Yr/2Yr/3Yr
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
                  <div class="col-auto border p-4 rounded min-height">
                    <a class="tab-btn">
                      <span class="details">
                        <br>
                        <p class="service-card-text">
                          GS + CSAT + Test Series(Prelims GS + Mains GS)
                        </p>
                      </span>
                    </a>
                  </div>
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 1L/1.5L/2L </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
          </div>
          <!-- Optional course -->
          <div class="title-area text-center mt-35">
            <!-- <span class="sub-title">Popular Courses</span> -->
            <h2 class="sec-title fw-medium"> Bhubaneswar Branch (OAS Full Course Details)</h2>
          </div>
          <div class="row gy-4 filter-active">
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">History (Online)</h3>
                  <p>
                    <i class="fa-light fa-clock"></i>Duration : 2-3 Months
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
    
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">Geography (Online)</h3>
                  <p href="blog.html">
                    <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
    
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
            <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
              <div class="service-card style3">
                <div class="service-card-content">
                  <h3 class="box-title">Sociology (Online)</h3>
                  <p href="blog.html">
                    <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                  </p>
                  <h5 style="color: #0f2239">Modules Covered</h5>
    
    
                  <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                    <b>Fees:
                      <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                  </div>
                </div>
                <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
              </div>
            </div>
    
           
          </div>
    
    
          <!-- MPPSC Full Course Details -->
        
    
        </div>
      </section>
      <!-- MPPSC Full Course Details -->
          <div class="container" style="padding: 50px 0px;">
            <div class="title-area text-center mt-35">
                <!-- <span class="sub-title">Popular Courses</span> -->
                <h2 class="sec-title fw-medium"> Bhubaneswar Branch (Optional Course Details)</h2>
              </div>
              <div class="row gy-4 filter-active" >
        
                <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
                  <div class="service-card style3">
                    <div class="service-card-content">
                      <h3 class="box-title">History (Online)</h3>
                      <p>
                        <i class="fa-light fa-clock"></i>Duration : 2-3 Months
                      </p>
                      <h5 style="color: #0f2239">Modules Covered</h5>
        
        
                      <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                        <b>Fees:
                          <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                      </div>
                    </div>
                    <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                    <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
                  </div>
                </div>
        
                <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
                  <div class="service-card style3">
                    <div class="service-card-content">
                      <h3 class="box-title">Geography (Online)</h3>
                      <p href="blog.html">
                        <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                      </p>
                      <h5 style="color: #0f2239">Modules Covered</h5>
        
        
                      <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                        <b>Fees:
                          <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                      </div>
                    </div>
                    <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                    <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
                  </div>
                </div>

                <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
                    <div class="service-card style3">
                      <div class="service-card-content">
                        <h3 class="box-title">Geography (Online)</h3>
                        <p href="blog.html">
                          <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                        </p>
                        <h5 style="color: #0f2239">Modules Covered</h5>
          
          
                        <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                          <b>Fees:
                            <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                        </div>
                      </div>
                      <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                      <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
                    </div>
                  </div>
     
                  <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
                    <div class="service-card style3">
                      <div class="service-card-content">
                        <h3 class="box-title">Geography (Online)</h3>
                        <p href="blog.html">
                          <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                        </p>
                        <h5 style="color: #0f2239">Modules Covered</h5>
          
          
                        <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                          <b>Fees:
                            <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                        </div>
                      </div>
                      <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                      <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
                    </div>
                  </div>
       
                  <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
                    <div class="service-card style3">
                      <div class="service-card-content">
                        <h3 class="box-title">Geography (Online)</h3>
                        <p href="blog.html">
                          <i class="fa-light fa-clock"></i> Duration : 2-3 Months
                        </p>
                        <h5 style="color: #0f2239">Modules Covered</h5>
          
          
                        <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                          <b>Fees:
                            <span style="color: rgb(255, 5, 5)"> Rs 18,000/- </span>(Incl. of Taxes)</b>
                        </div>
                      </div>
                      <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
                      <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
                    </div>
                  </div>
              </div>
          </div>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>