<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
            OPSC <span style="color: rgb(255, 166, 0)">Syllabus</span>
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">OPSC Syllabus</li>
          </ul>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src="assets/img/bg/why-bg-2.png"
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 order-xl-1">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                    <div class="wcu-box_details">
                      <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                        "
                      >
                        The Competitive Examination shall Comprise as Follows,
                        Namely
                      </h3>

                      <div class="title-area mb-40">
                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Preliminary Examination</li>
                            <li>Mains Examination</li>
                            <li>Personality Test or Interview</li>
                          </ul>
                        </div>
                      </div>
                      <p class="wcu-box_text">
                        <b
                          >Candidates who will qualify in the. Preliminary
                          Examination shall be called by the Commission, to
                          appear in the Main Examination. The qualifying marks
                          in the Preliminary Examination shall be such as may be
                          fixed by the Commission. The marks obtained in the
                          Preliminary Examination shall not be counted for
                          ranking. The Main Examination shall comprise
                          Odia-language, English, English Essay, General
                          Studies-I & II papers, two optional subjects having
                          two papers each as prescribed in Scheduled-III.</b
                        >
                      </p>
                      <br />
                      <p class="wcu-box_text">
                        <b
                          >Candidates who obtain such minimum qualifying marks
                          in the Main Examination as may be fixed by the
                          Commission at their discretion shall be called for
                          personality test. The personality test or interview
                          shall carry 250 Marks and no minimum qualifying marks
                          for personality test or interview shall be fixed.Total
                          marks thus obtained by the candidates in the written
                          examination and personality test or interview would
                          determine their ranking. Candidates shall be allotted
                          to the various services keeping in view their ranks in
                          the examination and the preferences indicated by them
                          for various services.</b
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==============================
Course Area  
==============================-->
    <section class="space" id="course-sec">
      <div class="container">
        <div
          class="tab-menu1 filter-menu-active"
          style="
            background-color: rgba(255, 119, 0, 0.314);
            padding: 20px;
            border-radius: 20px;
          "
        >
          
          <button data-filter=".cat1" class="filter-btn active">
            Preliminary Exam
          </button>
          <button data-filter=".cat2" class="filter-btn">Mains Exam</button>
          <button data-filter=".cat3" class="filter-btn">Interview</button>
        </div>
        <div class="row gy-4 filter-active">
          <!-- Full course -->
          <div class="col-md-12 col-xl-12 filter-item cat1 cat2 cat3 cat4">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                    <div class="wcu-box_details">
                      <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                        "
                      >
                        The Competitive Examination shall Comprise as Follows,
                        Namely
                      </h3>

                      <div class="title-area mb-40">
                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Preliminary Examination</li>
                            <li>Mains Examination</li>
                            <li>Personality Test or Interview</li>
                          </ul>
                        </div>
                      </div>
                      <p class="wcu-box_text">
                        <b
                          >Candidates who will qualify in the. Preliminary
                          Examination shall be called by the Commission, to
                          appear in the Main Examination. The qualifying marks
                          in the Preliminary Examination shall be such as may be
                          fixed by the Commission. The marks obtained in the
                          Preliminary Examination shall not be counted for
                          ranking. The Main Examination shall comprise
                          Odia-language, English, English Essay, General
                          Studies-I & II papers, two optional subjects having
                          two papers each as prescribed in Scheduled-III.</b
                        >
                      </p>
                      <br />
                      <p class="wcu-box_text">
                        <b
                          >Candidates who obtain such minimum qualifying marks
                          in the Main Examination as may be fixed by the
                          Commission at their discretion shall be called for
                          personality test. The personality test or interview
                          shall carry 250 Marks and no minimum qualifying marks
                          for personality test or interview shall be fixed.Total
                          marks thus obtained by the candidates in the written
                          examination and personality test or interview would
                          determine their ranking. Candidates shall be allotted
                          to the various services keeping in view their ranks in
                          the examination and the preferences indicated by them
                          for various services.</b
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row gy-4 filter-active " style="margin-top: 20px;">
            <!-- Full course -->
            <div class="col-md-12 col-xl-12 filter-item cat1 cat2 cat3 cat4">
              <div class="wcu-wrap2">
                <div class="row g-4">
                  <div class="col-sm-12 col-md-12">
                    <div class="wcu-box style2 d-flex justify-content-center align-items-center">
                      <div class="wcu-box_details">
                        <h3
                          class="h5 wcu-box_title"
                          style="
                            background-color: #e2e6ff;
                            padding: 10px;
                            border-radius: 10px;
                            margin-bottom: 20px;
                          "
                        >
                        SCHEDULE – III
                        </h3>
  
                        <!-- <div class="title-area mb-40">
                          <div class="checklist mt-35 mb-40">
                            <ul>
                              <li>Preliminary Examination</li>
                              <li>Mains Examination</li>
                              <li>Personality Test or Interview</li>
                            </ul>
                          </div>
                        </div> -->
                        <p class="wcu-box_text">
                          <b
                            >Scheme and subjects for the Examination-</b
                          >
                        </p>
                        <br />
                        <p class="wcu-box_text">
                          <b
                            >The Preliminary Examination shall consist of two papers of objective type (Multiple choice questions) and each paper shall be of two hours duration. –</b
                          >
                        </p>
                        <table class="table table-striped" style="margin-top: 15px;">
                            <thead>
                            <tr>
                            <td><strong>Subject</strong></td>
                            <td><strong>Marks</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>Paper – I General Studies</td>
                            <td>200 Marks</td>
                            </tr>
                            <tr>
                            <td>Paper – II General Studies</td>
                            <td>200 Marks</td>
                            </tr>
                            </tbody>
                            </table>
                        
                      </div>
                     
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4 filter-active " style="margin-top: 20px;">
            <!-- Full course -->
            <div class="col-md-12 col-xl-12 filter-item cat1 cat2 cat3 cat4">
              <div class="wcu-wrap2">
                <div class="row g-4">
                  <div class="col-sm-12 col-md-12">
                    <div class="wcu-box style2 d-flex justify-content-center align-items-center">
                      <div class="wcu-box_details">
                        <h3
                          class="h5 wcu-box_title"
                          style="
                            background-color: #edc8f49f;
                            padding: 10px;
                            border-radius: 10px;
                            margin-bottom: 20px;
                          "
                        >
                        PAPER – I
                        </h3>
  
                        <div class="title-area mb-40">
                          <div class="checklist mt-35 mb-40">
                            <ul>
                                <li> Current events of National and International importance;</li>
                                <li> History of India and Indian National Movement;</li>
                                <li> India and World Geography-Physical, Social, Economic Geography of India and the World.</li>
                                <li> Indian Polity and Governance-Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.</li>
                                <li> Economic and Social Development-sustainable Development, Poverty, Inclusion, Demographics, Social Sector Initiatives, etc.</li>
                                <li> General Issues on Environmental Ecology, Bio-diversity and Climate change that do not require subject specialization</li>
                                <li> General Science</li>
                            </ul>
                          </div>
                        </div>

                      </div>
                     
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4 filter-active " style="margin-top: 20px;">
            <!-- Full course -->
            <div class="col-md-12 col-xl-12 filter-item cat1 cat2 cat3 cat4">
              <div class="wcu-wrap2">
                <div class="row g-4">
                  <div class="col-sm-12 col-md-12">
                    <div class="wcu-box style2 d-flex justify-content-center align-items-center">
                      <div class="wcu-box_details">
                        <h3
                          class="h5 wcu-box_title"
                          style="
                            background-color: #edc8f49f;
                            padding: 10px;
                            border-radius: 10px;
                            margin-bottom: 20px;
                          "
                        >
                        PAPER-II
                        </h3>
  
                        <div class="title-area mb-40">
                          <div class="checklist mt-35 mb-40">
                            <ul>
                                <li> Comprehension;</li>
									<li> Interpersonal Skills including communication skills;</li>
									<li> Logical Reasoning and Analytic ability;</li>
									<li> Decision Making and Problem Solving;</li>
									<li> General Mental Ability;</li>
									<li> Basic numeracy (numbers and their relations, orders of magnitude)  (Class-X level). Data Interpretation (Charts, Graphs, Tables, <br> Data Sufficiency etc. – Class -X level)</li>
									<li> English Language Comprehension Skills (Class-X level).</li>
                            </ul>
                          </div>
                        </div>

                      </div>
                     
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>

        
      </div>
    </section>
    <!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Contact Area  
==============================-->
    <% include commonsection/contactform.ejs %>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
