<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
        <div class="breadcumb-shape">
        </div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
           
        </div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
           
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Our <span style="color: rgb(255, 166, 0);"> Achievements</span></h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li style="color: rgb(255, 166, 0);">Our Achievements</li>
                </ul>
            </div>
        </div>
    </div>

<!--==============================
Achievements Area  
==============================-->


<div class="overflow-hidden space " id="about-sec" >
    <div class="shape-mockup jump d-md-block d-none" data-right="0" data-bottom="10%"><img src="assets/img/normal/about_2_shape1.png" alt="shapes"></div>
    <div class="shape-mockup jump d-md-block d-none" data-right="76px" data-bottom="10%"><img src="assets/img/normal/about_1_shape1.png" alt="shapes"></div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-6 mb-50 mb-xl-0">
                <div class="img-box2">
                    <div class="img1">
                        <img src="assets/img/normal/about_1.png" alt="About">
                    </div>
                    <div class="img2 tilt-active" >
                        <img src="assets/img/normal/about_2.png" alt="About">
                    </div>
             
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about2-title-wrap">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Get to Know About Us</span> -->
                        <h4 class="sec-title">Our <span style="color: rgb(255, 166, 0);">Achievements</span></h4>
                    </div>
                    <p class="mt-n2 mb-20">Vajirao IAS Academy stands as a distinguished institute dedicated to preparing aspirants for UPSC, OPSC, MPPSC, and various civil services examinations. Renowned for its progressive approach, high academic standards, and a cadre of exceptional mentors, the academy is committed to shaping candidates for success in the realm of civil services. Proudly adorned with numerous accolades, these awards serve as testaments to the intrinsic value and significance of our educational endeavors.</p>
                    <p class="mb-30">Our mission extends beyond mere examination success; we aim to foster individuals who, in addition to excelling in exams, can contribute meaningfully to society and the political landscape. Vajirao IAS Academy is resolute in its commitment to providing a conducive learning environment, characterized by academic excellence, dedication, and unwavering enthusiasm.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Award-1 Area  
==============================-->
<div class="overflow-hidden position-relative space bg-smoke" id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
           
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title"><span style="color: rgb(255, 166, 0);">Champion Of Change</span> Award - 2019</h4>
                    </div>
                    <p class="mt-n2 mb-20">Shri Dilip Kumar, Founder Director, Vajirao IAS Academy was honored with Champion’s of Change Award by Former President Bharat Ratna Shri Pranab Mukherjee ji at Vigyan Bhawan, New Delhi, through Interactive forum on Indian Economy for his exemplary contribution to education. It’s also praise worthy to mention that, Shri Dilip Kumar recently conferred with Governor Award for academic & educational excellence of his Academy. He is a veteran Leader, An eminent Phd. Scholar, Graduated from Delhi University.</p>
                    <p class="mb-30">Besides, he has done his Masters in English & History. During his early primary education level, he was also selected for All India Merit Scholarship. In the list of awardees, Shri Hemant Soren-Chief Minister of Jharkhand, Shri Manish Shisodia-Dy. Chief Minister of Delhi, Shilpa Shetty-Veteran Bollywood Actress, Shri Anurag Thakur -Mos Finance & Corporate Affairs and others were included.</p>
                    
                </div>
            </div>
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/Champions .webp" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--==============================
Award-2 Area  
==============================-->
<div class="overflow-hidden position-relative space " id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/ET.webp" alt="img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title"><span style="color: rgb(255, 166, 0);">ET Leadership Excellence</span> Award - 2023</h4>
                    </div>
                    <p class="mt-n2 mb-20">In a momentous occasion that echoes the dedication and commitment to shaping future leaders of our nation, Mr. Dilip Kumar, the visionary Founder Director of Vajirao IAS Academy, has been bestowed with The Times Group, ET Leadership Excellence Award for being the 'Iconic IAS Academy - 2023'. This prestigious accolade is a testament to Mr. Kumar's unwavering passion for education and his relentless pursuit of excellence in the field of civil services coaching.</p>

                    

                </div>
            </div>
            
            
        </div>
    </div>
</div>

<!--==============================
Award-3 Area  
==============================-->
<div class="overflow-hidden position-relative space bg-smoke" id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
           
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title"><span style="color: rgb(255, 166, 0);">Civil Services</span> Coaching Institute</h4>
                    </div>
                    <p class="mt-n2 mb-20">VAJIRAO IAS ACADEMY has been selected as one of the Civil Services Coaching Institute in Delhi to impart and deliver towards the Delhi Government’s Jai Bheem Mukhyamantri Pratibha Vikas Yojana. Under the program, we are providing free IAS Coaching to aspirants belonging to SC/ST/OBC/EWS category. We hope that to stand up to the faith reposed in us and see to it that the students are trained to the best of their abilities under our watchful eyes.</p>
                    
                    
                </div>
            </div>
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/delhi goverment.webp" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--==============================
Award-4 Area  
==============================-->
<div class="overflow-hidden position-relative space " id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/achivment.jpg" alt="img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title">Association With <span style="color: rgb(255, 166, 0);">KIIT</span> International School</h4>
                    </div>
                    <p class="mt-n2 mb-20">In a fruitful association with KIIT International School, VAJIRAO IAS ACADEMY is imparting civil services coaching to college students and preparing their tender minds to stand up to the rigors of the Civil Services arena. We are very privileged to be able to train the talented bunch of students who are willingly to serve the nation at the grassroot levels.</p>

                    

                </div>
            </div>
            
            
        </div>
    </div>
</div>

<!--==============================
Award-5 Area  
==============================-->
<div class="overflow-hidden position-relative space bg-smoke" id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
           
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title"><span style="color: rgb(255, 166, 0);">Odisha Education</span> Award - 2019</h4>
                    </div>
                    <p class="mt-n2 mb-20">VAJIRAO IAS ACADEMY added another feather to its cap by bagging the ODISHA EDUCATION AWARD 2019 for being the ‘BEST IAS COACHING INSTITUTE IN ODISHA’. Time and again we have proved to be one of the finest in the field of Civil Services Coaching by churning out successful candidates year after year. The award is only one among the numerous accolades we receive in lieu of helping out the aspirants in realizing their cherished dreams of becoming the future bureaucrats.</p>
                    
                    
                </div>
            </div>
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/achivment.jpg" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--==============================
Award-6 Area  
==============================-->
<div class="overflow-hidden position-relative space " id="about-sec">
    <div class="about-4-bg-shape1 shape-mockup jump d-md-block d-none" data-right="3%" data-top="15%">
        <img src="assets/img/normal/about_4_shape1.png" alt="shapes">
    </div>
    <div class="about-4-bg-shape2 shape-mockup jump-reverse d-md-block d-none" data-right="20%" data-bottom="10%">
        <!-- <img src="assets/img/normal/about_4_shape2.png" alt="shapes"> -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-5 mt-2">
                <div class="mb-5 mb-xl-0 tilt-active">
                    <img src="assets/img/normal/achivment.jpg" alt="img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="ms-xl-5">
                    <div class="title-area mb-30">
                        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> More About Us</span> -->
                        <h4 class="sec-title"> <span style="color: rgb(255, 166, 0);">Odisha</span> Excellence Award - 2019</h4>
                    </div>
                    <p class="mt-n2 mb-20">VAJIRAO IAS ACADEMY bagged the much acclaimed ODISHA EXCELLENCE AWARD 2019 for being the best CIVIL SERVICES COACHING INSTITUTE. Conferred by the Governor of Odisha Prof. Ganeshi Lal, it is a real testimony for our efforts towards imparting quality Civil Service Coaching to numerous aspirants in the Capital. The award is set to serve as catalyst and we will continue to strive for excellence in every sphere of Civil Services Training.</p>

                    

                </div>
            </div>
            
            
        </div>
    </div>
</div>
 <!--==============================
Counter Area  
==============================-->
<div class="counter-area-2" style="background-color: #082343;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">40</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Students</strong> Enrolled</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">10</span><span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Total </strong>Courses</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">20</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Online </strong> Learners</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">90</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Social Media</strong>Followers</p>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--==============================
Testimonial Area  
==============================-->
<% include commonsection/testimonial.ejs %>

<!--==============================
Our Center Area  
==============================-->
<% include commonsection/center.ejs %>


    <!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>