<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
        <div class="breadcumb-shape">
        </div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
           
        </div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
           
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Our <span style="color: rgb(255, 166, 0);"> Facilities</span></h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li style="color: rgb(255, 166, 0);">Our Facilities</li>
                </ul>
            </div>
        </div>
    </div>


 <!--==============================
facilities Area  
==============================-->
<section class="space " id="course-sec">
    <div class="container">
        
        <div class="row gy-4">
            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/fecult.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">A team of finest faculties</h3>
                    <p class="admission-card_text">Vajirao IAS Academy over the years has forged together a team of highly qualified and experienced faculty team who are dedicated towards contributing their best for our students. Besides regular coaching they are the go-to-man for the students irrespective of any situation and matter.</p>
                    
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/std-metrl.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">Study materials</h3>
                    <p class="admission-card_text">Our backend team comprising of scholars and eminent teachers, put together our hours of work in coming up with the best UPSC study materials for the students. Our study materials are designed to cater to the demands of the latest UPSC Syllabus and Pattern. <br><br></p>
                   
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/clas-room.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">Fully equipped classrooms</h3>
                    <p class="admission-card_text">Classroom is the place where our students work towards achieving their dreams. And we have made sure that they are provided with the right environment. Equipped digital boards and other high tech amenities, our state-of-art classrooms are best suited for perfect UPSC Preparation.</p>
                    
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/spacial.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">Personal attention by the teachers</h3>
                    <p class="admission-card_text">Besides classroom coaching, our teachers are ready round-the-clock to work with the doubts and shortcomings of the students. Separate doubt clearing sessions to go with personal attention is provided to all the aspirants, so that they do not feel let down in the race.</p>
                    
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/website.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">Daily Resource Hub</h3>
                    <p class="admission-card_text"><a href="https://www.iasexam.com/">Iasexam.com</a>  is the one stop solution for all the daily current affair articles, magazines, UPSC notes, Newspaper Editorial Analysis, Daily Quiz, Revision Modules etc. Students can supplement their daily study routine with iasexam.com <br><br></p>
                    
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="admission-card" >
                    <div class="admission-card_img">
                        <img src="assets/img/update1/normal/test.webp" alt=" image">
                    </div>
                    <h3 class="admission-card_title box-title">Expert-led Test Series</h3>
                    <p class="admission-card_text">  All India Prelims Test Series is conducted every year before the UPSC CSE so that students get ready with rigorous revisions. Prepared by the best in business, our test series are duly designed as per the UPSC Syllabus where students can gauge their performance and plan accordingly.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

 <!--==============================
Counter Area  
==============================-->
<div class="counter-area-2" style="background-color: #082343;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">40</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Students</strong> Enrolled</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">10</span><span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Total </strong>Courses</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">20</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Online </strong> Learners</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 counter-card-wrap">
                <div class="counter-card">
                    <h4 class="counter-card_number"><span class="counter-number">90</span>k<span class="fw-normal">+</span></h4>
                    <p class="counter-card_text"><strong>Social Media</strong>Followers</p>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--==============================
Testimonial Area  
==============================-->
<% include commonsection/testimonial.ejs %>

     <!--==============================
Our Center Area  
==============================-->
<% include commonsection/center.ejs %>
    <!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>