<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>

  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title"><span style="color: rgb(255, 166, 0);"> Postal </span> Courses</h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0);">Postal Course</li>
        </ul>
      </div>
    </div>
  </div>
  <!--=============================== 
  Course Features section start 
====================================
-->
  <div class="why-sec-v2 overflow-hidden space" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <!-- <img src="assets/img/normal/wcu_2_shape1.png" alt="img" /> -->
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" /> -->
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <h3 class="h5 wcu-box_title" style="
                        background-color: #e2e6ff;
                        padding: 10px;
                        border-radius: 10px;
                        margin-bottom: 20px;
                      ">
                      Course <b>Features</b> For PAN India Centers
                    </h3>


                    <p class="wcu-box_text">
                      <b>UPSC aspirants who are working professionals or are living in distant areas and cannot come to the institute for coaching or don’t have time to come to the institute for classroom guidance, they can still acquire the skills and knowledge required to excel in the Civil Services Examination with flying colors. Along with comprehensive, study materials provided in postal or correspondence course come apposite practice test strictly based on civil service examination. With the motive to offer our students with best guidance and updated knowledge, we continuously make changes to the content of correspondence Courses.</b>
                    </p>
                    <br />


                    <div class="title-area mb-40">
                      <div class="checklist mt-35 mb-40">
                        <ul>
                          <li>Correspondence Course materials are composed by expert faculties and subject experts.</li>
                          <li>Case studies and contemporary issues analysis.</li>
                          <li>Available both in Hindi and English.</li>
                          <li>Detailed diagrams for better understanding.</li>
                          <li>A set of 14 books, for comprehensive study.</li>
                          <li>Special Test Series for ultimate preparation.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--==============================
Course Area  
==============================-->
  <section class="space bg-smoke" id="course-sec">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title">Popular Courses</span> -->
        <h2 class="sec-title fw-medium">Full Course Details</h2>
      </div>
      <div class="tab-menu1 filter-menu-active">
        <button data-filter="*" class="filter-btn active">
          All Branches
        </button>
        <button data-filter=".cat1" class="filter-btn">Delhi</button>
        <button data-filter=".cat2" class="filter-btn">Gurgaon</button>
        <button data-filter=".cat3" class="filter-btn">Indore</button>
        <button data-filter=".cat4" class="filter-btn">Bhubaneswar</button>
      </div>
      <div class="row gy-4 filter-active">


        <!-- Full course -->
        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Prelims GS (Correspondence)</h3>
              <p>
                <i class="fa-light fa-clock"></i> Duration : 6 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <p class="service-card-text">
                      Prelims(GS) Booklet Set + CSAT Booklet + Prelims Test Series Papers
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 8,000/-/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Mains GS (Correspondence)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 6 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      Mains(GS) Booklet Set + Mains Test Series Paper
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 12,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS/PCS Optional (Correspondence)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 2-3 Months
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      One Optional Booklet Set
                    </p>
                    <p class="service-card-text">
                      <strong>Available Optionals:</strong> <br>
                      (History, Geography, Pol.Science & IR (PSIR), Sociology, Public Administration)

                    </p>

                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 5,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Integrated (Correspondence)</h3>
              <p>
                <i class="fa-light fa-clock"></i>Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">
                    <br>
                    <p class="service-card-text">
                      Prelims(GS) Booklet Set + CSAT Booklet + Prelims Test Series Papers + Mains(GS) Booklet Set + Mains Test Series Paper
                    </p>
                    <br><br>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 20,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS Combined Package (Correspondence)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1 Year
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">

                    <p class="service-card-text">
                      Prelims(GS) Booklet Set + CSAT Booklet + Mains(GS) Booklet Set + Prelims Test Series Papers + Mains Test Series Paper + One Optional Booklet Set <br>

                      <strong>Available Optionals:</strong> <br>
                      (History, Geography, Pol.Science & IR (PSIR), Sociology, Public Administration)
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 25,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 filter-item cat1 cat2 cat3 cat4">
          <div class="service-card style3">
            <div class="service-card-content">
              <h3 class="box-title">IAS/PCS Combined Package (Correspondence)</h3>
              <p href="blog.html">
                <i class="fa-light fa-clock"></i> Duration : 1Yr/2Yr/3Yr
              </p>
              <h5 style="color: #0f2239">Modules Covered</h5>

              <div class="col-auto border p-4 rounded min-height">
                <a class="tab-btn">
                  <span class="details">

                    <p class="service-card-text">
                      Prelims(GS) Booklet Set + CSAT Booklet + Mains(GS) Booklet Set + Prelims Test Series Papers + Mains Test Series Paper + Two Optionals Booklet Set <br>

                      <strong>Available Optionals:</strong> <br>
                      (History, Geography, Pol.Science & IR (PSIR), Sociology, Public Administration)
                    </p>
                  </span>
                </a>
              </div>
              <div class="offer-tag my-3 text-bold" style="color: #0f2239">
                <b>Fees:
                  <span style="color: rgb(255, 5, 5)"> Rs 30,000/- </span>(Incl. of Taxes)</b>
              </div>
            </div>
            <a href="course-details.html" class="th-btn" style="padding: 10px">Register</a>
            <a href="course-details.html" class="th-btn simple-icon me-3 sideMenuToggler" style="padding: 10px">Enquire <i class="fa-solid fa-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
      <!-- Optional course -->



    </div>
  </section>

  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>