<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
          UPSC <span style="color: rgb(255, 166, 0)"> PRELIMS TEST </span> 2024
        </h1>
        <p class="mt-3" style="color: #fff;">Helping Out Aspirants With Their UPSC Preparation And Prelims Boost Up</p>


        <div class="btn-group justify-content-center">
          <a href="about.html" class="th-btn style3 sideMenuToggler">Enquire <i class="fa-regular fa-envelope-open"></i></a>
          <a href="contact.html" class="th-btn style2">Download Schedule<i class="fas fa-download ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>



  <!--==============================
Servce Area  
==============================-->
  <section class="space overflow-hidden" data-bg-src="assets/img/bg/course_bg_2.png" id="course-sec">
    <div class="container">
      <div class="title-area text-center mb-50">
        <span class="sub-title"> Starting Date <i class="fal fa-calendar me-2"></i> 19th November 2023</span>
        <h2 class="sec-title">TOTAL TESTS - <span style="color: red;">35</span> </h2>
      </div>


      <div class="course-tab-1  row mb-25">
        <div class="col-lg-3">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">Sectional Test - 10</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>HISTORY-2</li>
                  <li>POLITY-2</li>
                  <li>ECONOMICS-2</li>
                  <li>GEOGRAPHY-1</li>
                  <li>ENVIRONMENT-1</li>
                  <li>SCI & TECH-1</li>

                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">Full-Length Test - 15</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>All Subject Included</li>


                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">Current Affairs - 5</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>4 CA + Economic Survey</li>


                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-3">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">CSAT - 5</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>Full Length English</li>


                </ul>
              </div>
            </span>
          </a>
        </div>

      </div>

    </div>

    <div class="container">
      <div class="title-area text-center mb-50">

        <h2 class="sec-title">Merit Based</h2>
      </div>


      <div class="course-tab-1   row">

        <div class="col-lg-6">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">GS Paper-I (Total Marks-200)</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>100Q X 2 Marks Each</li>
                  <li>0.66 for each wrong answer</li>

                </ul>
              </div>
            </span>
          </a>
        </div>
        <div class="col-lg-6">
          <a class="tab-btn">
            <!-- <span class="icon"><img src="assets/img/icon/course-tab-icon2.svg" alt="img"></span> -->
            <span class="details">
              <span class="box-title">GS Paper-II (Total Marks-200)</span>
              <div class="checklist mt-35 mb-40">
                <ul>
                  <li>80Q X 2.5 Marks Each</li>
                  <li>Qualifying in nature <b>[33% for qualifying]</b> </li>

                </ul>
              </div>
            </span>
          </a>
        </div>

      </div>

    </div>



  </section>

  <!--==============================
Price Area  
==============================-->
  <section class="space">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> Pricing Table</span> -->
        <h2 class="sec-title">Pricing Table</h2>
      </div>
      <div class="row gy-4 justify-content-center">

        <div class="col-xl-4 col-md-6">
          <div class="price-card ">
            <div class="price-card_top">
              <h3 class="price-card_title">Basic Plan</h3>
              <h4 class="price-card_price">
                $156.00 <span class="duration">/PER MONTHLY</span>
              </h4>
            </div>
            <div class="price-card_content">
              <div class="checklist">
                <ul>
                  <li><i class="far fa-check-circle"></i> Access to all courses</li>
                  <li><i class="far fa-check-circle"></i> Example code available</li>
                  <li><i class="far fa-check-circle"></i> High resolution videos</li>
                  <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Certificate after completion</li>
                  <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Private sessions</li>
                </ul>
              </div>
              <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="price-card active">
            <div class="price-card_top">
              <h3 class="price-card_title">Standard Plan</h3>
              <h4 class="price-card_price">
                $176.00 <span class="duration">/PER MONTHLY</span>
              </h4>
            </div>
            <div class="price-card_content">
              <div class="checklist">
                <ul>
                  <li><i class="far fa-check-circle"></i> Access to all courses</li>
                  <li><i class="far fa-check-circle"></i> Example code available</li>
                  <li><i class="far fa-check-circle"></i> High resolution videos</li>
                  <li><i class="fa-regular fa-circle-xmark"></i> Certificate after completion</li>
                  <li class="unavailable"><i class="fa-regular fa-circle-xmark"></i> Private sessions</li>
                </ul>
              </div>
              <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="price-card ">
            <div class="price-card_top">
              <h3 class="price-card_title">Premium Plan</h3>
              <h4 class="price-card_price">
                $196.00 <span class="duration">/PER MONTHLY</span>
              </h4>
            </div>
            <div class="price-card_content">
              <div class="checklist">
                <ul>
                  <li><i class="far fa-check-circle"></i> Access to all courses</li>
                  <li><i class="far fa-check-circle"></i> Example code available</li>
                  <li><i class="far fa-check-circle"></i> High resolution videos</li>
                  <li><i class="fa-regular fa-circle-xmark"></i> Certificate after completion</li>
                  <li><i class="fa-regular fa-circle-xmark"></i> Private sessions</li>
                </ul>
              </div>
              <a href="pricing.html" class="th-btn style10">CHOOSE THE PLAN<i class="fa-regular fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row slider-shadow mt-4 ">
        <div class="col-md-12 col-xl-12">
          <div class="th-blog blog-single style2 ">
            <div class="container-fluid">
              <div class="breadcumb-content text-center">

                <div class="video-wrap mb-30  ">
                  <a href="#">
                    <img src="assets/img/delhi-toppers/toppers-img.webp" alt="img">
                  </a>


                </div>
              </div>

            </div>

          </div>
        </div>


      </div>
    </div>
  </section>

  <!--==============================
banner Area  
==============================-->
  <!-- <section class="overflow-hidden space " id="blog-sec">
  <div class="container">
      
      <div class="row slider-shadow " >
          <div class="col-md-12 col-xl-12">
              <div class="th-blog blog-single style2 ">
                  <div class="container-fluid">
                      <div class="breadcumb-content text-center">
                         
                          <div class="video-wrap mb-30  ">
                              <a href="#">
                                  <img src="assets/img/delhi-toppers/toppers-img.webp" alt="img">
                              </a>
                             
                              
                          </div>
                      </div>
                      <a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" class="link-btn" style="color: #e61919 !important;">& Many More <i class="fas fa-arrow-right ms-2"></i></a>
                  </div>
               
              </div>
          </div>

    
      </div>
  </div>
</section> -->


  <!--==============================
All Branches admission Area  
==============================-->
  <div class="why-sec-v2 overflow-hidden space bg-smoke" data-bg-src="">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2 d-flex justify-content-center align-items-center">
                  <h4>UPSC PRELIMS TEST 2024</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-3">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">

                    <br>
                    <p style="font-size: 20px; color: red;"> <b>Description:</b> </p>
                    <p class="wcu-box_text">
                      <b>May 26, 2024 is the D-day for every serious civil service aspirants. We believe & say that “All India Test Series is the real mirror to see your preparation level”. So before entering to the battle field let us equipped with the weapons of practice “prelims test series”, which shall enrich and acquaint you as per the rigors of the UPSC patterns and make you confident to appear the real test perfectly in the stipulated test duration and help you manage the exam pressure better.</b>
                    </p>
                    <br>


                    <p style="font-size: 20px; color: red;"> <b>Program Objective:</b> </p>
                    <p class="wcu-box_text">
                      <b>Our “online test series” is duly designed keeping the UPSC syllabus as the focal point. Our team of experts belonging to diverse background and well versed with the dynamic UPSC patterns is determined to provide you the best of revisions and practice through this upsc prelims test series so that it can create more chances for the aspirants to crack the civil service examination 2024. Most of the questions asked in UPSC Prelims-2022-2023 & Mains were similar to those asked in Vajirao IAS Academy’s “prelims test series”-2022-2023. Sources we refer to design our Test Series include – NCERT, PIB, IGNOU & other government documents to ensure its correctness & UPSC orientation.</b>
                    </p>
                    <br>
                    <p style="font-size: 20px; color: red;"> <b>Approach And Strategy:</b> </p>
                    <p class="wcu-box_text">
                      <b>This is a comprehensive and all-round online/offline/postal program designed to provide the best of revision and practice module for the serious UPSC aspirants vying to appear in the next year prelims. The test series will be efficiently supported by our faculties to answer your queries and enrich your knowledge in related concepts.</b>
                    </p>
                    <br>
                    <p class="wcu-box_text">
                      <b>Our 360 degree approach for the test series 2024 is on the lines with the trending demands of UPSC. With a simple strategy to make the aspirants acquainted with all the relevant topics and concepts, we thrive to make your efforts meaningful.</b>
                    </p>
                    <br>
                    <p style="font-size: 20px; color: red;"> <b>For Ex- Students of Vajirao IAS Academy</b> </p>

                    <br>
                    <div class="checklist style3 mb-45">
                      <ul>
                        <li class="d-flex align-items-center"> <i class="icon_check"></i>Special discounts applicable for our Ex-Students. To Register for the Test Series, please do call us in the below number</li>
                        <li class="d-flex align-items-center"> <i class="icon_check"></i> For Ex-Students of Delhi Branch – call @011-46015028, 8800533352, 8800533302 Or drop us a mail to info@vajiraoiasacademy.com</li>
                        <li class="d-flex align-items-center"> <i class="icon_check"></i> For Ex-Students of Gurgaon Branch – call @0124-4012343 , 7838900910 , 9599910072 Or drop us a mail to info@vajiraoiasacademy.com</li>

                        <li class="d-flex align-items-center"> <i class="icon_check"></i>For Ex-Students of Bhubaneswar Branch – call @97682823980, 7682823981 or 9090072121 Or drop us a mail to info@vajiraoiasacademy.com</li>

                        <li class="d-flex align-items-center"> <i class="icon_check"></i>For Existing Students of Vajirao IAS Academy</li>
                        <li class="d-flex align-items-center"> <i class="icon_check"></i>Please contact the reception desk of your respective branch for registration.</li>

                      </ul>


                    </div>

                    <div class="events__tag d-flex justify-content-center align-items-center">
                      <a class="vipts-btn" href="https://www.vajiraoiasacademy.com/assets/img/VIAPTS2024-FinalTestSchedule.pdf" target="_blank"><span></span> <b style="color: red;"> <i class="fal fa-download"></i> Download Schedule</b> </a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--==============================
Counter Area  
==============================-->

  <% include commonsection/counter.ejs %>
  <!--==============================
Testimonial Area  
==============================-->
  <% include commonsection/testimonial.ejs %>
  <!--==============================
Our Center Area  
==============================-->
  <% include commonsection/center.ejs %>

  <!--==============================
Contact Area  
==============================-->
  <% include commonsection/contactform.ejs %>
  <!--==============================
Footer Area  
==============================-->
  <% include include/footer.ejs %>
</head>

</html>