<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
            <span style="color: rgb(255, 166, 0)"> UPSC Prelims </span>Previous Year Papers
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">UPSC Prelims Previous Year Papers</li>
          </ul>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src="assets/img/bg/why-bg-2.png"
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="">
            <div class="row justify-content-center justify-content-xl-between align-items-center">
                <div class="col-xl-8 mb-n2 mb-xl-0">
                    <div class="title-area text-center text-xl-start">
                        <span class="sub-title">Civil Services (Preliminary) Examination </span>
                        <h2 class="sec-title fw-semibold"> General Studies <span style="color: #FFA600;">Paper I</span></h2>
                    </div>
                </div>
                <!-- <div class="col-auto">
                    <div class="sec-btn">
                        <a href="course.html" class="th-btn">View All Categories<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div> -->
            </div>
            
            <div class="row gy-4">
                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content" >
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>


                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>


                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="category-list2">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                GS Paper</a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>

                    <div class="category-list2" style="background-color: #e3dcf9f2;">
                        <div class="category-list2_icon">
                            <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                        </div>
                        <div class="category-list2_content">
                            <h3 class="category-list2_title "><a href="course.html" >
                                Answer Key
                                </a></h3>
                            <span class="category-list2_text">2022</span>
                        </div>
                        
                    </div>
                </div>
                
            </div>

            
        </div>
      </div>
    </div>

    <div
    class="why-sec-v2 overflow-hidden space"
    data-bg-src=""
  >
    <div
      class="shape-mockup why2-shape-1 spin"
      data-top="40%"
      data-right="6%"
    >
      <!-- <img src="assets/img/normal/wcu_2_shape1.png" alt="img" /> -->
    </div>
    <div
      class="shape-mockup why2-shape-2 jump"
      data-bottom="25%"
      data-left="3%"
    >
      <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" /> -->
    </div>
    <div class="container">
      <div class="">
          <div class="row justify-content-center justify-content-xl-between align-items-center">
              <div class="col-xl-8 mb-n2 mb-xl-0">
                  <div class="title-area text-center text-xl-start">
                      <span class="sub-title">Civil Services <b style="color: red;">(Preliminary)</b>  Examination </span>
                      <h2 class="sec-title fw-semibold"> General Studies <span style="color: #FFA600;">Paper II</span> </h2>
                  </div>
              </div>
              <!-- <div class="col-auto">
                  <div class="sec-btn">
                      <a href="course.html" class="th-btn">View All Categories<i class="fas fa-arrow-right ms-2"></i></a>
                  </div>
              </div> -->
          </div>
          
          <div class="row gy-4">
              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2" >
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content" >
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>


              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>


              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>
              </div>

              <div class="col-lg-6 col-xl-4">
                  <div class="category-list2 list2">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title "><a href="course.html" >
                              GS Paper</a></h3>
                          <span class="category-list2_text">2022</span>
                      </div>
                      
                  </div>

                  <div class="category-list2 list2" style="background-color: #e3dcf9f2;">
                      <div class="category-list2_icon">
                          <img src="assets/img/update1/icon/category_2_1.svg" alt="icon">
                      </div>
                      <div class="category-list2_content">
                          <h3 class="category-list2_title " ><a href="course.html" >
                              Answer Key
                              </a></h3>
                          <span class="category-list2_text" >2022</span>
                      </div>
                      
                  </div>
              </div>
              
          </div>

          
      </div>
    </div>
  </div>

  
    <!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
    <!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
    <!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

    <!--==============================
Contact Area  
==============================-->
    <% include commonsection/contactform.ejs %>
    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
