<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
              <span style="color: rgb(255, 166, 0)">Privacy</span> Policy
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src="assets/img/bg/why-bg-2.png"
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 order-xl-1">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                    <div class="wcu-box_details">
                      <!-- <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          text-align: center;
                          font-size: 30px !important;
                          font-weight: bold;
                          color: red;
                        "
                      >
                      PROGRAM OBJECTIVE
                      </h3> -->

                      
                      <p class="wcu-box_text">
                        The Vajirao IAS Academy Web Site (www.vajiraoiasacademy.com) owned and operated by Vajirao IAS Academy Pvt. Ltd. a company registered under The Companies Act,2013 (“Vajirao IAS Academy”), consisting of company information, services, and proprietary content, links, search capabilities and other Internet resources provided by Vajirao IAS Academy Website, affiliates of Vajirao IAS Academy. The terms, conditions, and notices below (“Terms of Use”) govern your use of this Site. Your use of this Site constitutes your agreement to these Terms of Use. If you do not agree with these Terms of Use, please do not use this site. Vajirao IAS Academy reserves the right to change, modify, add, or remove portions of these Terms of Use at any time. These Terms of Use were last updated 25/11/2019. Please check this page periodically for any modifications.
                      </p>
                      <br />
                      <p class="wcu-box_text">
                        Security and Safety of Data: All contents in this Site, including, without limitation, Site layout, functionalities, design, text, images, graphics, documents, data files, video and audio content (“Contents”) are the property of Vajirao IAS Academy, its affiliated companies. You may not publish, copy, display, distribute, transmit, perform, modify, create derivative works from, or sell any Contents, information, products, or services obtained from this Site, except as otherwise expressly permitted under applicable law and as described in these Terms of Use. Vajirao IAS Academy retains all right, title, and interest to the Contents. Except as permitted by applicable laws, you are prohibited from using any of the marks appearing on this Site without express written consent from the respective trademark owners.
                      </p>
<br>
                      <p class="wcu-box_text">
                        Use of and Downloading Contents: Vajirao IAS Academy grants you permission to print or download Contents on the Site so long as the Contents (i) is solely for informational use or for permitted commercial uses in support of the VAJIRAO IAS ACADEMY’s products, services, or business interests and is not modified or revised in any manner; (ii) plainly displays all copyright, trademark, trade name, service mark, or any other proprietary notices or legends, in the same form and manner as on the original; and (iii) displays a statement that the Contents are used solely with permission of the Vajirao IAS Academy. You may not engage in systematic retrieval of data or other Contents from this site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from Vajirao IAS Academy. Nor may you mirror on your own site the home page or results pages of this Site. Use of the Contents on this Site for any purpose not expressly permitted in these Terms of Use is prohibited. If you (or a legal entity you control) own and operate a Web site or engage in other Internet activity, such as electronic commerce, communication, publishing, and transmission, and want to download, post, publish, or use Contents for any such Web site or Internet activity, you will need permission from Vajirao IAS Academy, even though your Web site or Internet activity is free of charge.
                      </p>
<br>
                      <p class="wcu-box_text">
                         <b>Privacy Policy:</b>  Commitment to Privacy Protection: Protecting the security and privacy of your personal data is important to Vajirao IAS Academy; therefore, we conduct our business in compliance with applicable laws on data privacy protection and data security. We hope the policy outlined below will help you understand what data Vajirao IAS Academy may collect, how Vajirao IAS Academy uses and safeguards that data and with whom we may share it.
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >Personal data:</b
                          > Through our Web Site, Vajirao IAS Academy will not collect any personal data about you (e.g., your name, address, telephone number or e-mail address), unless you voluntarily choose to provide us with it (e.g., by registration, survey, feedback, quote requests), respectively, provide your consent, or unless otherwise permitted by applicable laws and regulations for the protection of your personal data.
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >Purpose of Use:</b
                          > When you do provide us with personal data, we usually use it to respond to your inquiry, process your order or provide you access to specific information or offers. Also, to support our customer relationship with you, we may store and process personal data and share it with our affiliates to better understand your needs and how we can improve our products and services.
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >If you choose not to have your personal data used to support our customer, we will respect your choice. We do not sell or otherwise market your personal data to third parties, except to VAJIRAO IAS ACADEMY affiliates.</b
                        >
                      </p>
<br>
                      <p class="wcu-box_text">
                        <b
                          >Purpose Limitation: </b
                          > Vajirao IAS Academy will collect, use or disclose personal data supplied by you online only for the purposes disclosed to you, unless the disclosure (i) is a use of the personal data for any additional purpose that is directly related to the original purpose for which the personal data was collected; (ii) is necessary to prepare, negotiate and perform a contract with you; (iii) is required by law or the competent governmental or judicial authorities; (iv) is necessary to establish or preserve a legal claim or defence; or (v) is necessary to prevent fraud or other illegal activities, such as willful attacks on VAJIRAO IAS ACADEMY information technology systems.
                      </p>
<br>
                      <p class="wcu-box_text">
                         <b>Communications and Utilization Data:</b>  Through your use of telecommunications services to access our Web Site, your communications data (e.g., Internet protocol address) or utilization data (e.g., information on the beginning, end, and extent of each access, and information on the telecommunications services you accessed) are technically generated and could conceivably relate to personal data. To the extent that there is a compelling necessity, the collection, processing, and use of your communications or utilization data will occur and will be performed in accordance with the applicable data privacy protection legal framework.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
