<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
  </title>
  <meta name="author" content="Vajirao IAS Academy" />
  <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class." />
  <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <% include include/header.ejs %>
  <!--==============================
    Breadcumb
============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px"></div>
    <div class="container">
      <div class="breadcumb-content text-center">
        <h1 class="breadcumb-title">
            Terms <span style="color: rgb(255, 166, 0)">& Conditions</span>
        </h1>
        <ul class="breadcumb-menu">
          <li><a href="/">Home</a></li>
          <li style="color: rgb(255, 166, 0)">Terms & Conditions
            
            </li>
        </ul>
      </div>
    </div>
  </div>

  <!--==============================
All Branches admission Area  
==============================-->
  <div class="why-sec-v2 overflow-hidden space" data-bg-src="assets/img/bg/why-bg-2.png">
    <div class="shape-mockup why2-shape-1 spin" data-top="40%" data-right="6%">
      <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
    </div>
    <div class="shape-mockup why2-shape-2 jump" data-bottom="25%" data-left="3%">
      <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 order-xl-1">
          <div class="wcu-wrap2">
            <div class="row g-4">
              <div class="col-sm-12 col-md-12">
                <div class="wcu-box style2">
                  <div class="wcu-box_details">
                    <!-- <h3
                        class="h5 wcu-box_title"
                        style="
                          background-color: #e2e6ff;
                          padding: 10px;
                          border-radius: 10px;
                          margin-bottom: 20px;
                          text-align: center;
                          font-size: 30px !important;
                          font-weight: bold;
                          color: red;
                        "
                      >
                      PROGRAM OBJECTIVE
                      </h3> -->


                    <h4 class="wcu-box_text text-center">
                      Fees once paid shall not be refunded under any circumstances. The Fees means, it can be Registration/Enrollment/Installment/Course fees/any payment etc.
                    </h4>
                    <br />

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>
</head>

</html>