<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy</title>
    <meta name="author" content="Vajirao IAS Academy">
    <meta name="description" content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class.">
    <meta name="keywords" content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/bg.webp" data-overlay="title" data-opacity="8">
        <div class="breadcumb-shape">
        </div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px">
           
        </div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
           
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title"><span style="color: rgb(255, 166, 0);">Testimonial</span></h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li style="color: rgb(255, 166, 0);">Testimonial</li>
                </ul>
            </div>
        </div>
    </div>

<!--==============================
Toppers Area  
==============================-->

<% include commonsection/topper.ejs %>

 <!--==============================
Testimonial Area  
==============================-->
<section class="space" data-bg-src="assets/img/update1/bg/testi_bg_1.jpg" style="background-color: rgb(239, 194, 176);">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 text-center text-lg-start align-self-center mb-40 mb-xl-0">
                <div class="mb-30 mb-xl-5">
                    <!-- <span class="sub-title"><i class="fal fa-book me-2"></i>Happy Students</span> -->
                    <h2 class="fs-40 text-white fw-light mb-0 mt-n3">Our Student’s Says</h2>
                    <h3 class="h2 text-white">About Our University</h3>
                    <p class="text-white"></p>
                </div>
                <a href="course-details.html" class="th-btn style2">Give Feedback<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="testi-card2-tab" data-asnavfor=".testi-card2-slide" >
                    <button class="tab-btn active" type="button"><img src="assets/img/update1/testimonial/testi_1_1.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_2.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_3.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_4.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_5.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_6.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_2.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_3.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_4.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_5.jpg" alt="tab-btn image"></button>
                    <button class="tab-btn" type="button"><img src="assets/img/update1/testimonial/testi_1_6.jpg" alt="tab-btn image"></button>
                </div>
                <div class="testi-card2-slide th-carousel"  data-slide-show="1">
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text" >Uniquely restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">Vlademir Hilton</h3>
                            <span class="testi-card2_desig">CEO & Owner</span>
                        </div>
                    </div>
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text">Vectors restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">David Milton</h3>
                            <span class="testi-card2_desig">Store Owner</span>
                        </div>
                    </div>
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text">Extensive restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">Abraham Khalil</h3>
                            <span class="testi-card2_desig">Store Manager</span>
                        </div>
                    </div>
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text">Whereas restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">David Smithe</h3>
                            <span class="testi-card2_desig">Shop Manager</span>
                        </div>
                    </div>
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text">Unleash restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">Justin Dacusta</h3>
                            <span class="testi-card2_desig">CEO & Owner</span>
                        </div>
                    </div>
                    <div>
                        <div class="testi-card2">
                            <p class="testi-card2_text">Materials restore is intermandateds ideas with 24/365 quality vectors Assertively seize extensible leadership skills for revolutionary array of technology extensive materials. Energistically procrastinate market driven growth strategies whereas excellent process Intrinsicly unleash cost effective applications</p>
                            <h3 class="testi-card2_name">Ashley Kumara</h3>
                            <span class="testi-card2_desig">Store Owner</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!--==============================
Counter Area  
==============================-->

<% include commonsection/counter.ejs %>


<!--==============================
Our Center Area  
==============================-->
<% include commonsection/center.ejs %>

    <!--==============================
Footer Area  
==============================-->
<% include include/footer.ejs %>