<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy
    </title>
    <meta name="author" content="Vajirao IAS Academy" />
    <meta
      name="description"
      content="Being the Premier IAS Coaching Institute in India, we design an integrated course module for our aspirants so as to prepare them for all the stages of the exams. New Regular and Weekend batches are starting soon. Register today for a free demo class."
    />
    <meta
      name="keywords"
      content="Best IAS &amp; UPSC Coaching Center in India - Vajirao IAS Academy"
    />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <% include include/header.ejs %>
    <!--==============================
    Breadcumb
============================== -->
    <div
      class="breadcumb-wrapper"
      data-bg-src="assets/img/bg/bg.webp"
      data-overlay="title"
      data-opacity="8"
    >
      <div class="breadcumb-shape"></div>
      <div
        class="shape-mockup breadcumb-shape2 jump d-lg-block d-none"
        data-right="30px"
        data-bottom="30px"
      ></div>
      <div
        class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none"
        data-left="50px"
        data-bottom="80px"
      ></div>
      <div class="container">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">
            UPSC <span style="color: rgb(255, 166, 0)">Syllabus</span>
          </h1>
          <ul class="breadcumb-menu">
            <li><a href="/">Home</a></li>
            <li style="color: rgb(255, 166, 0)">UPSC Syllabus</li>
          </ul>
        </div>
      </div>
    </div>
    <!--==============================
Faq Area
==============================-->
    <div class="overflow-hidden space" >
      <div class="container">
        <div
          class="row"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div class="col-xl-10 order-xl-1">
            <div class="me-xl-5">
              <!-- <div class="title-area">
                
              </div> -->
              <div
                class="row justify-content-center justify-content-xl-between align-items-end"
              >
                <div class="col-xl-8 mb-n2 mb-xl-0">
                  <div class="title-area text-center text-xl-start">
                    <h2 class="sec-title">
                      About The
                      <span style="color: #feb400">Civil Services</span> Exam
                    </h2>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="sec-btn">
                    <a href="about.html" class=""
                      ><b> Download UPSC Syllabus</b
                      ><i class="fas fa-download ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="accordion-area accordion" id="faqAccordion">
                <div class="accordion-card">
                  <div class="accordion-header" id="collapse-item-1">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse-1"
                      aria-expanded="false"
                      aria-controls="collapse-1"
                    >
                      Phase 1: Prelims Examination Syllabus
                    </button>
                  </div>
                  <div
                    id="collapse-1"
                    class="accordion-collapse collapse"
                    aria-labelledby="collapse-item-1"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <!-- <p class="faq-text">
                      The duration of our IAS coaching program in Delhi varies
                      from 6 months to 1 year, depending on the course
                      selected.
                    </p> -->
                      <div class="title-area mb-40">
                        <h5 class="sec-title">
                          Syllabus for Paper I (General Studies)
                        </h5>

                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>
                              Current events of national and international
                              importance
                            </li>
                            <li>
                              History of India and Indian National Movement
                            </li>
                            <li>
                              Indian and World Geography – Physical, Social,
                              Economic Geography of India and the World
                            </li>
                            <li>
                              Indian Polity and Governance – Constitution,
                              Political System, Panchayati Raj, Public Policy,
                              Rights Issues, etc.
                            </li>
                            <li>
                              Economic and Social Development – Sustainable
                              Development, Poverty, Inclusion, Demographics,
                              Social Sector initiatives, etc.
                            </li>
                            <li>
                              General issues on Environmental Ecology,
                              Bio-diversity and Climate Change – that do not
                              require any subject specialization
                            </li>
                            <li>General Science</li>
                          </ul>
                        </div>
                      </div>

                      <div class="title-area mb-40">
                        <h5 class="sec-title">Syllabus for Paper II (CSAT)</h5>

                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Comprehension</li>
                            <li>
                              Interpersonal skills including communication
                              skills;
                            </li>
                            <li>Logical reasoning and analytical ability</li>
                            <li>Decision-making and problem solving</li>
                            <li>General mental ability</li>
                            <li>
                              Basic numeracy (numbers and their relations,
                              orders of magnitude, etc.) (Class X level), Data
                              interpretation (charts, graphs, tables, data
                              sufficiency etc. – Class X level)
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-card active">
                  <div class="accordion-header" id="collapse-item-2">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse-2"
                      aria-expanded="true"
                      aria-controls="collapse-2"
                    >
                      What is the Preliminary Test?
                    </button>
                  </div>
                  <div
                    id="collapse-2"
                    class="accordion-collapse collapse show"
                    aria-labelledby="collapse-item-2"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <p class="faq-text">
                        <b>
                          The UPSC mains exam consists of 9 papers, in which two
                          are qualifying papers of 300 marks each:</b
                        >
                      </p>
                      <div class="title-area mb-40">
                        <!-- <h5 class="sec-title">
                        Syllabus for Paper I (General Studies)
                      </h5> -->

                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Any Indian Language</li>
                            <li>English</li>
                          </ul>
                        </div>
                      </div>

                      <div class="title-area mb-40">
                        <h5 class="sec-title">
                          English: 300 marks – Qualifying nature – Marks not
                          counted- Passing mandatory
                        </h5>
                        <p class="faq-text">
                          <b>
                            The aim of the paper is to test the candidates’
                            ability to read and understand serious discursive
                            prose, and to express his ideas clearly and
                            correctly, in English and Indian Language concerned.
                            The pattern of questions would be broadly as
                            follows:-</b
                          >
                        </p>

                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Comprehension of given passages</li>
                            <li>Precis Writing</li>
                            <li>Usage and Vocabulary</li>
                            <li>Short Essay</li>
                          </ul>
                        </div>
                      </div>

                      <div class="title-area mb-40">
                        <h5 class="sec-title">
                          Hindi or any language in the 8th schedule of the
                          constitution: 300 Marks – Qualifying nature – Marks
                          not counted – Passing mandatory
                        </h5>

                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Comprehension of given passages</li>
                            <li>Precis Writing</li>
                            <li>Usage and Vocabulary</li>
                            <li>Short Essay</li>
                            <li>
                              Translation from English to the Indian language
                              and vice-versa
                            </li>
                          </ul>
                        </div>
                        <p>
                          <strong>Note 1:</strong> The Papers on Indian
                          Languages and English will be of Matriculation or
                          equivalent standard and will be of qualifying nature
                          only. The marks obtained in these papers will not be
                          counted for ranking.
                        </p>
                        <p>
                          <strong>Note 2:</strong> The candidates will have to
                          answer the English and Indian Languages papers in
                          English and the respective Indian language (except
                          where translation is involved).
                        </p>

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <td><strong>Paper</strong></td>
                              <td><strong>Subject</strong></td>
                              <td><strong>Marks</strong></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><strong>Paper – I</strong></td>
                              <td>
                                <strong>Essay</strong>&nbsp;Can be written in
                                the medium or language of the candidate’s choice
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-II</strong></td>
                              <td>
                                <strong>General Studies- I&nbsp;</strong>(Indian
                                Heritage and Culture,<br />
                                History and Geography of the World and Society)
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-III</strong></td>
                              <td>
                                <strong>General Studies- II&nbsp;</strong
                                >(Governance, Constitution, Polity, Social
                                Justice and International relations)
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-IV</strong></td>
                              <td>
                                <strong>General Studies- III&nbsp;</strong
                                >(Technology, Economic Development,
                                Bio-diversity, Environment, Security and
                                Disaster Management)
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-V</strong></td>
                              <td>
                                <strong>General Studies- IV</strong
                                >&nbsp;(Ethics, Integrity and Aptitude)&nbsp;<em
                                  ><strong
                                    >(Marks carried by General Studies was
                                    4X250=1000)</strong
                                  ></em
                                >
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-VI</strong></td>
                              <td>
                                <strong
                                  >Optional Subject – Paper 1&nbsp;</strong
                                >
                              </td>
                              <td>250</td>
                            </tr>
                            <tr>
                              <td><strong>Paper-VII</strong></td>
                              <td>
                                <strong
                                  >Optional Subject – Paper II&nbsp;</strong
                                ><em
                                  ><strong
                                    >(Candidate is allowed to take up literature
                                    as an optional subject” and candidate need
                                    not to be a graduate in that language’s
                                    literature.)</strong
                                  ></em
                                >
                              </td>
                              <td>250</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-card">
                  <div class="accordion-header" id="collapse-item-3">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse-3"
                      aria-expanded="false"
                      aria-controls="collapse-3"
                    >
                      Phase-3: Interview/ Personality Test (275 marks)
                    </button>
                  </div>
                  <div
                    id="collapse-3"
                    class="accordion-collapse collapse"
                    aria-labelledby="collapse-item-3"
                    data-bs-parent="#faqAccordion"
                  >
                    <div class="accordion-body">
                      <p>
                        This is the last stage of the Civil Services Examination
                        before the final results are declared. Officially it is
                        called the Interview/Personality Test and known to be a
                        part of the Mains Examination for merit ranking
                        purposes. From a preparation point of view, it is
                        considered the third stage as preparation strategies and
                        approaches for the written and interview stages are
                        different. As per the IAS exam pattern, this consists of
                        an interview by the UPSC board to assess the candidates’
                        suitability for a civil services career and associated
                        responsibilities attached to the post. The board
                        consists of competent and unbiased observers who have a
                        record of the candidates’ career (filled by the
                        candidate in the Detailed Application Form). The board
                        would judge the candidates mental, emotional and social
                        traits by asking questions of general interest. Some of
                        the qualities that the board looks for are mental
                        alertness, critical powers of assimilation, attitude,
                        clear and logical exposition, a balance of judgement,
                        variety and depth of interest, ability for social
                        cohesion and leadership, team work, intellectual and
                        moral integrity.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==============================
All Branches admission Area  
==============================-->
    <div
      class="why-sec-v2 overflow-hidden space"
      data-bg-src="assets/img/bg/why-bg-2.png"
    >
      <div
        class="shape-mockup why2-shape-1 spin"
        data-top="40%"
        data-right="6%"
      >
        <img src="assets/img/normal/wcu_2_shape1.png" alt="img" />
      </div>
      <div
        class="shape-mockup why2-shape-2 jump"
        data-bottom="25%"
        data-left="3%"
      >
        <img src="assets/img/normal/blog-3-bg-shape.png" alt="img" />
      </div>
      <div class="container">
        <div class="row align-items-center">
        
          <div class="col-xl-12 order-xl-1">
            <div class="wcu-wrap2">
              <div class="row g-4">
                <div class="col-sm-12 col-md-12">
                  <div class="wcu-box style2">
                
                    <div class="wcu-box_details">
                      <h3 class="h5 wcu-box_title " style="
                      background-color: #e2e6ff;
                      padding: 10px;
                      border-radius: 10px;
                      margin-bottom: 20px;
                    ">
                        QUALIFYING PAPERS ON INDIAN LANGUAGES AND ENGLISH
                      </h3>
                      <p
                        class="wcu-box_text"
                        
                      >
                        <b
                          >The aim of the paper is to test the candidates'
                          ability to read and understand serious discursive
                          prose, and to express ideas clearly and correctly, in
                          English and Indian language.</b
                        >
                      </p>

                      <div class="title-area mb-40">
                        <h6 class="wcu-box_text mt-3" style="padding: 10px">
                          The pattern of questions would be broadly as follows :
                        </h6>
                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>Comprehension of given passages.</li>
                            <li>Precise Writing.</li>
                            <li>Usage and Vocabulary.</li>
                            <li>Short Essays.</li>
                          </ul>
                        </div>
                      </div>

                      <div class="title-area mb-40">
                        <h6 class="wcu-box_text mt-3" style="padding: 10px">
                          Indian Languages :—
                        </h6>
                        <div class="checklist mt-35 mb-40">
                          <ul>
                            <li>comprehension of given passages.</li>
                            <li>Precise Writing.</li>
                            <li>Usage and Vocabulary.</li>
                            <li>Short Essays.</li>
                            <li>
                              Translation from English to the Indian Language
                              and vice-versa.
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--==============================
ESSAY PAPER
==============================-->
<div class="overflow-hidden space" >
    <div class="container">
      <div
        class="row"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="col-xl-10 order-xl-1">
          <div class="me-xl-5">
            <!-- <div class="title-area">
              
            </div> -->
            <div
              class="row justify-content-center justify-content-xl-between align-items-end"
            >
              <div class="col-xl-12 mb-n2 mb-xl-0">
                <div class="title-area text-center text-xl-start">
                  <h2 class="sec-title">
                    <span style="color: #fe0000">ESSAY</span> PAPER
                    
                  </h2>
                  <p><b> Candidates may be required to write essays on multiple topics. They will be expected to keep closely to the subject of the essay to arrange their ideas in orderly fashion, and to write concisely. Credit will be given for effective and exact expression.</b></p>
                </div>
              </div>
             
            </div>
            <div class="accordion-area accordion" id="faqAccordion">
              <div class="accordion-card ">
                <div class="accordion-header" id="collapse-item-12">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-12"
                    aria-expanded="false"
                    aria-controls="collapse-12"
                  >
                  Syllabus of General Studies Paper – I
                  </button>
                </div>
                <div
                  id="collapse-12"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-12"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p class="faq-text">
                    <b>General Studies Paper – I: Indian Heritage and Culture, History and Geography of the World and Society</b>
                  </p>
                    <div class="title-area mb-40">
                      
                      <div class="checklist mt-35 mb-40">
                        <ul>
                            <li> Indian culture will cover the salient aspects of Art
                                Forms, Literature and Architecture from ancient to&nbsp;modern times.</li>
                            <li> Modern Indian history from about the middle of the
                                eighteenth century until the present significant&nbsp;events, personalities, issues.
                            </li>
                            <li> The Freedom Struggle – its various stages and important
                                contributors or contributions from different&nbsp;parts of the country.</li>
                            <li> Post-independence consolidation and reorganization
                                within the country.</li>
                            <li> History of the world will include events from 18th
                                century such as industrial revolution, world wars,&nbsp;redrawal of national
                                boundaries, colonization, decolonization, political philosophies like
                                communism,&nbsp;capitalism, socialism etc. – their forms and effect on the society.
                            </li>
                            <li> Salient features of Indian Society, Diversity of India.
                            </li>
                            <li> Role of women and women’s organization, population and
                                associated issues, poverty and&nbsp;developmental issues, urbanization, their
                                problems and their remedies.</li>
                            <li> Effects of globalization on Indian society.</li>
                            <li> Social empowerment, communalism, regionalism &amp;
                                secularism.</li>
                            <li> Salient features of world’s physical geography.</li>
                            <li> Distribution of key natural resources across the world
                                (including South Asia and the Indian subcontinent); factors responsible for the
                                location of primary, secondary, and tertiary sector industries in&nbsp;various parts
                                of the world (including India).</li>
                            <li> Important Geophysical phenomena such as earthquakes,
                                Tsunami, Volcanic activity, cyclone etc.,&nbsp;geographical features and their
                                location – changes in critical geographical features (including waterbodies and
                                ice-caps) and in flora and fauna and the effects of such changes.</li>
                        </ul>
                      </div>
                    </div>

                    
                  </div>
                </div>
              </div>

              <div class="accordion-card active">
                <div class="accordion-header" id="collapse-item-13">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-13"
                    aria-expanded="true"
                    aria-controls="collapse-13"
                  >
                  Syllabus of General Studies Paper – II
                  </button>
                </div>
                <div
                  id="collapse-13"
                  class="accordion-collapse collapse show"
                  aria-labelledby="collapse-item-13"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p class="faq-text">
                      <b>
                        General Studies Paper – II: Governance, Constitution, Polity, Social Justice and International relations</b
                      >
                    </p>
                    <div class="title-area mb-40">
                      <!-- <h5 class="sec-title">
                      Syllabus for Paper I (General Studies)
                    </h5> -->

                      <div class="checklist mt-35 mb-40">
                        <ul>
                            <li> Indian Constitution- historical underpinnings,
                                evolution, features, amendments, significant provisions&nbsp;and basic structure.
                            </li>
                            <li> Functions and responsibilities of the Union and the
                                States, issues and challenges pertaining to the&nbsp;federal structure, devolution
                                of powers and finances up to local levels and challenges therein.</li>
                            <li> Separation of powers between various organs dispute
                                redressal mechanisms and institutions.</li>
                            <li> Comparison of the Indian constitutional scheme with
                                that of other countries.</li>
                            <li> Parliament and State Legislatures – structure,
                                functioning, conduct of business, powers &amp; privileges&nbsp;and issues arising
                                out of these.</li>
                            <li> Structure, organization and functioning of the
                                Executive and the Judiciary Ministries and Departments&nbsp;of the Government;
                                pressure groups and formal/informal associations and their role in the Polity.</li>
                            <li> Salient features of the Representation of People’s Act.
                            </li>
                            <li> Appointment to various Constitutional posts, powers,
                                functions and responsibilities of various&nbsp;Constitutional Bodies.</li>
                            <li> Statutory, regulatory and various quasi-judicial
                                bodies.</li>
                            <li> Government policies and interventions for development
                                in various sectors and issues arising out of&nbsp;their design and implementation.
                            </li>
                            <li> Development processes and the development industry- the
                                role of NGOs, SHGs, various groups and&nbsp;associations, donors, charities,
                                institutional and other stakeholders.</li>
                            <li> Welfare schemes for vulnerable sections of the
                                population by the Centre and States and the&nbsp;performance of these schemes;
                                mechanisms, laws, institutions and Bodies constituted for the&nbsp;protection and
                                betterment of these vulnerable sections.</li>
                            <li> Issues relating to development and management of Social
                                Sector or Services relating to Health,&nbsp;Education, Human Resources.<br>
                                Issues relating to poverty and hunger.</li>
                            <li> Important aspects of governance, transparency and
                                accountability, e-governance- applications,&nbsp;models, successes, limitations, and
                                potential; citizens charters, transparency &amp; accountability
                                and&nbsp;institutional and other measures.</li>
                            <li> Role of civil services in a democracy.</li>
                            <li> India and its neighborhood- relations.</li>
                            <li> Bilateral, regional and global groupings and agreements
                                involving India and/or affecting India’s&nbsp;interests.</li>
                            <li> Effect of policies and politics of developed and
                                developing countries on India’s interests, Indian&nbsp;diaspora.</li>
                            <li> Important International institutions, agencies and
                                fora- their structure, mandate.</li>
                        </ul>
                      </div>
                    </div>

                   
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-14">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-14"
                    aria-expanded="false"
                    aria-controls="collapse-14"
                  >
                  Syllabus of General Studies Paper – III
                  </button>
                </div>
                <div
                  id="collapse-14"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-14"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>
                      <b>General Studies Paper – III: Technology, Economic Development, Bio diversity, Environment, Security and Disaster Management</b>
                    </p>

                    <div class="checklist mt-35 mb-40">
                        <ul>
                            <li> Indian Economy and issues relating to planning,
                                mobilization of resources, growth, development and&nbsp;employment.</li>
                            <li> Inclusive growth and issues arising from it.</li>
                            <li> Government Budgeting.</li>
                            <li> Major crops cropping patterns in various parts of the
                                country, different types of irrigation and&nbsp;irrigation systems storage,
                                transport and marketing of agricultural produce and issues and
                                related&nbsp;constraints; e-technology in the aid of farmers.</li>
                            <li> Issues related to direct and indirect farm subsidies
                                and minimum support prices; Public Distribution&nbsp;System- objectives,
                                functioning, limitations, revamping; issues of buffer stocks and food
                                security;&nbsp;Technology missions; economics of animal-rearing.</li>
                            <li> Food processing and related industries in India- scope
                                and significance, location, upstream and&nbsp;downstream requirements, supply chain
                                management.</li>
                            <li> Land reforms in India.</li>
                            <li> Effects of liberalization on the economy, changes in
                                industrial policy and their effects on industrial&nbsp;growth.</li>
                            <li> Infrastructure: Energy, Ports, Roads, Airports,
                                Railways, etc.</li>
                            <li> Investment models.</li>
                            <li> Science and Technology – developments and their
                                applications and effects in everyday life&nbsp;Achievements of Indians in science
                                &amp; technology; indigenization of technology and developing new&nbsp;technology.
                            </li>
                            <li> Awareness in the fields of IT, Space, Computers,
                                robotics, nano-technology, bio-technology and&nbsp;issues relating to intellectual
                                property rights.</li>
                            <li> Conservation, environmental pollution and degradation,
                                environmental impact assessment.</li>
                            <li> Disaster and disaster management.</li>
                            <li> Linkages between development and spread of extremism.
                            </li>
                            <li> Role of external state and non-state actors in creating
                                challenges to internal security.</li>
                            <li> Challenges to internal security through communication
                                networks, role of media and social networking&nbsp;sites in internal security
                                challenges, basics of cyber security; money-laundering and its prevention.</li>
                            <li> Security challenges and their management in border
                                areas; linkages of organized crime with&nbsp;terrorism.</li>
                            <li> Various Security forces and agencies and their mandate.
                            </li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>

              <div class="accordion-card">
                <div class="accordion-header" id="collapse-item-15">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-15"
                    aria-expanded="false"
                    aria-controls="collapse-15"
                  >
                  Syllabus of General Studies Paper – IV
                  </button>
                </div>
                <div
                  id="collapse-15"
                  class="accordion-collapse collapse"
                  aria-labelledby="collapse-item-15"
                  data-bs-parent="#faqAccordion"
                >
                  <div class="accordion-body">
                    <p>
                      <b style="color: #fe1500;">General Studies Paper – IV: Ethics, Integrity, and Aptitude</b>
                    </p>

                    <p>
                        <b>This paper will include questions to test the candidates’ attitude and approach to issues relating to integrity, probity in public life and his problem solving approach to various issues and conflicts faced by him in dealing with society. Questions may utilise the case study approach to determine these aspects. The following broad areas will be covered.</b>
                      </p>

                    <div class="checklist mt-35 mb-40">
                        <ul>
                            <li> Indian Economy and issues relating to planning,
                                mobilization of resources, growth, development and&nbsp;employment.</li>
                            <li> Inclusive growth and issues arising from it.</li>
                            <li> Government Budgeting.</li>
                            <li> Major crops cropping patterns in various parts of the
                                country, different types of irrigation and&nbsp;irrigation systems storage, transport
                                and marketing of agricultural produce and issues and related&nbsp;constraints;
                                e-technology in the aid of farmers.</li>
                            <li> Issues related to direct and indirect farm subsidies and
                                minimum support prices; Public Distribution&nbsp;System- objectives, functioning,
                                limitations, revamping; issues of buffer stocks and food security;&nbsp;Technology
                                missions; economics of animal-rearing.</li>
                            <li> Food processing and related industries in India- scope and
                                significance, location, upstream and&nbsp;downstream requirements, supply chain
                                management.</li>
                            <li> Land reforms in India.</li>
                            <li> Effects of liberalization on the economy, changes in
                                industrial policy and their effects on industrial&nbsp;growth.</li>
                            <li> Infrastructure: Energy, Ports, Roads, Airports, Railways,
                                etc.</li>
                            <li> Investment models.</li>
                            <li> Science and Technology – developments and their
                                applications and effects in everyday life&nbsp;Achievements of Indians in science &amp;
                                technology; indigenization of technology and developing new&nbsp;technology.</li>
                            <li> Awareness in the fields of IT, Space, Computers, robotics,
                                nano-technology, bio-technology and&nbsp;issues relating to intellectual property
                                rights.</li>
                            <li> Conservation, environmental pollution and degradation,
                                environmental impact assessment.</li>
                            <li> Disaster and disaster management.</li>
                            <li> Linkages between development and spread of extremism.</li>
                            <li> Role of external state and non-state actors in creating
                                challenges to internal security.</li>
                            <li> Challenges to internal security through communication
                                networks, role of media and social networking&nbsp;sites in internal security
                                challenges, basics of cyber security; money-laundering and its prevention.</li>
                            <li> Security challenges and their management in border areas;
                                linkages of organized crime with&nbsp;terrorism.</li>
                            <li> Various Security forces and agencies and their mandate.
                            </li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--==============================
Counter Area  
==============================-->

    <% include commonsection/counter.ejs %>
<!--==============================
Testimonial Area  
==============================-->
    <% include commonsection/testimonial.ejs %>
<!--==============================
Our Center Area  
==============================-->
    <% include commonsection/center.ejs %>

     <!--==============================
Contact Area  
==============================-->
<% include commonsection/contactform.ejs %>
<!--==============================
Footer Area  
==============================-->
    <% include include/footer.ejs %>
  </head>
</html>
