<!-- Favicons - Place favicon.ico in the root directory -->
<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/vajirao-fav-icon-144.png">
<link rel="manifest" href="assets/img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/img/favicons/vajirao-fav-icon-144.png">
<meta name="theme-color" content="#ffffff">

<!--==============================
  Google Fonts
============================== -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">


<!--==============================
    All CSS File
============================== -->
<!-- Bootstrap -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Fontawesome Icon -->
<link rel="stylesheet" href="assets/css/fontawesome.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
<!-- Slick Slider -->
<link rel="stylesheet" href="assets/css/slick.min.css">
<!-- Nice Select -->
<link rel="stylesheet" href="assets/css/nice-select.min.css">
<!-- Theme Custom CSS -->
<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


  <!-- [if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif] -->

  <!--==============================
Sidemenu
============================== -->
<div class="sidemenu-wrapper d-lg-block ">
  <div class="sidemenu-content">
    <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
    <div class="widget woocommerce widget_shopping_cart">


      <div class="contact-form-wrap-sidemenu ">
        <!-- <span class="sub-title">Contact With Us!</span> -->
        <h2 class="border-title" style="font-size: 28px;">ENQUIRE NOW</h2>
        <!-- <p class="mt-n1 mb-30 sec-text">Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        <form action="#" method="POST" class="contact-form ajax-contact">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control style-white" name="name" id="name" placeholder="Your Name*">
                <i class="fal fa-user"></i>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control style-white" name="email" id="email" placeholder="Email Address*">
                <i class="fal fa-envelope"></i>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <!-- <select name="subject" id="subject" class="single-select nice-select form-select style-white">
                                  <option value="" disabled selected hidden>Select Subject*</option>
                                  <option value="Web Design">Web Design</option>
                                  <option value="Web Development">Web Development</option>
                                  <option value="Engine Diagnostics">Engine Diagnostics</option>
                                  <option value="Digital Marketing">Digital Marketing</option>
                              </select> -->
                <select name="subject" id="subject" class="form-select style-white ">
                  <option value="" disabled selected hidden>Select Branches*</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Gurgaon">Gurgaon</option>
                  <option value="Indore">Indore</option>
                  <option value="Bhubaneswar">Bhubaneswar</option>
                </select>

              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="tel" class="form-control style-white" name="number" id="number" placeholder="Phone Number*">
                <i class="fal fa-phone"></i>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group ">
                <textarea name="message" id="message" cols="30" rows="3" class="form-control style-white" placeholder="Write Your Message*"></textarea>
                <i class="fal fa-pen"></i>
              </div>
            </div>
            <div class="form-btn col-12 mt-10">
              <button class="th-btn">Send Message<i class="fas fa-long-arrow-right ms-2"></i></button>
            </div>
          </div>
          <p class="form-messages mb-0 mt-3"></p>
        </form>
      </div>
    </div>
  </div>
</div>

  <!--********************************
       Code Start From Here 
******************************** -->

  <div class="popup-search-box popup1 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Faculty</h2>
          <hr>
          <p class="text-center">VAJIRAO IAS ACADEMY is privileged enough to have a bunch of experienced, enthusiastic and efficient faculties who are committed to shape the future of the Bureaucracy in the country. They are duly and well-versed with dynamics of the UPSC Syllabus and thus understand the importance of each and every topic. They tend to impart the same to the students. The study methods and tactics put to effect by our teachers helps the students develop a holistic view of the topics and thus are able to gain an extra edge over fellow aspirants.</p>
        </div>
      </div>
    </section>

  </div>
  <div class="popup-search-box popup2 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Study Materials</h2>
          <hr>
          <p class="text-center">The right books and study materials are the important pre-requisite to be possessed by any student while attempting to tackle the vagaries of UPSC. We understand our responsibility very well in this regard and thus develop state-of-art study materials for both Prelims and Mains for our students. We make sure that the materials provided are regularly updated and comply with the ever-evolving trends of the UPSC pattern. Rest assured, our quarterly current affair magazines cover all the important and burning topics- both national and international which have a high possibility being asked in the actual exams.</p>
        </div>
      </div>
    </section>

  </div>

  <div class="popup-search-box popup3 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Holistic Completion</h2>
          <hr>
          <p class="text-center">The Classroom courses of IAS Coaching Centers in Delhi are designed to cover the complete syllabus within a year. The Modules are categorized logically with one prime subject at a time, supplemented with weekly test and daily answer writing practices. The method thus adopted is holistic in approach i.e. we tend to take Prelims and Mains hand-in-hand. One cannot be neglected in the favor of other. This integrated approach of course completion has won us accolades from our achievers and students alike. After all, this is what VAJIRAO IAS ACADEMY is known for.</p>
        </div>
      </div>
    </section>

  </div>

  <div class="popup-search-box popup4 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Responsive Management</h2>
          <hr>
          <p class="text-center">Every student is important for us and so, we see to it that all our students are provided the same quality and quantity of coaching as regards to UPSC. The management is always on their toes to cater to the needs of our students – be it terms of queries, test series, doubt clearing sessions anything. We help the aspirants develop and stick to a Daily Study Plan and in the process take due care that they are clear about what all to study and what not to.As local guardians, we also assist out the students in getting proper accommodations. All you have to care about is on your studies and your dream. Rest is on us..!!!</p>
        </div>
      </div>
    </section>

  </div>

  <div class="popup-search-box popup5 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Weekly Answer Writing Practices</h2>
          <hr>
          <p class="text-center">Mere mugging up the topics mentioned in the syllabus won’t suffice. UPSC is much more than that. Our classroom courses for UPSC coaching classes in Delhi are followed by weekly tests and answer-writing practice in lieu of the UPSC mains examination. The tests help the students as well as our moderators to keep a tab of their performance and help them overcome their lacunae in the subsequent tests.</p>
        </div>
      </div>
    </section>

  </div>

  <div class="popup-search-box popup6 d-lg-flex">
    <button class="searchClose"><i class="fal fa-times"></i></button>

    <section class="space position-relative" style="width: 60%; margin: auto;">
      <div class="container text-center">
        <div class="title-area text-center mb-40">

          <h2 class="sec-title " style="color: darkorange;">Healthy Student - Teacher Ratio</h2>
          <hr>
          <p class="text-center">VAJIRAO IAS ACADEMY places significant emphasis on maintaining a healthy student-teacher ratio in its classes. This commitment stems from the belief that every student deserves individualized attention and support throughout their learning journey. By carefully managing the number of students per teacher, the academy aims to create an optimal learning environment where each student can thrive and receive the necessary guidance to excel academically.</p>
        </div>
      </div>
    </section>

  </div>



  <!--==============================
Mobile Menu
============================== -->
  <div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
      <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
      <div class="mobile-logo">
        <a href="/"><img src="assets/img/IAS-LOGO.png" alt="Vajiraoias-logo" class="img-fluid"></a>
      </div>
      <div class="th-mobile-menu">
        <ul>
          <li><img src="assets/img/Lord-Jagannatha.png" alt="Jai Jagannath" /></li>
          <li><a href="/">Home</a></li>
          <li class="menu-item-has-children">
            <a href="/about">About Us</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children">
                <a href="#">Study Center</a>
                <ul class="sub-menu">
                  <li><a href="/ias-coaching-delhi">Delhi</a>
                  </li>
                  <li><a href="/ias-coaching-gurgaon">Gurgaon</a>
                  </li>
                  <li><a href="/ias-coaching-indore">Indore</a>
                  </li>
                  <li><a href="/ias-coaching-bhubaneswar">Bhubaneswar</a>
                  </li>

                </ul>
              </li>
              <li><a href="/our-facilities">Our
                  Facilities</a></li>
              <li><a href="/our-achievements">Our
                  Achievements</a></li>
            </ul>
          </li>

          <li class="menu-item-has-children">
            <a href="#">Courses</a>
            <ul class="sub-menu">
              <li><a href="/offline-courses">Offline
                  Courses</a></li>
              <li><a href="/online-courses">Online
                  Courses</a></li>
              <li><a href="/postal-courses">Postal
                  Courses</a></li>
              <li><a href="/prelims-test-series-2024">Prelims
                  Test Series <img src="#" alt="" title="" /></a>
              </li>
              <li><a href="/mppsc-prelims-test-series-2024">MPPSC
                  Prelims Test
                  Series<img src="#" alt="" title="" /></a>
              </li>
              <li><a href="/oas-coaching-bhubaneswar">OAS
                  Coaching
                  Bhubaneswar</a></li>
                  <li><a href="/oas-mains-test-series-2022">OAS
                    Mains
                    Test Series 2022</a></li>

              <li><a href="/interview-guidance">Interview
                  Guidance</a></li>

            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Information</a>
            <ul class="sub-menu">
              <li><a href="/admission">Admission</a></li>
              <li><a href="/upsc-syllabus">UPSC
                  Syllabus</a></li>
              <li><a href="/opsc-syllabus">OPSC
                  Syllabus</a></li>

              <li><a href="/faq">FAQ</a></li>
              <li><a href="/testimonial">Testimonials</a>
              </li>
              <li><a href="https://www.vajiraoiasacademy.com/blog/" target="_blank">Blog</a></li>


            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Resources</a>
            <ul class="sub-menu">
              <li><a href="/prelims-previous-year-papers">Prelims
                  Previous
                  Year Papers</a></li>
              <li><a href="/upsc-mains-previous-year-papers">Mains
                  Previous
                  Year Papers</a></li>
              <li><a href="/ncert-books">NCERT Books</a>
              </li>
              <li class="menu-item-has-children">
                <a href="https://www.iasexam.com/category/current-affairs/" target="_blank">Current
                  Affairs</a>
                <ul class="sub-menu">
                  <li><a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" target="_blank">Daily</a></li>
                  <li><a href="https://www.iasexam.com/category/current-affairs/weekly-current-affairs/" target="_blank">Weekly</a></li>
                  <li><a href="https://www.iasexam.com/category/current-affairs/monthly-current-affairs/" target="_blank">Monthly</a></li>
                  <li><a href="https://www.iasexam.com/mains-hacker/" target="_blank">Mains
                      Hacker</a></li>
                  <li><a href="https://www.iasexam.com/prelims-cracker/" target="_blank">Prelims
                      Cracker</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="https://www.iasexam.com/category/editorials/" target="_blank">Editorials</a>
                <ul class="sub-menu">
                  <li><a href="https://www.iasexam.com/category/editorials/editorials-simplified/" target="_blank">Editorials Simplified</a></li>
                  <li><a href="https://www.iasexam.com/category/editorials/comprehensive-news-analysis/" target="_blank">Comprehensive News Analysis</a></li>
                </ul>
              </li>
              <li><a href="https://bit.ly/toperstalkplaylist">Toppers’ Talk</a>
              </li>
              <li class="menu-item-has-children"><a href="#">New Aspirant</a>
                <ul class="sub-menu">
                  <li><a href="#">NCERT
                      Books</a></li>
                  <li><a href="/recommended-books">Recommended
                      Books</a>
                  </li>
                </ul>
              </li>
              <li><a href="assets/img/UPSC-Annual-Calendar-2023.pdf" target="-blank">Annual Calendar for UPSC</a></li>
              <li><a href="/downloads">Downloads</a></li>


            </ul>
          </li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/online-admission">Online Admission</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!--==============================
Header Area
==============================-->
  <header class="th-header header-layout14 onepage-nav">
    <div class="header-layout10">
      <div class="header-top">
        <div class="container">
          <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
            <div class="col-auto d-none d-lg-block">
              <div class="header-links">
                <ul>
                  <li><i class="far fa-phone"></i><a href="tel:+91 7838900910">+91 7838900910</a></li>
                  <li class="d-none d-xl-inline-block"><i class="far fa-envelope"></i><a href="mailto:info@vajiraoiasacademy.com">info@vajiraoiasacademy.com</a></li>

                </ul>
              </div>
            </div>
            <div class="col-auto">
              <div class="header-links">
                <ul>
                  <li>
                    <div class="header-social">
                      <span class="social-title">Follow Us:</span>
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                      <a href="https://www.instagram.com/"><i class="fab fa-skype"></i></a>
                    </div>
                  </li>
                  <li class="d-none d-lg-inline-block">
                    <!-- <a href="/contact">Addmission Open</a> -->
                    <a href="/contact" class="th-btn ml-15 style2" style="padding: 10px 20px;">Free Demo Class</a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-wrapper">
      <div class="sticky-active">
        <!-- Main Menu Area -->
        <div class="menu-area">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <div class="header-logo">
                  <a href="/"><img src="assets/img/IAS-LOGO.png" alt="Vajiraoias-logo" class="img-fluid"></a>
                </div>
              </div>
              <div class="col-auto">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <nav class="main-menu d-none d-lg-inline-block">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li class="menu-item-has-children">
                          <a href="/about">About Us</a>
                          <ul class="sub-menu">
                            <li class="menu-item-has-children">
                              <a href="#">Study Center</a>
                              <ul class="sub-menu">
                                <li><a href="/ias-coaching-delhi">Delhi</a>
                                </li>
                                <li><a href="/ias-coaching-gurgaon">Gurgaon</a>
                                </li>
                                <li><a href="/ias-coaching-indore">Indore</a>
                                </li>
                                <li><a href="/ias-coaching-bhubaneswar">Bhubaneswar</a>
                                </li>

                              </ul>
                            </li>
                            <li><a href="/our-facilities">Our
                                Facilities</a></li>
                            <li><a href="/our-achievements">Our
                                Achievements</a></li>
                            <!-- <li><a href="#">Our Approach</a>
                                                    </li> -->


                          </ul>
                        </li>

                        <li class="menu-item-has-children">
                          <a href="#">Courses</a>
                          <ul class="sub-menu">
                            <li><a href="/offline-courses">Offline
                                Courses</a></li>
                            <li><a href="/online-courses">Online
                                Courses</a></li>
                            <li><a href="/postal-courses">Postal
                                Courses</a></li>
                            <li><a href="#">
                                Test Series <img src="#" alt="" title="" /></a>

                                <ul class="sub-menu">
                                  <li><a href="/prelims-test-series-2024">Prelims Test Series</a>
                                  </li>
                                 
                                  <li><a href="/mppsc-prelims-test-series-2024">MPPSC
                                    Prelims Test
                                    Series<img src="#" alt="" title="" /></a>
                                </li>
                                <li><a href="/oas-mains-test-series-2022">OAS
                                  Mains Program
                                  2022</a></li>
                                </ul>
                            </li>
                            


                            <li><a href="/oas-coaching-bhubaneswar">OAS
                                Coaching
                                Bhubaneswar</a></li>

                            <li><a href="/interview-guidance">Interview
                                Guidance</a></li>
                              
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="#">Information</a>
                          <ul class="sub-menu">
                            <li><a href="/admission">Admission</a></li>
                            <li><a href="/upsc-syllabus">UPSC
                                Syllabus</a></li>
                            <li><a href="/opsc-syllabus">OPSC
                                Syllabus</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/testimonial">Testimonials</a>
                            </li>
                            <li><a href="https://www.vajiraoiasacademy.com/blog/" target="_blank">Blog</a></li>
                          </ul>
                        </li>


                        <li class="menu-item-has-children">
                          <a href="#">Resources</a>
                          <ul class="sub-menu">
                            <li><a href="/prelims-previous-year-papers">Prelims
                                Previous
                                Year Papers</a></li>
                            <li><a href="/upsc-mains-previous-year-papers">Mains
                                Previous
                                Year Papers</a></li>

                            <li class="menu-item-has-children">
                              <a href="https://www.iasexam.com/category/current-affairs/" target="_blank">Current
                                Affairs</a>
                              <ul class="sub-menu">
                                <li><a href="https://www.iasexam.com/category/current-affairs/daily-current-affairs/" target="_blank">Daily</a></li>
                                <li><a href="https://www.iasexam.com/category/current-affairs/weekly-current-affairs/" target="_blank">Weekly</a></li>
                                <li><a href="https://www.iasexam.com/category/current-affairs/monthly-current-affairs/" target="_blank">Monthly</a></li>
                                <li><a href="https://www.iasexam.com/mains-hacker/" target="_blank">Mains
                                    Hacker</a></li>
                                <li><a href="https://www.iasexam.com/prelims-cracker/" target="_blank">Prelims
                                    Cracker</a></li>
                              </ul>
                            </li>
                            <li class="menu-item-has-children">
                              <a href="https://www.iasexam.com/category/editorials/" target="_blank">Editorials</a>
                              <ul class="sub-menu">
                                <li><a href="https://www.iasexam.com/category/editorials/editorials-simplified/" target="_blank">Editorials Simplified</a></li>
                                <li><a href="https://www.iasexam.com/category/editorials/comprehensive-news-analysis/" target="_blank">Comprehensive News Analysis</a></li>
                              </ul>
                            </li>
                            <li><a href="https://bit.ly/toperstalkplaylist">Toppers’ Talk</a>
                            </li>
                            <li class="menu-item-has-children"><a href="#">New Aspirant</a>
                              <ul class="sub-menu">
                                <li><a href="/ncert-books">NCERT
                                    Books</a></li>
                                <li><a href="/recommended-books">Recommended
                                    Books</a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="assets/img/UPSC-Annual-Calendar-2023.pdf" target="-blank">Annual Calendar for UPSC</a></li>
                            <li><a href="/downloads">Downloads</a></li>


                          </ul>
                        </li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/online-admission">Online Admission</a>
                        </li>
                        <li><img src="assets/img/Lord-Jagannatha.png" alt="Jai Jagannath" /></li>
                      </ul>
                    </nav>
                    <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="logo-bg"></div>
        </div>
      </div>
    </div>
  </header>