<section class="space overflow-hidden">
    <div class="container">
      <div class="title-area text-center">
        <h4 class="sec-title">Our All Centers</h4>
      </div>
      <div class="process-card-area">
        <div
          class="row gy-50 justify-content-center slider-shadow th-carousel category-slider"
          data-slide-show="4"
          data-ml-slide-show="3"
          data-md-slide-show="2"
          data-sm-slide-show="2"
          data-arrows="true"
          data-xl-arrows="true"
        >
          <div class="col-md-6 col-lg-4 process-card-wrap">
            <div
              class="process-card shadow p-4 bg-smoke feature-list"
              style="border-radius: 10px"
            >
              <div class="process-card_img">
                <img src="assets/img/process/delhi-1.png" alt="img" />
              </div>

              <h4 class="box-title">Delhi</h4>
              <p class="process-card_text">
                E-365, 2nd Floor, Nirman Vihar Metro Station, Gate No-4,
                Pillar No-64, Vikas Marg,New Delhi, Pin No.-110092
              </p>
              <div class="feature-wrap mt-4">
                <!-- <div class="feature_icon">
                              <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                          </div> -->
                <div class="media-body">
                  <h3 class="box-title">
                    <a href="#">8800533302/8800533352</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 process-card-wrap">
            <div
              class="process-card shadow p-4 bg-smoke feature-list"
              style="border-radius: 10px"
            >
              <div class="process-card_img">
                <img src="assets/img/process/gurgoan-1.png" alt="img" />
              </div>

              <h4 class="box-title">Gurugram</h4>
              <p class="process-card_text">
                NM 22, Block 22, 1st Floor, Old DLF Colony, Sector 14,
                Gurgaon-122001, Haryana <br />
              </p>
              <div class="feature-wrap mt-4">
                <!-- <div class="feature_icon">
                              <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                          </div> -->
                <div class="media-body">
                  <h3 class="box-title">
                    <a href="#">7838900910/9599910072</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 process-card-wrap">
            <div
              class="process-card shadow p-4 bg-smoke feature-list"
              style="border-radius: 10px"
            >
              <div class="process-card_img">
                <img src="assets/img/process/bbsr-1.png" alt="img" />
              </div>

              <h4 class="box-title">Bhubaneswar</h4>
              <p class="process-card_text">
                Plot No- 2273/4103, 2nd Floor, Biju Pattanaik College Road,
                Jayadev Vihar Square, Bhubaneswar, Odisha-751013
              </p>
              <div class="feature-wrap mt-4">
                <!-- <div class="feature_icon">
                              <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                          </div> -->
                <div class="media-body">
                  <h3 class="box-title">
                    <a href="#">7682823980/7682823981</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 process-card-wrap">
            <div
              class="process-card shadow p-4 bg-smoke feature-list"
              style="border-radius: 10px"
            >
              <div class="process-card_img">
                <img src="assets/img/process/indore-1.png" alt="img" />
              </div>

              <h4 class="box-title">Indore Campus-1</h4>
              <p class="process-card_text">
                2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main
                Ab Road, Indore, Madhya Pradesh-452014
              </p>
              <div class="feature-wrap mt-4">
                <!-- <div class="feature_icon">
                              <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                          </div> -->
                <div class="media-body">
                  <h3 class="box-title">
                    <a href="#">9993110172/9599910172</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 process-card-wrap">
            <div
              class="process-card shadow p-4 bg-smoke feature-list"
              style="border-radius: 10px"
            >
              <div class="process-card_img">
                <img src="assets/img/process/indore-1.png" alt="img" />
              </div>

              <h4 class="box-title">Indore Campus-2</h4>
              <p class="process-card_text">
                2nd Floor, Office No-202, Regency Udayveer, Vishnupuri, Main
                Ab Road, Indore, Madhya Pradesh-452014
              </p>
              <div class="feature-wrap mt-4">
                <!-- <div class="feature_icon">
                              <img src="assets/img/icon/mobile-phone.svg" alt="Icon">
                          </div> -->
                <div class="media-body">
                  <h3 class="box-title">
                    <a href="#">9993110172/9599910172</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>