    <!--==============================
    Skider Area
============================== -->
   

<div class="container-fluid">
    <div class="breadcumb-content text-center">
       
        <div class="video-wrap mb-30 th-carousel ">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">

            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">

            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
            <img src="assets/img/delhi-toppers/akshat.jpg" alt="img">
        </div>
    </div>
</div>

<!--==============================
Toppers Area  
==============================-->
<section class="space  overflow-hidden" id="team-sec">

<div class="container">
    <div class="title-area text-center">
        
        <h2 class="sec-title">Meet Our Toppers</h2>
    </div>
    <div class="row th-carousel slider-shadow" data-slide-show="6" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1">
        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/kasturi.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Kasturi Panda</h3>
                    <span >AIR-67, UPSC-2022</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/anu.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Anu Kumari</h3>
                    <span >AIR-2, UPSC-2017</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/akshat-jain.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Akshat Jain</h3>
                    <span >AIR-2, UPSC-2018</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/subham-ias.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Subham Kumar</h3>
                    <span >AIR-1, UPSC-2019</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/Rishab-ca.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Rishab CA</h3>
                    <span >AIR-23, UPSC-2018</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/Ayushi-pradhan.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Ayushi Pradhan</h3>
                    <span >AIR-334, UPSC-2022</span>
                </div>
            </div>
        </div>

        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/Shruti-sharma.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Shruti Sharma</h3>
                    <span >AIR-1, UPSC-2021</span>
                </div>
            </div>
        </div>
        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/Pradeep.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Pradeep Kumar</h3>
                    <span >AIR-1, UPSC-2019</span>
                </div>
            </div>
        </div>
        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/pradeep-singh.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Rishab Mandal</h3>
                    <span >AIR-58, UPSC-2018</span>
                </div>
            </div>
        </div>
        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/garima-luhiya.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Garima Lohia</h3>
                    <span >AIR-2, UPSC-2022</span>
                </div>
            </div>
        </div>
         <!-- Single Item -->
         <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/kajal.jawala.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Kajal Jawala</h3>
                    <span >AIR-28, UPSC-2018</span>
                </div>
            </div>
        </div>
        <!-- Single Item -->
        <div class="col-lg-6">
            <div class="team-card style2">
                <div class="team-img-wrap">
                    
                    <div class="team-img">
                        <img src="assets/img/team/sanjita -mohapatra.png" alt="Team">
                    </div>
                   
                </div>
                <div class="team-content">
                    <h3 class="team-title">Sanjita Mohapatra</h3>
                    <span >AIR-10, UPSC-2019</span>
                </div>
            </div>
        </div>

         <!-- Single Item -->
        
    </div>
</div>
</section>

<!--==============================
Services Area  
==============================-->
<section class="service-sec space bg-smoke" style='padding-top: 30px;'>
<div class="container">
    <div class="title-area text-center">
        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> OUR SERVICES</span> -->
        <h2 class="sec-title">Our Services</h2>
    </div>

    <div class="row th-carousel service-slider1 slider-shadow" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1">
        <div class="col-md-6 col-xl-4 ">
            <div class="service-card">
                <div class="service-card-icon">
                    <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                </div>
                <div class="service-card-content ">
                    <h3 class="box-title"><a href="service-details.html">Classroom Courses</a></h3>
                    <p class="service-card-text">Prepare for the UPSC Examinations at our state-of-the-art Classrooms.</p>
                    <div class="service-card-img">
                        <img src="assets/img/service/ofline.webp" alt="img">
                        <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="service-card">
                <div class="service-card-icon">
                    <img class="svg-img" src="assets/img/icon/postal.svg" alt="icon">
                </div>
                <div class="service-card-content">
                    <h3 class="box-title"><a href="service-details.html">Postal Courses</a></h3>
                    <p class="service-card-text">Get access to our finest UPSC Study materials delivered at your doorstep.</p>
                    <div class="service-card-img">
                        <img src="assets/img/service/postal-img.webp" alt="postal">
                        <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="service-card">
                <div class="service-card-icon">
                    <img class="svg-img" src="assets/img/icon/online.svg" alt="icon">
                </div>
                <div class="service-card-content">
                    <h3 class="box-title"><a href="service-details.html">Online Courses</a></h3>
                    <p class="service-card-text">Join our online courses and study from the comforts of your home. </p>
                    <div class="service-card-img">
                        <img src="assets/img/service/online.webp" alt="img">
                        <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="service-card">
                <div class="service-card-icon">
                    <img class="svg-img" src="assets/img/icon/tesrserese.svg" alt="icon">
                </div>
                <div class="service-card-content">
                    <h3 class="box-title"><a href="service-details.html">UPSC Test Series</a></h3>
                    <p class="service-card-text">Join our All India Prelims and Mains Test Series for UPSC CSE. </p>
                    <div class="service-card-img">
                        <img src="assets/img/service/test series.webp" alt="img">
                        <a href="service-details.html" class="icon-btn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>
</section>

<!--==============================
Courses We Provide  
==============================-->
<div class="overflow-hidden position-relative space" id="team-sec" style="padding-bottom: 30px;">
<div class="shape-mockup instructor-bg-shape1 jump d-lg-block d-none" data-left="3%" data-bottom="30%">
    <!-- <img src="assets/img/normal/blog-3-bg-shape.png" alt="img"> -->
</div>
<div class="instructor_bg_shape2 shape-mockup d-xl-block d-none" data-left="-15%" data-top="3%">
    <!-- <img src="assets/img/normal/instructor_1_shape1.png" alt="img"> -->
</div>
<div class="container">
    
    <div class="row d-flex justify-content-center align-items-center">
        
        <div class="col-xl-6 order-xl-2">
           
            <div class="become-instructor-img mb-5 mb-xl-0 ms-xl-5 tilt-active">
                <a href="/contact"><img src="assets/img/normal/CTA button image.png" alt="img"></a> 
             </div>
        </div>
        <div class="col-xl-6 order-xl-1">
            <div class="title-area mb-30">
                <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> Instructor</span> -->
                <h5 class="sec-title" style="color: #FEB400;">Courses We Provide</h5>
            </div>
            <table class="table shadow-sm table-bordered table-hover" >
                <thead>
                  <tr style="background-color: #082343;">
                    <th scope="col" style="color: #fff;">Sr.</th>
                    <th scope="col" style="color: #fff;">Types of Courses and Features</th>
                    
                  </tr>
                </thead>
                <tbody style="background-color: #fe44001f;">
                  <tr>
                    <th scope="row">1</th>
                    <td>Prelims cum Mains (GS only)</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>GS – Integrated(Prelims GS + Mains GS + Essay+CSAT+ Prelims Test + Mains Test)</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >Combined Package GS (Integrated) + English + Optional</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Optional Subject(Geography/ Sociology/History/Pol.Sc.)</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Prelims Test Series</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td >Mains Test Series</td>                    
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Foundation (GS) for 1 Year</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>CSAT</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td colspan="2">Current Affairs</td>
                    
                  </tr>
                </tbody>
                
              </table>
             
        </div>
    </div>
</div>
<div class="container mt-10">
    
    <div class="row d-flex justify-content-center align-items-center">
        
        
        <div class="col-xl-12 order-xl-1">
            <div class="title-area mb-30">
                <!-- <span class="sub-title"><i class="fal fa-book me-1"></i> Instructor</span> -->
                <h5 class="sec-title">Batch Timings for <span  style="color: #FEB400;">Civil Services Coaching in Delhi</span> </h5>
            </div>
            <table class="table shadow-sm table-bordered table-hover">
                <thead>
                  <tr style="background-color: #082343;">
                    <th scope="col" style="color: #fff;">
                        Sl. No.</th>
                    <th scope="col" style="color: #fff;">Batches</th>
                    <th scope="col" style="color: #fff;">Days</th>
                    
                  </tr>
                </thead>
                <tbody style="background-color: #fe44001f;">
                  <tr>
                    <th scope="row">1</th>
                    <td>Morning</td>
                    <td>Monday to Friday</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Evening</td>
                    <td>Monday to Friday</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Weekend Classes</td>
                    <td>Saturday and Sunday</td>
                    
                  </tr>
                  
                </tbody>
              </table>
              <a href="event-details.html" class="th-btn">Register</a>
        </div>
    </div>
</div>
</div>

<!--==============================
cta area  
==============================-->

<div class="container text-center mb-25 p-4" style="background-color: #082343;">
<div class="cta-wrap2">
    <div class="title-area text-center mb-35">
        <span style="color: aliceblue;" class="sub-title">For Details About Courses</span>
        <h2 class="sec-title text-white">Contact us for<span class="text-theme2"> Enquiry</span></h2>
        
    </div>
    <div class="btn-group justify-content-center">
        <a href="about.html" class="th-btn style3">Email Us</a>
        <a href="contact.html" class="th-btn style2">Call Us</a>
        <a href="about.html" class="th-btn style3">Visit Us</i></a>
    </div>
</div>
</div>