<div class="counter-area-2" style="background-color: #082343">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-xl-3 counter-card-wrap">
          <div class="counter-card">
            <h4 class="counter-card_number">
              <span class="counter-number">40</span>k<span class="fw-normal"
                >+</span
              >
            </h4>
            <p class="counter-card_text">
              <strong>Students</strong> Enrolled
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 counter-card-wrap">
          <div class="counter-card">
            <h4 class="counter-card_number">
              <span class="counter-number">10</span
              ><span class="fw-normal">+</span>
            </h4>
            <p class="counter-card_text"><strong>Total </strong>Courses</p>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 counter-card-wrap">
          <div class="counter-card">
            <h4 class="counter-card_number">
              <span class="counter-number">20</span>k<span class="fw-normal"
                >+</span
              >
            </h4>
            <p class="counter-card_text"><strong>Online </strong> Learners</p>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 counter-card-wrap">
          <div class="counter-card">
            <h4 class="counter-card_number">
              <span class="counter-number">90</span>k<span class="fw-normal"
                >+</span
              >
            </h4>
            <p class="counter-card_text">
              <strong>Social Media</strong> Followers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>