<section class="testi-area-2 bg-smoke space overflow-hidden">
    <div class="container">
      <div class="title-area text-center">
        <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Students Testimonials</span> -->
        <h4 class="sec-title">
          Topper’s Say’s About
          <span style="color: #feb400"> Vajirai IAS Academy</span>
        </h4>
      </div>
      <div class="row gx-5">
        <div class="col-xl-5">
          <div class="testi-thumb mb-xl-0 mb-5">
            <img src="assets/img/testimonial/topper-quotes.webp" alt="img" />
          </div>
        </div>
        <div class="col-xl-7">
          <div
            class="row testi-slider2 th-carousel"
            data-slide-show="1"
            data-lg-slide-show="1"
            data-md-slide-show="1"
            data-arrows="true"
          >
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “It was a lovely experience interacting with the students
                  here at the Academy. I wish the very best for the
                  Institution, its faculty and all the students. Hope the
                  names from Odisha increase in the coming years, with the
                  guidance being provided. All the very best! ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/shruti.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Shruti Sharma</h3>
                    <span class="testi-card_desig">AIR-1, CSE-2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “I wish the academy very best in its endeavors in providing
                  the right guidance to the aspiring candidates. Also I wish
                  “All the Best” to all the UPSC Aspirants. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/sanjita- mahapatra.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Sanjita Mohapatra</h3>
                    <span class="testi-card_desig">AIR-10, CSE-2019</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “I wish the academy very best in its endeavors in providing
                  the right guidance to the aspiring candidates. Also I wish
                  “All the Best” to all the UPSC Aspirants.”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/pradeep  ias.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Pradeep Singh</h3>
                    <span class="testi-card_desig">AIR-1, CSE-2019</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “Believe in yourself and you will surely achieve the
                  greatness you are meant to achieve”. The journey to UPSC CSE
                  will change you as a person – Enjoy it. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/kajal-jawla.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Kajal Jawla</h3>
                    <span class="testi-card_desig">AIR-28, CSE-2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “Vajirao IAS Academy has helped me a lot.They have an
                  excellent faculty team as well course content.They guide you
                  to all the three stages and motivate you constantly.I wish
                  you guys all the best. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/risab ca.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Rishab CA</h3>
                    <span class="testi-card_desig">AIR-23, CSE-2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “Best wishes to the institute and the students.Hope you
                  achieve your dreams and find success in the exam. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/akshyta.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Akshat Jain</h3>
                    <span class="testi-card_desig">AIR-2, CSE-2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “I hereby convey my heartfelt best wishes to the institute
                  to scale new heights and set new records while fulfilling
                  students’ dreams. May Odisha produce more and more number of
                  civil servants and your dedication and hard work bear
                  fruits. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/anu kumari.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Anu Kumari</h3>
                    <span class="testi-card_desig">AIR-2, CSE-2017</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testi-card">
                <div class="testi-card_quote">
                  <img src="assets/img/icon/testi-quote.svg" alt="quote" />
                </div>
                <p class="testi-card_text">
                  “Best Wishes to All Students!! Have confidence in yourself
                  and your mentors of VAJlRAO lAS ACADEMY and be patient. Your
                  commitment and hard work will get you results and definetely
                  you all will do wonders. ”
                </p>
                <div class="testi-card_profile">
                  <div class="testi-card_avater">
                    <img
                      src="assets/img/testimonial/chinmayee-dash.png"
                      alt="testimonial"
                    />
                  </div>
                  <div class="media-body">
                    <h3 class="testi-card_name">Chimayee Chetna Dash</h3>
                    <span class="testi-card_desig">Rank-1, OAS-2016</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>