<section class="space  overflow-hidden" id="team-sec">

    <div class="container">
        <div class="title-area text-center">
            
            <h2 class="sec-title">Meet Our Toppers</h2>
        </div>
        <div class="row th-carousel slider-shadow" data-slide-show="6" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1">
            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/kasturi.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Kasturi Panda</h3>
                        <span >AIR-67, UPSC-2022</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/anu.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Anu Kumari</h3>
                        <span >AIR-2, UPSC-2017</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/akshat-jain.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Akshat Jain</h3>
                        <span >AIR-2, UPSC-2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/subham-ias.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Subham Kumar</h3>
                        <span >AIR-1, UPSC-2019</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/Rishab-ca.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Rishab CA</h3>
                        <span >AIR-23, UPSC-2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/Ayushi-pradhan.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Ayushi Pradhan</h3>
                        <span >AIR-334, UPSC-2022</span>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/Shruti-sharma.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Shruti Sharma</h3>
                        <span >AIR-1, UPSC-2021</span>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/Pradeep.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Pradeep Kumar</h3>
                        <span >AIR-1, UPSC-2019</span>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/pradeep-singh.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Rishab Mandal</h3>
                        <span >AIR-58, UPSC-2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/garima-luhiya.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Garima Lohia</h3>
                        <span >AIR-2, UPSC-2022</span>
                    </div>
                </div>
            </div>
             <!-- Single Item -->
             <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/kajal.jawala.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Kajal Jawala</h3>
                        <span >AIR-28, UPSC-2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-6">
                <div class="team-card style2">
                    <div class="team-img-wrap">
                        
                        <div class="team-img">
                            <img src="assets/img/team/sanjita -mohapatra.png" alt="Team">
                        </div>
                       
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Sanjita Mohapatra</h3>
                        <span >AIR-10, UPSC-2019</span>
                    </div>
                </div>
            </div>

             <!-- Single Item -->
            
        </div>
    </div>
</section>