<div class="space overflow-hidden ">
    <div class="shape-mockup category_3_shape1 jump d-lg-block d-none" data-bottom="3%" data-right="-3%">
        <!-- <img src="assets/img/normal/category_3_shape1.png" alt="img"> -->
    </div>
    <div class="shape-mockup category_3_shape2 spin d-lg-block d-none" data-top="3%" data-left="-3%">
        <!-- <img src="assets/img/normal/category_3_shape2.png" alt="img"> -->
    </div>
    <div class="container">
        <div class="title-area text-center">
            <!-- <span class="sub-title"><i class="fal fa-book me-2"></i> Our Course Categories</span> -->
            <h2 class="sec-title">Why Choose Us</h2>
            <p>Delhi – The ‘Mecca’ of UPSC preparation is the home of numerous Civil Service Coaching Institutes. Every year, lakhs of budding aspirant arrive to the city with a dream to become a ‘BUREAUCRAT’. This is the place where aspirants not only learn the nuances of UPSC, but also witness behavioral changes in their personality and attitude, largely owing to the competitive environment, one gets to witness in the streets of the coaching hubs. <b> VAJIRAO IAS ACADEMY</b>, without a whisker of doubt is one of the best <b>IAS Coaching Institute in Delhi</b> . The reason, we say so comes down to certain unique features which makes us stand out from the rest. They can be summarized as follows:</p>
        </div>
        <div class="row gy-4 ">

            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_1.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">EXPERIENCED FACULTY</a></h3>
                        <span class="category-card_text">The Academy has a team of highly experienced and qualified faculty members who are experts in their respective fields. They have years of experience in teaching Civil Services</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup1">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2 cat-card2-active">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_2.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">COMPREHENSIVE STUDY MATERIAL</a></h3>
                        <span class="category-card_text">Vajirao IAS Academy provides comprehensive study material to its students. The study material is designed by experts and covers all the topics required for the</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup2">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2 ">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_3.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">AFFORDABLE FEES</a></h3>
                        <span class="category-card_text">We have a unique teaching methodology that focuses on imparting knowledge and skills to students in an easy and effective manner. The academy uses a combination of</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup3">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2 ">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_4.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">GOOD INFRASTRUCTURE</a></h3>
                        <span class="category-card_text">Vajirao IAS Academy offers courses at affordable prices. The fee structure varies depending on the course chosen by the student. The academy also offers</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup4">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2 ">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_5.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">INNOVATIVE TEACHING METHODOLOGY</a></h3>
                        <span class="category-card_text">Vajirao IAS Academy has state-of-the-art infrastructure that provides a comfortable and conducive learning environment to its students. The classrooms are spacious</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup6">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-xl-4 col-md-6">
                <div class="category-card style2 cat-card2 ">
                    <div class="category-card_icon">
                        <!-- <img src="assets/img/icon/category_3_6.svg" alt="icon"> -->
                        <img class="svg-img" src="assets/img/icon/classroom-svg.svg" alt="icon">
                    </div>
                    <div class="category-card_content">
                        <h3 class="box-title f-size"><a href="#">WEEKLY ANSWER WRITING PRACTICES</a></h3>
                        <span class="category-card_text">Mere mugging up the topics mentioned in the syllabus won’t suffice. UPSC is much more than that. Our classroom courses for UPSC coaching classes in Delhi are followed by weekly tests</span>
                        <a href="#" class="link-btn searchBoxToggler" data-popup="popup5">LEARN MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>